
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap/bootstrap.min.js"></script>
<script src="/assets/js/moment.js"></script>
<script src="/assets/js/demographics.js"></script>
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script src="/assets/js/generic_ajaxrequest.js"></script>
<script src="/assets/js/core.js"></script>

<style>

body {
 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */  
}

.div-table {
  width: 100%;
  display: table;
  border-collapse: separate;
   border-spacing: 10px;
}

.div-row {
  display: table-row;
}

.div-cell {
  display: table-cell;
}

.demographics {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  box-shadow: 1px 5px 10px #888888;
  width: 45%;
  height: 130px;
}

#relationships-container {
  width: 100%;
  height: 100%;
  box-shadow: 1px 5px 10px #888888;
}

.relationships-cells {
  border-style: solid;
  border-width: 1px;
  width: 88px;
  height: 75px;
  padding: 0px 15px 0px 15px;
  border-radius: 12px;
  box-shadow: 5px 10px #888888;
}

.btn-danger {
	float: left;
  border: 1px solid #ff6347;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 28px;
	font-family: arial, helvetica, sans-serif;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	display: inline-block;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	font-weight: bold;
	color: #FFFFFF;
	background-color: #ff6347;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6347), to(#ff6347));
	background-image: -webkit-linear-gradient(top, #ff6347, #ff6347);
	background-image: -moz-linear-gradient(top, #ff6347, #ff6347);
	background-image: -ms-linear-gradient(top, #ff6347, #ff6347);
	background-image: -o-linear-gradient(top, #ff6347, #ff6347);
	background-image: linear-gradient(to bottom, #a7cfdf, #ff6347);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ff6347, endColorstr=#ff6347);
}

.btn-blue {
	border: 1px solid #7eb9d0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 28px;
	font-family: arial, helvetica, sans-serif;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	display: inline-block;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	font-weight: bold;
	color: #FFFFFF;
	background-color: #a7cfdf;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
	background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);
	background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);
	background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);
	background-image: -o-linear-gradient(top, #a7cfdf, #23538a);
	background-image: linear-gradient(to bottom, #a7cfdf, #23538a);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a7cfdf, endColorstr=#23538a);
}

.btn-green {
	border: 1px solid #008000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 28px;
	font-family: arial, helvetica, sans-serif;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	display: inline-block;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	font-weight: bold;
	color: #FFFFFF;
	background-color: #a7cfdf;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#008000), to(#008000));
	background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);
	background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);
	background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);
	background-image: -o-linear-gradient(top, #a7cfdf, #23538a);
	background-image: linear-gradient(to bottom, #a7cfdf, #008000);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a7cfdf, endColorstr=#23538a);
}

.relationship-text {
  color: green;      
  /*color:steelblue;*/
  font-weight: bolder;
  font-style: initial;
}

.demographic-tables {
  width: 100%;
}

.demographic-tables th {
  text-align: left;
}

.icons {
  height: 22px;
  margin-bottom: -3px;
}

</style>


<link rel="stylesheet" href="/assets/css/maindashboard/footer.css">







<div class="div-table">

  <div class="div-row">
    <div class="div-cell demographics">
      <b>Patient:&nbsp;</b><span id="patient-table-person-name"></span>&nbsp;<img class="icons" id="patient-table-person-gender"/><br />
      <hr />
      <table id="patient-table" class="demographic-tables">
      </table>
    </div>
    <div class="div-cell demographics">
      <b>Guardian:&nbsp;</b><span id="guardian-table-person-name"></span>&nbsp;<img class="icons" id="guardian-table-person-gender"/><br />
      <hr />
      <table id="guardian-table" class="demographic-tables">
      </table>
    </div>
  </div>
  
</div>

<div class="div-table">
  <div class="div-row">
    <div class="div-cell">
      
      <div id="relationships-container">
        <div id="relationships" class="div-table">
          
          <div class="div-row">
            <div class="div-cell">
              <div class="div-table" id="relationships-a">
              </div>
            </div>
            <div class="div-cell">
              <div class="div-table" id="relationships-b">
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>
  </div>
</div>


<footer class="footer">
  <div class="container-footer">
    <button class="btn btn-danger buttons red" 
      style="width: 200px; font-size: 2rem;" 
      onmousedown="cancelRedirect();" id="logout">Cancel</button>

    <button class="btn btn-green buttons" 
      style="width: 200px; font-size: 2rem; margin-left: 10px;" 
      onmousedown="createRelationship();" id="logout">Finish</button>

    <button class="btn btn-blue buttons" 
      style="width: 280px; font-size: 2rem;" 
      onmousedown="newSearchRedirect();" id="logout">New Guardian</button>



  </div>
</footer> 














<script>


function buildGuardianRelationships() {

  var url = sessionStorage.apiProtocol + '://' + apiURL + ':' + apiPort + '/api/v1/types/relationships';
  var req = new XMLHttpRequest();
  req.onreadystatechange = function () {
    if (this.readyState == 4 && this.status == 200) {
      var guardian_options = JSON.parse(this.responseText);
      guardian_a = document.getElementById("relationships-a");
      guardian_b = document.getElementById("relationships-b");

      for (var i = 0; i < guardian_options.length; i++) {
        var divRow = document.createElement("div");
        divRow.setAttribute("class","div-row");
        if(i < 5)
          guardian_a.appendChild(divRow);

        if(i >= 5)
          guardian_b.appendChild(divRow);

          

        var divCell = document.createElement("div");
        divRow.appendChild(divCell);
        divCell.setAttribute("class","div-cell relationships-cells");
        divCell.setAttribute("onmousedown", "selectRelationship(this);");
        divCell.setAttribute("id", guardian_options[i].relationship_type_id);
        p1 = document.createElement("p");
        p1.innerHTML = "<b>Relationship</b>: <span class='relationship-text'>" + guardian_options[i].b_is_to_a + "</span>";
        p1.innerHTML += "<br /><b>Desc: </b> " + guardian_options[i].description;
        divCell.appendChild(p1);
      }
    }
  };
  try {
    req.open("GET", url, true);
    req.setRequestHeader('Authorization', sessionStorage.getItem("authorization"))
    req.send(null);
  } catch (e) {}

}

function selectRelationship(e) {
  var cells = document.getElementsByClassName("relationships-cells");
  for(var i = 0 ; i < cells.length; i++){
    cells[i].setAttribute("style", "background-color: white;");
  }
  e.setAttribute("style", "background-color: lightblue;");
  selected_relationship = e.id;
}


buildGuardianRelationships();


function getPerson(person_id, table) {

  var url = sessionStorage.apiProtocol + "://" + apiURL + ":" + apiPort + "/api/v1/patients/" + person_id;
  var req = new XMLHttpRequest();
  req.onreadystatechange = function () {
    if (this.readyState == 4 && this.status == 200) {
      var person = JSON.parse(this.responseText);
      buildDemographics(table, person);
    }
  };
  try {
    req.open('GET', url, true);
    req.setRequestHeader('Authorization', sessionStorage.getItem("authorization"))
    req.send(null);
  } catch (e) {}
}

var mainUrl = window.location.href;
var mainUrl = new URL(mainUrl);
var patientID = url.searchParams.get("patient_id");
var guardianID = url.searchParams.get("guardian_identifier");

var table = document.getElementById("patient-table");
getPerson(patientID, table);
table = document.getElementById("guardian-table");
getPerson(guardianID, table);


function buildDemographics(table, e) {
  var person_name = document.getElementById(table.id + "-person-name");
  person_name.innerHTML = e.person.names[0].given_name;
  person_name.innerHTML += " " + e.person.names[0].family_name;
  var tr = document.createElement("tr");
  table.appendChild(tr);

  var person_gender = document.getElementById(table.id + "-person-gender");
  try {
    var gender = e.person.gender.toUpperCase().charAt(0);
    var icon = (gender == 'F' ? "female.gif" : "male.gif");
    person_gender.setAttribute("src", "../../../assets/images/" + icon);
  }catch(x) {
    var gender = 'N/A';
  }


  var th = document.createElement("th");
  th.innerHTML = "Birthdate: ";
  tr.appendChild(th);

  var td = document.createElement("td");
  try {
    var dob = moment(e.person.birthdate).format("DD/MMM/YYYY");
  }catch(x) {
    var dob = "Not available";
  }
  td.innerHTML = dob;
  tr.appendChild(td);

  var tr = document.createElement("tr");
  table.appendChild(tr);

  var th = document.createElement("th");
  th.innerHTML = "Home address: ";
  tr.appendChild(th);

  var td = document.createElement("td");
  var address = e.person.addresses[0];
  td.innerHTML =  address.address2;
  td.innerHTML += " " + address.county_district;
  td.innerHTML += " " + address.neighborhood_cell; 
  tr.appendChild(td);
}

function cancelRedirect() {
  window.location = "/views/patient_dashboard.html?patient_id=" + patientID;
} 
      
function newSearchRedirect() {
  window.location = "/views/patient/relationships/guardian_search.html?patient_id=" + patientID;
}

var selected_relationship = null;

function createRelationship() {
  if(selected_relationship == null)
    return;

  buildWall(); 

  var url = apiProtocol + "://" + apiURL + ":" + apiPort + "/api/v1/people/" + patientID + "/relationships/";
  var processedParams = JSON.stringify({
    relationship_type_id: selected_relationship,
    relation_id: guardianID
  });
  

  var req = new XMLHttpRequest();
  req.onreadystatechange = function () {
    if (this.readyState == 4) {
      if ( (this.status == 201 || this.status == 200)) {
        sessionStorage.patientID = patientID;
        enrollProgram();
      }
    }
  };
  try {
    req.open('POST', url, true);
    req.setRequestHeader('Authorization', sessionStorage.getItem("authorization"))
    req.setRequestHeader('Content-type', "application/json");
    req.send(processedParams);
  } catch (e) {}
}
  

function enrollProgram() {
  var url = sessionStorage.apiProtocol + "://" + apiURL + ":" + apiPort + "/api/v1/patients/" + patientID + "/programs/";
  var processedParams = JSON.stringify({
    program_id: sessionStorage.programID,
    date_enrolled: moment(sessionStorage.sessionDate).format("YYYY-MM-DD")
  });
  

  var req = new XMLHttpRequest();
  req.onreadystatechange = function () {
    if (this.readyState == 4) {
      console.log(this.status)
      if ( (this.status == 201 || this.status == 200 || this.status == 409)) {
        nextEncounter(patientID, sessionStorage.programID, true);
      }
    }
  };
  try {
    req.open('POST', url, true);
    req.setRequestHeader('Authorization', sessionStorage.getItem("authorization"))
    req.setRequestHeader('Content-type', "application/json");
    req.send(processedParams);
  } catch (e) {}
}
  
function buildWall() {
  var submitCover = document.getElementById('submit-cover');
  if (submitCover){
      submitCover.parentNode.removeChild(submitCover);
  }

  var divCover = document.createElement('div');
  divCover.setAttribute('id','submit-cover');
  var wBody = document.getElementsByTagName('body')[0];
  
  var span = document.createElement('span');
  span.innerHTML = "<style>\
    #submit-cover {\
    position: absolute;\
    background-color: black;\
    width: 100%;\
    height: 102%;\
    left: 0%;\
    top: 0%;\
    z-index: 990;\
    opacity: 0.65;\
  }\
  </style>";
  
  try {
    wBody.appendChild(span);
    wBody.appendChild(divCover);
  }catch(i) {}
}
</script>
