<!DOCTYPE html>
<html lang="en">
   <head>
      <title>VITALS</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/apps/core/assets/css/bootstrap/bootstrap.min.css">
      <link rel="stylesheet" href="/apps/core/assets/css/maindashboard/header.css">
      <link rel="stylesheet" href="/apps/core/assets/css/maindashboard/footer.css">
      <link rel="stylesheet" href="/apps/core/assets/css/custom.css">
      <script type="text/javascript" src="/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
      <script src="/apps/core/assets/js/jquery.min.js"></script>
      <script src="/apps/core/assets/js/bootstrap/bootstrap.min.js"></script>
      <script type="text/javascript"> 
      $(document).ready(function(){
        
      });             
    </script>
   </head>
   <body>
         <div id="meteme">
             <div id="container">
                 <div id="content">
                     <table id="vitals" class="table table-borderd">
                         <thead>
                                <th>VITALS</th>
                                <th>DETAILS</th>
                         </thead>
                         <tbody>
                             <tr>
                                
                             </tr>
                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
   </body>
</html>