<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <script language="javascript" defer="true">
      tstUsername = "";
      tstUserKeyboardPref = "qwerty";
      tstCurrentDate = "2018-08-24";

      function getInput(){
         key = $('touchscreenInput' + tstCurrentPage).getAttribute("key");
         value = $('touchscreenInput' + tstCurrentPage).value
         localStorage.setItem(key, value);
         var d = new Date();
         localStorage.setItem("date_created", d.toDateString());
      }

      // function validatePassword(){
      //    console.log(localStorage);
      //    console.log(localStorage.getItem("confirm_password"));
      //    if (localStorage.getItem("password") === localStorage.getItem("confirm_password")){
            
      //    }
      //    else{
      //       console.log('passwordmismatch');
      //    }

      // }


      function changeNextButton(){
         __$("nextButton").removeAttribute("onmousedown")
         __$("nextButton").onmousedown = function(){
            confirm_password = $('touchscreenInput' + tstCurrentPage).value;
            if (localStorage.getItem("password") === confirm_password){
              window.location.href = "show.html";
               }
               else{
                //  alert("passwords do not match");
                 
               }
         }
      }

    </script>

    <script type="text/javascript" src="/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
    <script type="text/javascript" src="/apps/core/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/apps/core/assets/js/data.js"></script>

  </head>
  <body id="">
    <div id="">
      <div id="content">
        <form action="/new_user" method="POST">
           <input helpText="First Name" allowFreeText="true" type="text" tt_onUnLoad="getInput();" name="person_name[given_name]" key="first_name" id="person_name_given_name" />

           <input helpText="Last Name" allowFreeText="true" type="text" tt_onUnLoad="getInput();" name="person_name[family_name]" key="last_name" id="person_name_family_name" />

           <input helpText="User role" key = "role" type="text" name="user_role[role_id]" id="user_role_role_id" />

           <input helpText="Username" key="username" textCase="lower" tt_onload="$(touchscreenInput5).value = ($(user_first_name).value.substring(0,3)+$(user_last_name).value.substring(0,3)).toLowerCase()" validationRule="\w{6}\w*" validationMessage="Username must have at least SIX letters" type="text" tt_onUnLoad="getInput();" name="user[username]" id="user_username" />

           <input helpText="Password" key="password" minlength="6" textCase="lower" validationRule="\w{4}\w*" validationMessage="Password less than six characters" tt_onUnLoad="getInput();" type="password" name="user[plain_password]" id="user_plain_password" />

           <input helpText="Confirm Password" tt_onload="changeNextButton();" key="confirm_password" textCase="lower" validationRule="\w{4}\w*" validationMessage="Password less than FOUR characters." type="password" name="user_confirm[password]" id="user_confirm_password" />
      </form>
        <div id="footer">
        </div>
      </div>
    </div>
  </body>
</html>