<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <script language="javascript" defer="true">
      tstUsername = "";
      tstUserKeyboardPref = "qwerty";

      var d = new Date();
      d.toDateString();

      function getInput(){
         key = $('touchscreenInput' + tstCurrentPage).getAttribute("key");
         value = $('touchscreenInput' + tstCurrentPage).value
         sessionStorage.setItem(key, value);
         var d = new Date();
         sessionStorage.setItem("date_created", d.toDateString());
      }  
    </script>

    <script type="text/javascript" src="/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
    <script type="text/javascript" src="/apps/core/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/apps/core/assets/js/core.js"></script>

  </head>
  <body id="mateme">
    <div id="container">
      <div id="content">
        <style>
.tt_controls_first_name #date, #star, #slash, #minus, #plus, #percent, #decimal, #comma { display: none; }

.tt_controls_last_name #date, #star, #slash, #minus, #plus, #percent, #decimal, #comma { display: none; }

</style>

<script type="text/javascript">
  var tt_cancel_destination = "/";
  
</script>


<form action="search_results.html" method="POST" id="search_results">
    <input type="text" name="given_name" id="given_name" field_type="alpha" tt_onUnload="getInput();" helpText="First name"  key="first_name" allowFreeText="true" tt_onUnLoad="getInput();" ajaxURL="/search/given_name?search_string=" />

    <input type="text" name="family_name" id="family_name" field_type="alpha" tt_onUnload="getInput();" key="family_name" tt_onUnLoad="getInput();" ajaxURL="/search/family_name?search_string=" helpText="Last name" allowFreeText="true" />

    <select allowFreeText="false" helpText=" Gender" id="gender" tt_onUnLoad="getInput();" name="person[gender]" tt_onLoad="changeNextButton();" key="gender" ><option value=""></option>
      <option value="M">Male</option>
      <option value="F">Female</option></select>

</form>
        <div id="footer">
        </div>
      </div>
    </div>
  </body>
</html>

<script type="text/javascript">

  function  submitSearchResults(){

     var first_name = __$('given_name').value;
     var last_name = __$('family_name').value;
     var gender = __$('gender').value;
     sessionStorage.setItem('given_name', first_name);
     sessionStorage.setItem('family_name', last_name);
     sessionStorage.setItem('gender', gender);
     
     document.location = "search_results.html"; 
  }

  function changeNextButton(){
    __$("nextButton").removeAttribute("onmousedown")
    __$("nextButton").onmousedown = function(){
           submitSearchResults();
    }
  }

  var patientID = ''
  jQuery(document).ready(function(){

    var checkExist = setInterval(function() {
      if (jQuery('#cancelButton').length) {
        jQuery('#cancelButton').click(function () {
          yesButton = jQuery("#messageBar button")[0];
          yesButton.onmousedown = function(){
            hideMessage();
            if (patientID.length > 0){
              window.top.location.href = "/patients/show/" + patientID;
            } else {
              window.top.location.href = "/";
            }
            
          }
        });
        clearInterval(checkExist);
      }
    }, 100); // check every 100ms
  });

</script>


