<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap/bootstrap.min.js"></script>
<script src="/assets/js/moment.js"></script>

<script src="/assets/js/generic_ajaxrequest.js"></script>
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css"> 
    <!-- <rel="stylesheet" href="/assets/css/maindashboard/headefooter.css">  -->
    <link rel="stylesheet" href="/assets/css/custom.css">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/moment.js"></script>
    <script src="/assets/js/bmi.js"></script>
    <script src="/assets/js/bootstrap/bootstrap.min.js"></script>
<style>
* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.demographics-table {
  display: table;
  width: 100%;
  height: 120px;
}

.demographics-table-row {
  display: table-row;
}

.demographics-table-cell {
  display: table-cell;
  border-style: solid;
  border-width: 1px;
  box-shadow: 5px 10px #888888;
  padding: 20px;
}


.info-table {
  display: table;
  width: 100%;
  margin-top: 10px;
  border-collapse: separate;
  border-spacing:10px;
}

.info-table-row {
  display: table-row;
}

.info-table-cell {
  display: table-cell;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 8px 18px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 230px !important;
  width: 23%;
  display: table-cell;
}

.section-badge {
  margin: 10px 10px 5px 10px;
  width: 92%;
  padding-left: 10px;
  background-color: slategray;
  vertical-align: center;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  color: #fff;
}

.section-body {
  margin: 10px 10px 5px 10px;
  width: 92%;
  padding-left: 10px;
  height: 80%;
  background-color: white;
}

#demographics-addresses th {
  font-size: 12px;
}

.buttonsDIV {
  background-color: #333333;
  display: block;
  height: 80px;
  position: absolute;
  bottom: 1px;
  width: 98.7%;
  z-index: 10;
}

.buttonsDIV button {
  margin: 5px 0px 0px;
  margin-right: 10px;
  height: 60px;
  font-size: 2rem;

}

.blue {
  border: 1px solid #7eb9d0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 28px;
  font-family: helvetica;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #FFFFFF;
  background-color: #a7cfdf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
  background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -o-linear-gradient(top, #a7cfdf, #23538a);
  background-image: linear-gradient(to bottom, #a7cfdf, #23538a);
  filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a7cfdf, endColorstr=#23538a);
}

.red {
  border: 1px solid #ff0011;
  background-image: linear-gradient(bottom, rgb(255, 0, 17) 0%, rgb(255, 0, 17) 100%);
  background-image: -o-linear-gradient(bottom, rgb(255, 0, 17) 0%, rgb(255, 0, 17) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(255, 0, 17) 0%, rgb(255, 0, 17) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(255, 0, 17) 0%, rgb(255, 0, 17) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(255, 0, 17) 0%, rgb(255, 0, 17) 100%);
  background-image: -webkit-gradient( color-stop(0, rgb(255, 0, 17)), color-stop(1, rgb(255, 0, 17)) ) !important;
  background-color: #5c0707;

  border: 1px solid #450111;
  background-color: #77021d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#77021d), to(#3a000d));
  background-image: -webkit-linear-gradient(top, #77021d, #3a000d);
  background-image: -moz-linear-gradient(top, #77021d, #3a000d);
  background-image: -ms-linear-gradient(top, #77021d, #3a000d);
  background-image: -o-linear-gradient(top, #77021d, #3a000d);
  background-image: linear-gradient(to bottom, #77021d, #3a000d);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#77021d, endColorstr=#3a000d);
  color: #fff;
}

.info-tables {
  width: 99%;
  border-collapse: collapse;
}
td,th {
  padding: 3px;
}
.info-tables td {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
}

</style>



<script>
  var patientDead = false;
function buildInfoBoxes() {
  var infoBox = document.getElementsByClassName("info-table")[0];
  var cells = [
    "Patient identifiers","Alert(s)","labs",
    "Program info","Outcome","Gurdian(s)"
  ];

  var count = 0;
  var row = document.createElement("div")
  row.setAttribute("class","info-table-row");
  infoBox.appendChild(row);

  for(var i = 0 ; i < cells.length ; i++){
    if(count == 3){
      row = document.createElement("div")
      row.setAttribute("class","info-table-row");
      infoBox.appendChild(row);
      count = 0;
    }

    var cell = document.createElement("div");
    cell.setAttribute("class","info-table-cell");

    var header = document.createElement("div");
    header.setAttribute("class","section-badge");
    header.innerHTML = cells[i].toUpperCase();
    cell.appendChild(header);

    var body = document.createElement("div");
    body.setAttribute("class","section-body");
    body.setAttribute("id","section-body-" + i);
    cell.appendChild(body);


    row.appendChild(cell);

    count++;
  }
  
  insertData();     
}

function insertData() {
  var url_string  = window.location;
  var url         = new URL(url_string);
  var patient_id  = url.searchParams.get("patient_id");
  
  getClient(patient_id);
}

function getClient(patient_id) {
  var url = apiProtocol + "://" + apiURL + ":" + apiPort + "/api/v1/patients/" + patient_id;

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
      var obj = JSON.parse(this.responseText);
      var patient = obj;
      obj = obj["person"];

      var names = obj["names"][0];
      var client_name = document.getElementById("client-name");
      client_name.innerHTML = names["given_name"] + " " + names["family_name"];
      sessionStorage.given_name = names["given_name"];
      sessionStorage.family_name = names["family_name"];
      var dob = document.getElementById("client-dob");
      dob.innerHTML = "&nbsp;(" + moment(obj["birthdate"]).format("DD/MMM/YYYY") + ")";

      var gender = (obj["gender"] == "M" ? "male.gif" : "female.gif");
      var icon = document.getElementById("gender-icon-container");
      var img = document.createElement("img");
      img.setAttribute("src","/assets/images/" + gender);
      icon.appendChild(img);

      var ancestry_district = document.getElementById("ancestry-district");
      var ancestry_ta       = document.getElementById("ancestry-ta");
      var ancestry_village  = document.getElementById("ancestry-village");
      ancestry_district.innerHTML = obj["addresses"][0]["address2"];
      ancestry_ta.innerHTML = obj["addresses"][0]["county_district"];
      ancestry_village.innerHTML = obj["addresses"][0]["neighborhood_cell"];

      var current_district = document.getElementById("current-district");
      var current_ta       = document.getElementById("current-ta");
      var current_village  = document.getElementById("current-village");
      current_district.innerHTML  = obj["addresses"][0]["state_province"];
      current_ta.innerHTML        = obj["addresses"][0]["township_division"];
      current_village.innerHTML  = obj["addresses"][0]["city_village"];


      var roundedAge = Math.round(moment().diff(obj["birthdate"], 'years', true));
      sessionStorage.patientAge = roundedAge; 
      sessionStorage.patientGender = obj["gender"];
      sessionStorage.patientDOB = moment(obj["birthdate"]).format("DD/MMM/YYYY");
      sessionStorage.sessionDate = moment().format("YYYY-MM-DD");
      getHeight(patient_id);
      getWeight(patient_id);
      

      buildIdentifiers(patient["patient_identifiers"]);
      buildStates(obj);
      var orders = JSON.parse(this.responseText);
      buildOrders(orders["orders"].length);
      buildProgramInfo(patient_id);
      buildRelationShips(patient_id);
      buildAlerts(patient_id);
      var gender = null;
      if (sessionStorage.patientGender === "F") {
        gender = "female";
      }else if(sessionStorage.patientGender === "M"){
        gender = "male";
      }
      var bmindex = (sessionStorage.currentWeight /sessionStorage.currentHeight/ sessionStorage.currentHeight) * 10000;
      bmindex = Math.round(bmindex * 10 ) / 10;
      getBMIResult(gender, roundedAge, bmindex);
    }
  };
  xhttp.open("GET", url, true);
  xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
  xhttp.setRequestHeader('Content-type', "application/json");
  xhttp.send();
}
function getHeight(patient_id) {
    var url = apiProtocol + "://" + apiURL + ":" + apiPort;
    url += "/api/v1/observations?person_id=" + patient_id + "&concept_id=5090";
    url += "&date=" + moment(new Date(sessionStorage.sessionDate)).format('YYYY-MM-DD');
    url += "&page_size=1";

    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
            var obj = JSON.parse(this.responseText);
            if (obj.length > 0) {
              var height = parseInt(obj[0].value_numeric);
              if(height > 0) {
                sessionStorage.currentHeight = height;
              }else if(obj[0].value_text.length > 0) {
                sessionStorage.currentHeight = parseInt(obj[0].value_text);
              }else{
                sessionStorage.currentHeight = 0;
              }
            }
        }
    };
    xhttp.open("GET", url, true);
    xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
    xhttp.setRequestHeader('Content-type', "application/json");
    xhttp.send();
}
function getWeight(patient_id) {
    var url = apiProtocol + "://" + apiURL + ":" + apiPort;
    url += "/api/v1/observations?person_id=" + patient_id + "&concept_id=5089";
    url += "&date=" + moment(new Date(sessionStorage.sessionDate)).format('YYYY-MM-DD');
    url += "&page_size=1";


    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
        var obj = JSON.parse(this.responseText);
        if (obj.length > 0) {
          var weight = parseFloat(obj[0].value_numeric);
          if(weight > 0) {
            sessionStorage.currentWeight = weight;
          }else if(obj[0].value_text.length > 0) {
            sessionStorage.currentWeight = parseFloat(obj[0].value_text);
          }else{
            sessionStorage.currentWeight = 0;
          }
        }
      }
    };
    xhttp.open("GET", url, true);
    xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
    xhttp.setRequestHeader('Content-type', "application/json");
    xhttp.send();
}
function buildIdentifiers(identifiers) {
  var identifiersHash = {};
  for(var i = 0 ; i < identifiers.length ; i++) {
    if(identifiers[i]["identifier_type"] == 3) {
      identifiersHash["NPID"] = identifiers[i]["identifier"];
    }else if(identifiers[i]["identifier_type"] == 4) {
      identifiersHash["ARV#"] = identifiers[i]["identifier"];
    }else if(identifiers[i]["identifier_type"] == 17) {
      identifiersHash["Active filing#"] = identifiers[i]["identifier"];
    }else if(identifiers[i]["identifier_type"] == 18) {
      identifiersHash["Archived filing#"] = identifiers[i]["identifier"];
    }
  }

  var table = document.createElement("table");
  table.setAttribute("class","info-tables");

  for(identifier in identifiersHash) {
    var tr = document.createElement("tr");
    var td = document.createElement("td");
    td.innerHTML = identifier;
    tr.appendChild(td);

    var td = document.createElement("td");
    td.innerHTML = identifiersHash[identifier];
    tr.appendChild(td);
    table.appendChild(tr);
  }

  var container = document.getElementById("section-body-0");
  container.appendChild(table);

}
function buildStates(identifiers) {

  var identifiersHash = {};
    if(identifiers["dead"] == 1) {
      identifiersHash["Current Outcome"] = "Patient Died";
      patientDead = true;
    }
  var table = document.createElement("table");
  table.setAttribute("class","info-tables");

  for(identifier in identifiersHash) {
    var tr = document.createElement("tr");
    var td = document.createElement("td");
    td.innerHTML = identifier;
    tr.appendChild(td);

    var td = document.createElement("td");
    td.innerHTML = identifiersHash[identifier];
    tr.appendChild(td);
    table.appendChild(tr);
  }

  var container = document.getElementById("section-body-4");
  container.appendChild(table);

}
function buildOrders(identifiers) {
  
  var table = document.createElement("table");
  table.setAttribute("class","info-tables");

  
    var tr = document.createElement("tr");
    var td = document.createElement("td");
    td.innerHTML = identifiers;
    tr.appendChild(td);

    var td = document.createElement("td");
    td.innerHTML = " Previous Lab Orders";
    tr.appendChild(td);
    table.appendChild(tr);

  var container = document.getElementById("section-body-2");
  container.appendChild(table);

}
function buildRelationShips(patient_id){
  var url = 'http://'+apiURL+':'+apiPort+'/api/v1/people/'+patient_id+'/relationships' ;
  var req = new XMLHttpRequest();
  var table = document.createElement("table");
  table.setAttribute("class","info-tables");
  var container = document.getElementById("section-body-5");
  container.appendChild(table);
  req.onreadystatechange = function(){
    if (this.readyState == 4) {
      if (this.status == 200) {
      var results = JSON.parse(this.responseText);
        for(var x = 0; x < results.length; x ++){
          var tr = document.createElement("tr");
          var td = document.createElement("td");
          td.innerHTML = results[x].relation.names[0].given_name + " " + results[x].relation.names[0].family_name;
          tr.appendChild(td);
          var td = document.createElement("td");
          td.innerHTML = results[x].type.b_is_to_a;
          tr.appendChild(td);
          table.appendChild(tr);
        }
      }
    }
  };
  try {
    req.open('GET', url, true);
    req.setRequestHeader('Authorization',sessionStorage.getItem('authorization'));
    req.send(null);
  } catch (e) {
  
  }
}

function buildAlerts(patient_id){
  var url = 'http://'+apiURL+':'+apiPort+'/api/v1/observations?person_id='+patient_id+'&concept_id=7755';
  var req = new XMLHttpRequest();
  var table = document.createElement("table");
  table.setAttribute("class","info-tables");
  var container = document.getElementById("section-body-1");
  container.appendChild(table);
  req.onreadystatechange = function(){
    if (this.readyState == 4) {
      if (this.status == 200) {
      var results = JSON.parse(this.responseText);
      if(results.length > 0) {
          var tr = document.createElement("tr");
          var td = document.createElement("td");
          td.innerHTML = "Patient Has Side Effects";
          td.setAttribute("colspan", 2);
          tr.appendChild(td);
          table.appendChild(tr);

        }
      if (sessionStorage.bmiResult !== "null") {
        var tr = document.createElement("tr");
        var td = document.createElement("td");
        td.innerHTML = "Patient Weight is";
        tr.appendChild(td);
        var td = document.createElement("td");
        td.innerHTML = sessionStorage.bmiResult;
        tr.appendChild(td);
        table.appendChild(tr);
      }
        
      }
    }
  };
  try {
    req.open('GET', url, true);
    req.setRequestHeader('Authorization',sessionStorage.getItem('authorization'));
    req.send(null);
  } catch (e) {
  
  }
  buildDefaulter(patient_id, table)
}
function buildDefaulter(patient_id, table){
  var url = 'http://'+apiURL+':'+apiPort+'/api/v1/observations?person_id='+patient_id+'&concept_id=6828';
  var req = new XMLHttpRequest();
  req.onreadystatechange = function(){
    if (this.readyState == 4) {
      if (this.status == 200) {
      var results = JSON.parse(this.responseText);
      if(results.length > 0) {
          var tr = document.createElement("tr");
          var td = document.createElement("td");
          td.innerHTML = "Patient Is a Defaulter";
          td.setAttribute("colspan", 2);
          tr.appendChild(td);
          table.appendChild(tr);
        }
      }
    }
  };
  try {
    req.open('GET', url, true);
    req.setRequestHeader('Authorization',sessionStorage.getItem('authorization'));
    req.send(null);
  } catch (e) {
  
  }
}
function buildProgramInfo(patient_id){
  var url = 'http://'+apiURL+':'+apiPort+'/api/v1/patients/'+patient_id+'/next_appointment_date';
  var req = new XMLHttpRequest();
  var table = document.createElement("table");
  table.setAttribute("class","info-tables");
  var container = document.getElementById("section-body-3");
  container.appendChild(table);
  req.onreadystatechange = function(){
    if (this.readyState == 4) {
      if (this.status == 200) {
        var results = JSON.parse(this.responseText);
        var tr = document.createElement("tr");
        var td = document.createElement("td");
        td.innerHTML = "Next Appointment Date";
        tr.appendChild(td);
        var td = document.createElement("td");
        td.innerHTML = moment(results).format("DD/MMM/YYYY");
        tr.appendChild(td);
        table.appendChild(tr);

      }else {
        var tr = document.createElement("tr");
        var td = document.createElement("td");
        td.innerHTML = "No Appointment Date Available";
        tr.appendChild(td);
        table.appendChild(tr);
      }
    }
  };
  try {
    req.open('GET', url, true);
    req.setRequestHeader('Authorization',sessionStorage.getItem('authorization'));
    req.send(null);
  } catch (e) {
  
  }
  buildFT(patient_id, table);
}

function buildFT(patient_id, table){
  var url = 'http://'+apiURL+':'+apiPort+'/api/v1/observations?person_id='+patient_id+'&concept_id=9561';
  var req = new XMLHttpRequest();
  req.onreadystatechange = function(){
    if (this.readyState == 4) {
      if (this.status == 200) {
      var results = JSON.parse(this.responseText);
      if(results.length > 0) {
          buildFTAssessment(table, results[0].encounter_id);
        }
      }
    }
  };
  try {
    req.open('GET', url, true);
    req.setRequestHeader('Authorization',sessionStorage.getItem('authorization'));
    req.send(null);
  } catch (e) {
  
  }
}
function buildFTAssessment(table, encounter_id){
  var url = 'http://'+apiURL+':'+apiPort+'/api/v1/encounters/'+encounter_id;
  var req = new XMLHttpRequest();
  req.onreadystatechange = function(){
    if (this.readyState == 4) {
      if (this.status == 200) {
      var results = JSON.parse(this.responseText);
      if(results.observations[0].value_coded == 1065) {
          var tr = document.createElement("tr");
          var td = document.createElement("td");
          td.setAttribute("colspan", 2);
          td.innerHTML = "Patient Is on fast track";
          td.style.color = "green";
          tr.appendChild(td);
          table.appendChild(tr);
        }
      }
    }
  };
  try {
    req.open('GET', url, true);
    req.setRequestHeader('Authorization',sessionStorage.getItem('authorization'));
    req.send(null);
  } catch (e) {
  
  }
}
</script>

<div class="demographics-table">
  <div class="demographics-table-row">
    <div class="demographics-table-cell">
      <div style="border-style: solid; border-width: 0px 0px 1px 0px;">
       
       <table id="names">
        
        <tr>
          <td id="gender-icon-container"></td>
          <td id="client-name"></td>
          <td id="client-dob"></td>
        </tr>

       </table>
        
      </div>
       
       <table id="demographics-addresses">
        
        <tr>
          <th>Ancestry district:&nbsp;<td id="ancestry-district"></td>
          <th>Ancestry TA:&nbsp;<td id="ancestry-ta"></td>
          <th>Ancestry village:&nbsp;<td id="ancestry-village"></td>
        </tr>

        <tr>
          <th>Current district:&nbsp;<td id="current-district"></td>
          <th>Current TA:&nbsp;<td id="current-ta"></td>
          <th>Current village:&nbsp;<td id="current-village"></td>
        </tr>

       </table>

    </div>
  </div>
</div>

<div class="info-table">
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal"
    style="width: 60%; margin-left:20%;margin-right: 20%; margin-top: 20%;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="margin: 0; ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title" id="myModalLabel">Patient Has Died, are you sure you want to continue?</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="button green" id="modal-btn-si" style="float:left; text-align: center; width: 100px;">Yes</button>
                <button type="button" class="button red" id="modal-btn-no" style="width: 100px;">No</button>
            </div>
        </div>
    </div>
</div>

<div class="buttonsDIV">
  <button class="red" style="float: left; margin-left: 10px;" onmousedown="location='/'">Cancel</button>
  <button class="blue" style="float: right;" id="continue" onmousedown="finish();">Continue</button>
</div>



<script>
buildInfoBoxes();
var url = new URL(url);
var id = url.searchParams.get("patient_id");

function finish() {
  sessionStorage.patientID = id;
  if (patientDead == true) {

  $("#mi-modal").modal('show');
    var modalConfirm = function (callback) {
        $("#continue").on("click", function () {
            $("#mi-modal").modal('show');
        });

        $("#modal-btn-si").on("click", function () {
            callback(true);
            $("#mi-modal").modal('hide');
        });

        $("#modal-btn-no").on("click", function () {
            callback(false);
            $("#mi-modal").modal('hide');
        });
    };

    modalConfirm(function (confirm) {
        if (confirm) {
            window.location.href = "/views/patient_dashboard.html?patient_id="+id;
        } else {
            $("#mi-modal").modal('hide');

            window.location.href = "/";
        }
    });
  }else {
    sessionStorage.showWeightChart = true;
    sessionStorage.showPregnantQuestion = true;
    nextEncounter(sessionStorage.patientID , 1);
  }
  
}
    
</script>
