<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap/bootstrap.min.js"></script>
<script src="/assets/js/moment.js"></script>

<script src="/apps/ART/assets/js/fast_track_alert.js"></script>

<script src="/assets/js/generic_ajaxrequest.js"></script>
<link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css" />
<!-- <rel="stylesheet" href="/assets/css/maindashboard/headefooter.css">  -->
<link rel="stylesheet" href="/assets/css/custom.css" />
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/moment.js"></script>
<script src="/assets/js/bmi.js"></script>
<script src="/assets/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script
  type="text/javascript"
  src="/assets/js/does_connection_exist.js"
></script>

<script src="/assets/js/httpUtils.js"></script>
<script src="/assets/js/uiUtils.js"></script>
<script src="/assets/js/GlobalProperty.js"></script>

<link
  rel="stylesheet"
  href="/assets/css/alertifyjs/css/alertify.css"
  type="text/css"
/>
<style>
  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .demographics-table {
    display: table;
    width: 100%;
    height: 120px;
  }

  .demographics-table-row {
    display: table-row;
  }

  .demographics-table-cell {
    display: table-cell;
    border-style: solid;
    border-width: 1px;
    box-shadow: 5px 10px #888888;
    padding: 20px;
  }

  .info-table {
    display: table;
    width: 100%;
    margin-top: 10px;
    border-collapse: separate;
    border-spacing: 10px;
  }

  .info-table-row {
    display: table-row;
  }

  .info-table-cell {
    display: table-cell;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 230px !important;
    width: 23%;
    display: table-cell;
  }

  .section-badge {
    margin: 10px 10px 5px 10px;
    width: 92%;
    padding-left: 10px;
    background-color: slategray;
    vertical-align: center;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    color: #fff;
  }

  .section-body {
    margin: 10px 10px 5px 10px;
    width: 92%;
    padding-left: 10px;
    height: 80%;
    background-color: white;
  }

  #demographics-addresses th {
    font-size: 12px;
  }

  .buttonsDIV {
    background-color: #333333;
    display: block;
    height: 80px;
    position: absolute;
    bottom: 1px;
    width: 98.7%;
    z-index: 10;
  }

  .buttonsDIV button {
    margin: 5px 0px 0px;
    margin-right: 10px;
    height: 60px;
    font-size: 2rem;
  }

  .blue {
    border: 1px solid #7eb9d0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 28px;
    font-family: helvetica;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: #ffffff;
    background-color: #a7cfdf;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#a7cfdf),
      to(#23538a)
    );
    background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);
    background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);
    background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);
    background-image: -o-linear-gradient(top, #a7cfdf, #23538a);
    background-image: linear-gradient(to bottom, #a7cfdf, #23538a);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a7cfdf, endColorstr=#23538a);
  }

  .red {
    border: 1px solid #ff0011;
    background-image: linear-gradient(
      bottom,
      rgb(255, 0, 17) 0%,
      rgb(255, 0, 17) 100%
    );
    background-image: -o-linear-gradient(
      bottom,
      rgb(255, 0, 17) 0%,
      rgb(255, 0, 17) 100%
    );
    background-image: -moz-linear-gradient(
      bottom,
      rgb(255, 0, 17) 0%,
      rgb(255, 0, 17) 100%
    );
    background-image: -webkit-linear-gradient(
      bottom,
      rgb(255, 0, 17) 0%,
      rgb(255, 0, 17) 100%
    );
    background-image: -ms-linear-gradient(
      bottom,
      rgb(255, 0, 17) 0%,
      rgb(255, 0, 17) 100%
    );
    background-image: -webkit-gradient(
      color-stop(0, rgb(255, 0, 17)),
      color-stop(1, rgb(255, 0, 17))
    ) !important;
    background-color: #5c0707;

    border: 1px solid #450111;
    background-color: #77021d;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#77021d),
      to(#3a000d)
    );
    background-image: -webkit-linear-gradient(top, #77021d, #3a000d);
    background-image: -moz-linear-gradient(top, #77021d, #3a000d);
    background-image: -ms-linear-gradient(top, #77021d, #3a000d);
    background-image: -o-linear-gradient(top, #77021d, #3a000d);
    background-image: linear-gradient(to bottom, #77021d, #3a000d);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#77021d, endColorstr=#3a000d);
    color: #fff;
  }

  .info-tables {
    width: 99%;
    border-collapse: collapse;
  }
  td,
  th {
    padding: 3px;
  }
  .info-tables td {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
  }

  #dankPrompt button {
    padding: 1%;
    font-size: 1.3em;
    width: 20%;
    background-color: #303031;
    border-radius: 4px;
  }
</style>

<script>
var global_property = GlobalProperty({
  authToken: sessionStorage.authorization,
  path: apiProtocol + '://' + apiURL + ':' + apiPort + '/api/v1'
});

function checkIfFilingNumberIsNotValid () {
  global_property.isEnabled('use.filing.numbers', function (predicate) {
    if (predicate) {
      getFilingNumberType({
        programId: sessionStorage.programID,
        patientId: sessionStorage.patientID,
        authToken: sessionStorage.authorization
      });
    } else {
      finish(sessionStorage.patientID)
    }
  }, function (error) {
    console.error(error);
    finish(sessionStorage.patientID)
  });
};

  var apiPath = `${apiProtocol}://${apiURL}:${apiPort}/api/v1`;
  var patientDead = false;
  function buildInfoBoxes() {
    var infoBox = document.getElementsByClassName("info-table")[0];
    var cells = [
      "Patient identifiers",
      "Alert(s)",
      "labs",
      "Program info",
      "Outcome",
      "Gurdian(s)"
    ];

    var count = 0;
    var row = document.createElement("div");
    row.setAttribute("class", "info-table-row");
    infoBox.appendChild(row);

    for (var i = 0; i < cells.length; i++) {
      if (count == 3) {
        row = document.createElement("div");
        row.setAttribute("class", "info-table-row");
        infoBox.appendChild(row);
        count = 0;
      }

      var cell = document.createElement("div");
      cell.setAttribute("class", "info-table-cell");

      var header = document.createElement("div");
      header.setAttribute("class", "section-badge");
      header.innerHTML = cells[i].toUpperCase();
      cell.appendChild(header);

      var body = document.createElement("div");
      body.setAttribute("class", "section-body");
      body.setAttribute("id", "section-body-" + i);
      cell.appendChild(body);

      row.appendChild(cell);

      count++;
    }

    insertData();
  }

  function insertData() {
    var url_string = window.location;
    var url = new URL(url_string);
    var patient_id = url.searchParams.get("patient_id");
    var person_id = url.searchParams.get("person_id");
    if (person_id != null) {
      getClientbyID(person_id);
    } else if (patient_id != null) {
      patient_id = patient_id.replace(/-/g, "");
      getClient(patient_id);
    }
  }

  function getClient(patient_id) {
    var dde_status = "";
    var url = "";
    if (sessionStorage.dde_enabled === "true") {
      url = apiProtocol + "://" + apiURL + ":" + apiPort;
      url += "/api/v1/dde/patients/find_by_npid?npid=" + patient_id;
      url += "&program_id=" + sessionStorage.programID;
    }else {
      url =
      apiProtocol +
      "://" +
      apiURL +
      ":" +
      apiPort +
      "/api/v1/search/patients/by_npid?npid=" +
      patient_id;
    }


    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
        if (sessionStorage.dde_enabled === "true") {
          var remotes = JSON.parse(this.responseText)["remotes"];
          var locals = JSON.parse(this.responseText)["locals"];
          if (remotes.length > 1 || locals.length > 1) {
            location.href = "/views/npid_duplicates.html?health_id=" + patient_id;
          } else if (locals.length == 1) {
            populatePatient(locals[0], locals[0]);
          } else {
            noPatient();
          }
        }else {
          var obj = JSON.parse(this.responseText)[0];
          var obj_2 = JSON.parse(this.responseText)[0];
          if (JSON.parse(this.responseText).length > 1) {
            location.href = "/views/ duplicates.html?health_id=" + patient_id;
          } else if (JSON.parse(this.responseText).length == 1) {
            populatePatient(obj, obj_2);
          } else {
            noPatient();
          }     
        }
        
      } else if (this.status == 204) {
        window.location.href = "/";
      }
    };
    xhttp.open("GET", url, true);
    xhttp.setRequestHeader(
      "Authorization",
      sessionStorage.getItem("authorization")
    );
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send();
  }

  function getClientbyID(person_id) {
    var url =
      apiProtocol +
      "://" +
      apiURL +
      ":" +
      apiPort +
      "/api/v1/patients/" +
      person_id;

    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
        var obj = JSON.parse(this.responseText);
        var obj_2 = JSON.parse(this.responseText);
        // if(obj.length > 1) {
        // location.href = "/views/duplicates.html?health_id="+ patient_id;
        // }else {
        populatePatient(obj, obj_2);
      } else if (this.status == 204) {
        window.location.href = "/";
      }
    };
    xhttp.open("GET", url, true);
    xhttp.setRequestHeader(
      "Authorization",
      sessionStorage.getItem("authorization")
    );
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send();
  }
  function populatePatient(obj, obj_2) {
    var patient = obj;
    obj = obj["person"];
    patient_id = patient["patient_id"];
    sessionStorage.patientID = patient_id;
    document
      .getElementById("continue")
      .setAttribute("onmousedown", "checkIfFilingNumberIsNotValid()");
    var names = obj["names"][0];
    var client_name = document.getElementById("client-name");
    client_name.innerHTML = names["given_name"] + " " + names["family_name"];
    sessionStorage.given_name = names["given_name"];
    sessionStorage.family_name = names["family_name"];
    var dob = document.getElementById("client-dob");
    dob.innerHTML =
      "&nbsp;(" + moment(obj["birthdate"]).format("DD/MMM/YYYY") + ")";

    var gender = obj["gender"] == "M" ? "male.gif" : "female.gif";
    var icon = document.getElementById("gender-icon-container");
    var img = document.createElement("img");
    img.setAttribute("src", "/assets/images/" + gender);
    icon.appendChild(img);

    if (obj["addresses"].length > 0) {
      var ancestry_district = document.getElementById("ancestry-district");
      var ancestry_ta = document.getElementById("ancestry-ta");
      var ancestry_village = document.getElementById("ancestry-village");
      ancestry_district.innerHTML = obj["addresses"][0]["county_district"];
      ancestry_ta.innerHTML = obj["addresses"][0]["county_district"];
      ancestry_village.innerHTML = obj["addresses"][0]["neighborhood_cell"];

      var current_district = document.getElementById("current-district");
      var current_ta = document.getElementById("current-ta");
      var current_village = document.getElementById("current-village");
      current_district.innerHTML = obj["addresses"][0]["state_province"];
      current_ta.innerHTML = obj["addresses"][0]["township_division"];
      current_village.innerHTML = obj["addresses"][0]["city_village"];
    }

    var roundedAge = Math.round(moment().diff(obj["birthdate"], "years", true));
    sessionStorage.patientAge = roundedAge;
    sessionStorage.patientGender = obj["gender"];
    sessionStorage.patientDOB = moment(obj["birthdate"]).format("DD/MMM/YYYY");
    //sessionStorage.sessionDate = moment().format("YYYY-MM-DD");
    getHeight(patient_id);
    getWeight(patient_id);

    buildIdentifiers(patient["patient_identifiers"]);
    buildStates(obj, patient_id);
    var orders = obj_2;
    buildOrders(orders["orders"]);
    buildProgramInfo(patient_id);
    buildRelationShips(patient_id);
    buildAlerts(patient_id);
    var gender = null;
    if (sessionStorage.patientGender === "F") {
      gender = "female";
    } else if (sessionStorage.patientGender === "M") {
      gender = "male";
    }
    var bmindex =
      (sessionStorage.currentWeight /
        sessionStorage.currentHeight /
        sessionStorage.currentHeight) *
      10000;
    bmindex = Math.round(bmindex * 10) / 10;
    getBMIResult(gender, roundedAge, bmindex);
  }

  function getHeight(patient_id) {
    var url = apiProtocol + "://" + apiURL + ":" + apiPort;
    url += "/api/v1/observations?person_id=" + patient_id + "&concept_id=5090";
    url +=
      "&date=" +
      moment(new Date(sessionStorage.sessionDate)).format("YYYY-MM-DD");
    url += "&page_size=1";

    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
        var obj = JSON.parse(this.responseText);
        if (obj.length > 0) {
          sessionStorage.currentHeightObsID = obj[0].obs_id;
          var height = parseInt(obj[0].value_numeric);
          if (height > 0) {
            sessionStorage.currentHeight = height;
          } else if (obj[0].value_text.length > 0) {
            sessionStorage.currentHeight = parseInt(obj[0].value_text);
          } else {
            sessionStorage.currentHeight = 0;
          }
        }
      }
    };
    xhttp.open("GET", url, true);
    xhttp.setRequestHeader(
      "Authorization",
      sessionStorage.getItem("authorization")
    );
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send();
  }
  function getWeight(patient_id) {
    var url = apiProtocol + "://" + apiURL + ":" + apiPort;
    url += "/api/v1/observations?person_id=" + patient_id + "&concept_id=5089";
    url +=
      "&date=" +
      moment(new Date(sessionStorage.sessionDate)).format("YYYY-MM-DD");
    url += "&page_size=1";

    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
        var obj = JSON.parse(this.responseText);
        if (obj.length > 0) {
          var weight = parseFloat(obj[0].value_numeric);
          if (weight > 0) {
            sessionStorage.currentWeight = weight;
          } else if (obj[0].value_text.length > 0) {
            sessionStorage.currentWeight = parseFloat(obj[0].value_text);
          } else {
            sessionStorage.currentWeight = 0;
          }
        }
      }
    };
    xhttp.open("GET", url, true);
    xhttp.setRequestHeader(
      "Authorization",
      sessionStorage.getItem("authorization")
    );
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send();
  }
  function buildIdentifiers(identifiers) {
    var identifiersHash = {};
    for (var i = 0; i < identifiers.length; i++) {
      if (identifiers[i]["identifier_type"] == 3) {
        identifiersHash["NPID"] = formatIdentifier(
          identifiers[i]["identifier"]
        );
      } else if (identifiers[i]["identifier_type"] == 4) {
        identifiersHash["ARV#"] = identifiers[i]["identifier"];
      } else if (identifiers[i]["identifier_type"] == 17) {
        identifiersHash["Active filing#"] = formatIdentifier(
          identifiers[i]["identifier"]
        );
      } else if (identifiers[i]["identifier_type"] == 18) {
        identifiersHash["Archived filing#"] = formatIdentifier(
          identifiers[i]["identifier"]
        );
      }
    }

    var table = document.createElement("table");
    table.setAttribute("class", "info-tables");

    var url = window.location.href;
    url = new URL(url);
    var scanned_id = url.searchParams.get("patient_id");

    for (identifier in identifiersHash) {
      var tr = document.createElement("tr");
      var td = document.createElement("td");
      td.innerHTML = identifier;
      tr.appendChild(td);

      var td = document.createElement("td");
      td.innerHTML = identifiersHash[identifier];
      tr.appendChild(td);
      table.appendChild(tr);

      if(sessionStorage.dde_enabled === 'true') {
        if(identifier.toUpperCase() == 'NPID' && identifiersHash[identifier].length > 0) {
          var returned_id = identifiersHash[identifier].toUpperCase().replace(/-/g, "");
          if(scanned_id.toUpperCase() != returned_id && scanned_id.length != 6) {
            document.location = '/views/print/npid.html?identifier=' + returned_id;
          }
        }
      }
    }  
    var container = document.getElementById("section-body-0");
    container.appendChild(table);
  }

  function buildStates(identifiers, patient_id) {
    var identifiersHash = {};
    var url =
      "http://" +
      apiURL +
      ":" +
      apiPort +
      "/api/v1/programs/1/patients/" +
      patient_id;
    var req = new XMLHttpRequest();
    req.onreadystatechange = function() {
      if (this.readyState == 4) {
        if (this.status == 200) {
          var results = JSON.parse(this.responseText);

          identifiersHash["Current Outcome"] =
            results.current_outcome !== "N/A"
              ? results.current_outcome
              : "No Outcome Available";
          var table = document.createElement("table");
          table.setAttribute("class", "info-tables");

          for (identifier in identifiersHash) {
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.innerHTML = identifier;
            tr.appendChild(td);

            var td = document.createElement("td");
            td.innerHTML = identifiersHash[identifier];
            tr.appendChild(td);
            table.appendChild(tr);
          }

          var container = document.getElementById("section-body-4");
          container.appendChild(table);
        }
      }
    };
    try {
      req.open("GET", url, true);
      req.setRequestHeader(
        "Authorization",
        sessionStorage.getItem("authorization")
      );
      req.send(null);
    } catch (e) {}
  }
  function buildOrders(identifiers) {
    if (identifiers == undefined) {
      identifiers = 0;
    }
    var table = document.createElement("table");
    table.setAttribute("class", "info-tables");

    var tbody = document.createElement('tbody');
    tbody.setAttribute('id','vl-orders');
    table.appendChild(tbody);

    var container = document.getElementById("section-body-2");
    container.appendChild(table);
  }
  function buildRelationShips(patient_id) {
    var url =
      "http://" +
      apiURL +
      ":" +
      apiPort +
      "/api/v1/people/" +
      patient_id +
      "/relationships";
    var req = new XMLHttpRequest();
    var table = document.createElement("table");
    table.setAttribute("class", "info-tables");
    var container = document.getElementById("section-body-5");
    container.appendChild(table);
    req.onreadystatechange = function() {
      if (this.readyState == 4) {
        if (this.status == 200) {
          var results = JSON.parse(this.responseText);
          for (var x = 0; x < results.length; x++) {
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.innerHTML =
              results[x].relation.names[0].given_name +
              " " +
              results[x].relation.names[0].family_name;
            tr.appendChild(td);
            var td = document.createElement("td");
            td.innerHTML = results[x].type.b_is_to_a;
            tr.appendChild(td);
            table.appendChild(tr);
          }
        }
      }
    };
    try {
      req.open("GET", url, true);
      req.setRequestHeader(
        "Authorization",
        sessionStorage.getItem("authorization")
      );
      req.send(null);
    } catch (e) {}
  }

  function buildAlerts(patient_id) {
    var url =
      "http://" +
      apiURL +
      ":" +
      apiPort +
      "/api/v1/observations?person_id=" +
      patient_id +
      "&concept_id=7755";
    var req = new XMLHttpRequest();
    var table = document.createElement("table");
    table.setAttribute("class", "info-tables");
    var container = document.getElementById("section-body-1");
    container.appendChild(table);
    req.onreadystatechange = function() {
      if (this.readyState == 4) {
        if (this.status == 200) {
          var results = JSON.parse(this.responseText);
          var sideEffects = 0;
          if (results.length > 0) {
            for (var index = 0; index < results.length; index++) {
              if (results[index].children[0].value_coded == 1065) {
                sideEffects++;
              }
            }
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.innerHTML = "Patient Has " + sideEffects + " Side Effect(s)";
            td.setAttribute("colspan", 2);
            tr.appendChild(td);
            table.appendChild(tr);
          }
          if (sessionStorage.bmiResult !== "null") {
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.innerHTML = "Patient Weight is";
            tr.appendChild(td);
            var td = document.createElement("td");
            td.innerHTML = sessionStorage.bmiResult;
            tr.appendChild(td);
            table.appendChild(tr);
          }
        }
      }
    };
    try {
      req.open("GET", url, true);
      req.setRequestHeader(
        "Authorization",
        sessionStorage.getItem("authorization")
      );
      req.send(null);
    } catch (e) {}
    buildDefaulter(patient_id, table);
  }
  function buildDefaulter(patient_id, table) {
    var url =
      "http://" +
      apiURL +
      ":" +
      apiPort +
      "/api/v1/observations?person_id=" +
      patient_id +
      "&concept_id=6828";
    var req = new XMLHttpRequest();
    req.onreadystatechange = function() {
      if (this.readyState == 4) {
        if (this.status == 200) {
          var results = JSON.parse(this.responseText);
          if (results.length > 0) {
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.innerHTML = "Patient Is a Defaulter";
            td.setAttribute("colspan", 2);
            tr.appendChild(td);
            table.appendChild(tr);
          }
        }
      }
    };
    try {
      req.open("GET", url, true);
      req.setRequestHeader(
        "Authorization",
        sessionStorage.getItem("authorization")
      );
      req.send(null);
    } catch (e) {}
  }

  function buildProgramInfo(patient_id) {
    document.getElementById("section-body-3").innerHTML +=
      "<table class='info-tables'><tr><td style=\"color:blue; font-weight:bold;\">Next Appointment Date:</td><td id='nextAptDate'>N/A</td>" +
      "</tr><tr><td>ART Duration:</td><td id='artDuration'>N/A</td></tr><tr><td style=\"color:blue; font-weight:bold;\">ON FAST TRACK:</td><td id='onFastTrack'>N/A</td></tr></table>";
    populateNextAppointmentDate({ elementToUse: "nextAptDate" }, patient_id);
    populateArtDuration({ elementToUse: "artDuration" }, patient_id);
    populateOnFastTrack({ elementToUse: "onFastTrack" }, patient_id);
  }

  function populateNextAppointmentDate(options, patient_id) {
    GET(
      {
        url:
          apiPath +
          "/observations?person_id=" +
          patient_id +
          "&concept_id=5096",
        async: true,
        headers: {
          Authorization: sessionStorage.getItem("authorization")
        }
      },
      {},
      function(data) {
        var date = "";
        try {
          date = moment(data[0].value_datetime).format("DD/MMM/YYYY");
        } catch (e) {
          date = "Not Available";
        }
        var el = document.getElementById(options.elementToUse);
        el.innerText = date;
        el.style.color = "blue";
      },
      function(error, status) {
        if (status === 404) {
          var el = document.getElementById(options.elementToUse);
          el.innerText = "Not Available";
          el.style.color = "blue";
        } else {
          console.error(error);
        }
      }
    );
  }

  function populateArtDuration(options, patient_id) {
    GET(
      {
        url:
          apiPath +
          "/programs/" +
          sessionStorage.getItem("programID") +
          "/patients/" +
          patient_id,
        async: true,
        headers: {
          Authorization: sessionStorage.getItem("authorization")
        }
      },
      {},
      function(data) {
        if (data.art_duration !== "N/A") {
          document.getElementById(options.elementToUse).innerText =
            calculateMonthsOnART(data.art_start_date) + " month(s)";
        }
      },
      function(error, status) {
        console.error(error);
      }
    );
  }

  function populateOnFastTrack(options, patient_id) {
    GET(
      {
        url:
          apiPath +
          "/on_fast_track?person_id=" +
          patient_id +
          "&date=" +
          sessionStorage.getItem("sessionDate"),
        async: true,
        headers: {
          Authorization: sessionStorage.getItem("authorization")
        }
      },
      {},
      function(data) {
        if (data["continue FT"] === true) {
          var el = document.getElementById(options.elementToUse);
          el.innerText = "YES";
          el.style.color = "blue";
          setUpFTalert(document.getElementById("continue"));
        } else {
          var el = document.getElementById(options.elementToUse);
          el.innerText = "NO";
          el.style.color = "blue";
        }
      },
      function(error, status) {
        console.error(error);
      }
    );
  }
</script>

<div class="demographics-table">
  <div class="demographics-table-row">
    <div class="demographics-table-cell">
      <div style="border-style: solid; border-width: 0px 0px 1px 0px;">
        <table id="names">
          <tr>
            <td id="gender-icon-container"></td>
            <td id="client-name"></td>
            <td id="client-dob"></td>
          </tr>
        </table>
      </div>

      <table id="demographics-addresses">
        <tr>
          <th>Ancestry district:&nbsp;</th>
          <td id="ancestry-district"></td>
          <th>Ancestry TA:&nbsp;</th>
          <td id="ancestry-ta"></td>
          <th>Ancestry village:&nbsp;</th>
          <td id="ancestry-village"></td>
        </tr>

        <tr>
          <th>Current district:&nbsp;</th>
          <td id="current-district"></td>
          <th>Current TA:&nbsp;</th>
          <td id="current-ta"></td>
          <th>Current village:&nbsp;</th>
          <td id="current-village"></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="info-table"></div>
<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mySmallModalLabel"
  aria-hidden="true"
  id="mi-modal"
  style="width: 60%; margin-left:20%;margin-right: 20%; margin-top: 20%;"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style="margin: 0; ">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title" id="myModalLabel">
          Patient Has Died, are you sure you want to continue?
        </h1>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="button green"
          id="modal-btn-si"
          style="float:left; text-align: center; width: 100px;"
        >
          Yes
        </button>
        <button
          type="button"
          class="button red"
          id="modal-btn-no"
          style="width: 100px;"
        >
          No
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mySmallModalLabel"
  aria-hidden="true"
  id="mi-modal-2"
  style="width: 60%; margin-left:20%;margin-right: 20%; margin-top: 20%;"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style="margin: 0; ">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title" id="myModalLabel" style="text-align:center;">
          Patient Not Found. Please scan again or search by name
        </h1>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="button red"
          id="modal-btn-si-2"
          style="float:right; text-align: center; width: 100px;"
        >
          Okay
        </button>
      </div>
    </div>
  </div>
</div>
<div class="buttonsDIV">
  <button
    class="red"
    style="float: left; margin-left: 10px;"
    onmousedown="location='/'"
  >
    Cancel
  </button>
  <button class="blue" style="float: right;" id="continue">Continue</button>
</div>

<script>
  buildInfoBoxes();

  function finish(id) {
    sessionStorage.patientID = id;
    if (patientDead == true) {
      $("#mi-modal").modal("show");
      var modalConfirm = function(callback) {
        $("#continue").on("click", function() {
          $("#mi-modal").modal("show");
        });

        $("#modal-btn-si").on("click", function() {
          callback(true);
          $("#mi-modal").modal("hide");
        });

        $("#modal-btn-no").on("click", function() {
          callback(false);
          $("#mi-modal").modal("hide");
        });
      };

      modalConfirm(function(confirm) {
        if (confirm) {
          window.location.href =
            "/views/patient_dashboard.html?patient_id=" + id;
        } else {
          $("#mi-modal").modal("hide");

          window.location.href = "/";
        }
      });
    } else {
      sessionStorage.showWeightChart = true;
      sessionStorage.showPregnantQuestion = true;
      nextEncounter(sessionStorage.patientID, sessionStorage.programID);
    }
  }

  function noPatient() {
    $("#mi-modal-2").modal("show");
    var modalConfirm = function(callback) {
      $("#continue").on("click", function() {
        $("#mi-modal-2").modal("show");
      });

      $("#modal-btn-si-2").on("click", function() {
        callback(true);
        $("#mi-modal-2").modal("hide");
      });

      $("#modal-btn-no-2").on("click", function() {
        callback(false);
        $("#mi-modal-2").modal("hide");
      });
    };

    modalConfirm(function(confirm) {
      if (confirm) {
        window.location.href = "/";
      }
    });
  }

  function formatIdentifier(identifier) {
    if (identifier.length == 6) {
      var id = identifier.substring(0, 3);
      id += "-" + identifier.substring(3, 6);
      identifier = id;
    } else if (identifier.length == 10) {
      var id = identifier.substring(0, 5);
      id += "-" + identifier.substring(5, 10);
      identifier = id;
    } else if (identifier.length == 13) {
      var id = identifier.substring(0, 5);
      id += "-" + identifier.substring(5, 9);
      id += "-" + identifier.substring(9, 13);
      identifier = id;
    }

    return identifier;
  }

function getFilingNumberType() {
  var options = arguments.length > 0 && arguments[0] !== undefined ? arguments[0] : {};

  var path = sessionStorage.apiProtocol + '://' + sessionStorage.apiURL + ':' + sessionStorage.apiPort + '/api/v1/programs/' + options.programId + '/patients/' + options.patientId;
  GET({
    url: path,
    async: true,
    headers: {
      Authorization: options.authToken
    }
  }, {}, function (data) {
    if (isFilingNumberDormant(data.filing_number.type)) {
      showPrompt({
        message: 'Patient has a dormant filing number. Would you like to assign them an active one?',
        yesCallback: function yesCallback() {
          removePrompt();
          redirectToFilingNumberPage(sessionStorage.patientID);
        },
        noCallback: function () {
          removePrompt()
          finish(sessionStorage.patientID)
        }
      });
    } else if (patientDoesNotHaveFilingNumber(data.filing_number.number)) {
      showPrompt({
        message: 'Patient does not have a filing number. Would you like to assign them one?',
        yesCallback: function yesCallback() {
          removePrompt();
          redirectToFilingNumberPage(sessionStorage.patientID);
        },
        noCallback: function () {
          removePrompt()
          finish(sessionStorage.patientID)
        }
      });
    } else {
      finish(sessionStorage.patientID)
    }
  }, function (error) {
    console.error(error);
  });
}

function isFilingNumberDormant(filingNumber) {
  return filingNumber.match(/archived/ig);
}

function patientDoesNotHaveFilingNumber(filingNumber) {
  return filingNumber === "N/A";
}

function redirectToFilingNumberPage(patientId) {
  var url = '/apps/ART/views/file_numbers.html?patient_id=' + patientId;
  document.location = url;
}

function calculateMonthsOnART(art_start_date) {
  var year = art_start_date.split('/')[2];
  var month = art_start_date.split('/')[1];
  var day = art_start_date.split('/')[0];
  art_start_date = (year + '-' + month + '-' + day);
                               
  var date1 = new Date(sessionStorage.sessionDate);
  var date2 = new Date(moment(art_start_date).format('YYYY-MM-DD'));
  return dateDiffInMonths(date1, date2);
}            

function dateDiffInMonths(dt2, dt1) {
  var months;
  months = (dt2.getFullYear() - dt1.getFullYear()) * 12;
  months -= dt1.getMonth() + 1;
  months += dt2.getMonth();
  return months <= 0 ? 0 : months;
}
</script>

<script src="/assets/js/show.lab.orders.js"></script>
