
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap/bootstrap.min.js"></script>
<script src="/assets/js/moment.js"></script>

<script src="/assets/js/generic_ajaxrequest.js"></script>


<style>
* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.demographics-table {
  display: table;
  width: 100%;
  height: 120px;
}

.demographics-table-row {
  display: table-row;
}

.demographics-table-cell {
  display: table-cell;
  border-style: solid;
  border-width: 1px;
  box-shadow: 5px 10px #888888;
  padding: 10px;
}


.info-table {
  display: table;
  width: 100%;
  margin-top: 10px;
  border-collapse: separate;
  border-spacing:10px;
}

.info-table-row {
  display: table-row;
}

.info-table-cell {
  display: table-cell;
  border-style: solid;
  border-width: 1px;
  box-shadow: 5px 10px #888888;
  width: 23% !important;
  height: 225px;
}

.section-badge {
  margin: 10px 10px 5px 10px;
  width: 92%;
  padding-left: 10px;
  background-color: slategray;
  vertical-align: center;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  color: #fff;
}

.section-body {
  margin: 10px 10px 5px 10px;
  width: 92%;
  padding-left: 10px;
  height: 90%;
  background-color: whitesmoke;
}

#demographics-addresses th {
  font-size: 12px;
}

.buttonsDIV {
  background-color: #333333;
  display: block;
  height: 80px;
  position: absolute;
  top: 670px;
  width: 98.7%;
  z-index: 10;
}

.buttonsDIV button {
  margin: 5px 0px 0px;
  margin-right: 10px;
  height: 60px;
  font-size: 2rem;

}

.blue {
  border: 1px solid #7eb9d0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 28px;
  font-family: arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #FFFFFF;
  background-color: #a7cfdf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
  background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -o-linear-gradient(top, #a7cfdf, #23538a);
  background-image: linear-gradient(to bottom, #a7cfdf, #23538a);
  filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a7cfdf, endColorstr=#23538a);
}

.red {
  border: 1px solid #ff0011;
background-image: linear-gradient(bottom, rgb(255, 0, 17) 0%, rgb(255, 0, 17) 100%);
background-image: -o-linear-gradient(bottom, rgb(255, 0, 17) 0%, rgb(255, 0, 17) 100%);
background-image: -moz-linear-gradient(bottom, rgb(255, 0, 17) 0%, rgb(255, 0, 17) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(255, 0, 17) 0%, rgb(255, 0, 17) 100%);
background-image: -ms-linear-gradient(bottom, rgb(255, 0, 17) 0%, rgb(255, 0, 17) 100%);
background-image: -webkit-gradient( color-stop(0, rgb(255, 0, 17)), color-stop(1, rgb(255, 0, 17)) ) !important;
background-color: #5c0707;

border: 1px solid #450111;
background-color: #77021d;
background-image: -webkit-gradient(linear, left top, left bottom, from(#77021d), to(#3a000d));
background-image: -webkit-linear-gradient(top, #77021d, #3a000d);
background-image: -moz-linear-gradient(top, #77021d, #3a000d);
background-image: -ms-linear-gradient(top, #77021d, #3a000d);
background-image: -o-linear-gradient(top, #77021d, #3a000d);
background-image: linear-gradient(to bottom, #77021d, #3a000d);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#77021d, endColorstr=#3a000d);
color: #fff;
}

.info-tables {
  width: 99%;
  border-collapse: collapse;
}

.info-tables td {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
}

</style>



<script>
function buildInfoBoxes() {
  var infoBox = document.getElementsByClassName("info-table")[0];
  var cells = [
    "Patient identifiers","Alert(s)","labs",
    "Program info","Outcome","Gurdian(s)"
  ];

  var count = 0;
  var row = document.createElement("div")
  row.setAttribute("class","info-table-row");
  infoBox.appendChild(row);

  for(var i = 0 ; i < cells.length ; i++){
    if(count == 3){
      row = document.createElement("div")
      row.setAttribute("class","info-table-row");
      infoBox.appendChild(row);
      count = 0;
    }

    var cell = document.createElement("div");
    cell.setAttribute("class","info-table-cell");

    var header = document.createElement("div");
    header.setAttribute("class","section-badge");
    header.innerHTML = cells[i].toUpperCase();
    cell.appendChild(header);

    var body = document.createElement("div");
    body.setAttribute("class","section-body");
    body.setAttribute("id","section-body-" + i);
    cell.appendChild(body);


    row.appendChild(cell);

    count++;
  }
  
  insertData();     
}

function insertData() {
  var url_string  = window.location;
  var url         = new URL(url_string);
  var patient_id  = url.searchParams.get("patient_id");
  
  getClient(patient_id);
}

function getClient(patient_id) {
  var url = apiProtocol + "://" + apiURL + ":" + apiPort + "/api/v1/patients/" + patient_id;

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
      var obj = JSON.parse(this.responseText);
      var patient = obj;
      obj = obj["person"];

      var names = obj["names"][0];
      var client_name = document.getElementById("client-name");
      client_name.innerHTML = names["given_name"] + " " + names["family_name"];

      var dob = document.getElementById("client-dob");
      dob.innerHTML = "&nbsp;(" + moment(obj["birthdate"]).format("DD/MMM/YYYY") + ")";

      var gender = (obj["gender"] == "M" ? "male.gif" : "female.gif");
      var icon = document.getElementById("gender-icon-container");
      var img = document.createElement("img");
      img.setAttribute("src","/assets/images/" + gender);
      icon.appendChild(img);

      var ancestry_district = document.getElementById("ancestry-district");
      var ancestry_ta       = document.getElementById("ancestry-ta");
      var ancestry_village  = document.getElementById("ancestry-village");
      ancestry_district.innerHTML = obj["addresses"][0]["address2"];
      ancestry_ta.innerHTML = obj["addresses"][0]["county_district"];
      ancestry_village.innerHTML = obj["addresses"][0]["neighborhood_cell"];

      var current_district = document.getElementById("current-district");
      var current_ta       = document.getElementById("current-ta");
      var current_village  = document.getElementById("current-village");
      current_district.innerHTML  = obj["addresses"][0]["state_province"];
      current_ta.innerHTML        = obj["addresses"][0]["township_division"];
      current_village.innerHTML  = obj["addresses"][0]["city_village"];


      var roundedAge = Math.round(moment().diff(obj["birthdate"], 'years', true));
      sessionStorage.patientAge = roundedAge; 
      sessionStorage.patientGender = obj["gender"];
      sessionStorage.patientDOB = moment(obj["birthdate"]).format("DD/MMM/YYYY");
      sessionStorage.sessionDate = moment().format("DD/MMM/YYYY");



      buildIdentifiers(patient["patient_identifiers"]);
    }
  };
  xhttp.open("GET", url, true);
  xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
  xhttp.setRequestHeader('Content-type', "application/json");
  xhttp.send();
}

function buildIdentifiers(identifiers) {
  var identifiersHash = {};
  for(var i = 0 ; i < identifiers.length ; i++) {
    if(identifiers[i]["identifier_type"] == 3) {
      identifiersHash["NPID"] = identifiers[i]["identifier"];
    }else if(identifiers[i]["identifier_type"] == 4) {
      identifiersHash["ARV#"] = identifiers[i]["identifier"];
    }else if(identifiers[i]["identifier_type"] == 17) {
      identifiersHash["Active filing#"] = identifiers[i]["identifier"];
    }else if(identifiers[i]["identifier_type"] == 18) {
      identifiersHash["Archived filing#"] = identifiers[i]["identifier"];
    }
  }

  var table = document.createElement("table");
  table.setAttribute("class","info-tables");

  for(identifier in identifiersHash) {
    var tr = document.createElement("tr");
    var td = document.createElement("td");
    td.innerHTML = identifier;
    tr.appendChild(td);

    var td = document.createElement("td");
    td.innerHTML = identifiersHash[identifier];
    tr.appendChild(td);
    table.appendChild(tr);
  }

  var container = document.getElementById("section-body-0");
  container.appendChild(table);

}

</script>





<div class="demographics-table">
  <div class="demographics-table-row">
    <div class="demographics-table-cell">
      <div style="border-style: solid; border-width: 0px 0px 1px 0px;">
       
       <table id="names">
        
        <tr>
          <td id="gender-icon-container"></td>
          <td id="client-name"></td>
          <td id="client-dob"></td>
        </tr>

       </table>
        
      </div>
       
       <table id="demographics-addresses">
        
        <tr>
          <th>Ancestry district:&nbsp;<td id="ancestry-district"></td>
          <th>Ancestry TA:&nbsp;<td id="ancestry-ta"></td>
          <th>Ancestry village:&nbsp;<td id="ancestry-village"></td>
        </tr>

        <tr>
          <th>Current district:&nbsp;<td id="current-district"></td>
          <th>Current TA:&nbsp;<td id="current-ta"></td>
          <th>Current village:&nbsp;<td id="current-village"></td>
        </tr>

       </table>

    </div>
  </div>
</div>

<div class="info-table">
</div>

<div class="buttonsDIV">
  <button class="red" style="float: left; margin-left: 10px;" onmousedown="location='/'">Cancel</button>
  <button class="blue" style="float: right;" onmousedown="finish();">Continue</button>
</div>


<script>
buildInfoBoxes();

function finish() {
  var url = new URL(url);
  var id = url.searchParams.get("patient_id");
  sessionStorage.patientID = id;
  nextEncounter(sessionStorage.patientID , 1);
}

</script>
