
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>

<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>

<link rel="stylesheet" href="/apps/ART/assets/css/datatable/jquery.dataTables.min.css" type="text/css">
<link rel="stylesheet" href="/apps/ART/assets/css/datatable/scroller.dataTables.min.css" type="text/css">
<script type="text/javascript" src="/apps/ART/views/cohort_tool/driller/natural.js"></script>

<script type="text/javascript" src="/assets/js/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/datatables/dataTables.fixedHeader.min.js"></script>

<!-- pring report start .......................................................................... -->
<script type="text/javascript" src="/assets/js/datatables/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/assets/js/datatables/buttons.flash.min.js"></script>
<script type="text/javascript" src="/assets/js/datatables/jszip.min.js"></script>
<script type="text/javascript" src="/assets/js/datatables/pdfmake.min.js"></script>
<script type="text/javascript" src="/assets/js/datatables/vfs_fonts.js"></script>
<script type="text/javascript" src="/assets/js/datatables/buttons.html5.min.js"></script>
<script type="text/javascript" src="/assets/js/datatables/buttons.print.min.js"></script>
<!-- pring report ends .......................................................................... -->

<style>
#report-cover {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 102%;
  left: 0%;
  top: 0%;
  z-index: 990;
  opacity: 0.65;
}

#spinner {
  position: absolute;
  top: 150px;
  left: 40%;
  z-index: 991;
}

#clearButton, #cancelButton {
  display: none;
}

.btn-primary {
  display: block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

#clients th {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

#clients td {
  border-style: solid;
  border-width: 0px 1px 1px 0px;
}

#clients {
  border-collapse: collapse;
}

.dataTables_scrollBody {
 overflow-x:hidden !important;
 overflow-y:auto !important;
}

.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
  padding-left: 5px;
}

.numbers {
  text-align: right;
  padding-right: 15px;
}

.dates {
  text-align: center;
}

</style>


<script>

function changeFinishButton() {
  var b = document.getElementById('nextButton');
  b.innerHTML = '<span>Finish</span>';
  b.setAttribute('onmousedown','back();');
}

function back() {
  document.location = '/';
}

function buildList() {
  var f = document.getElementById('inputFrame' + tstCurrentPage);
  f.style = 'width: 96%; height: 89%;';
  buildDataTable(f);
  getList();
}

function buildDataTable(e) {
  var table = document.createElement('table');
  table.setAttribute('id','clients');
  table.style = 'width: 100%;';
  e.appendChild(table);

  var theader = document.createElement('thead');
  table.appendChild(theader);
  var tr = document.createElement('tr');
  theader.appendChild(tr);

  var headers = ['Backup file information'];
  
  for(var i = 0 ; i < headers.length ; i++){
    var th = document.createElement('th');
    th.innerHTML = headers[i];
    tr.appendChild(th);
    th.setAttribute('class', 'left-align');
  }

}

function getList() {
  var url = apiProtocol + "://" + apiURL + ":" + apiPort;
  url += "/api/v1/database_backup_files"

  document.getElementById('spinner').style = 'display: inline;';
  document.getElementById('report-cover').style = 'display: inline;';

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
      var obj = JSON.parse(this.responseText);
      loadClients(obj);
    }
  };
  xhttp.open("GET", url, true);
  xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
  xhttp.setRequestHeader('Content-type', "application/json");
  xhttp.send();
}

function loadClients(data) {
  var formatted_data = [];
  var info = data["Backup file(s)"];
  if(info == undefined)
    info = [];

  for (var i = 0 ; i < info.length; i++) {
    formatted_data.push([info[i]]);
  }
 
  jQuery('#clients').DataTable( {
    fixedHeader:    true,
    searching:      false,
    data:           formatted_data,
    deferRender:    true,
    scrollY:        400,
    scrollCollapse: false,
    scroller:       false,
    pageLength:     10000,
    lengthChange:   false,
    paging:         false,
    columnDefs: [{
      targets: 0, type: 'natural'
    } ],
    dom: 'Bfrtip',
    buttons: [
      {
        extend: 'csv',
        title: sessionStorage.currentLocation + " backup info"
      },
      {
        extend: 'pdf',
        title: sessionStorage.currentLocation + " backup info"
      }
    ]
  } );

  document.getElementById('spinner').style = 'display: none;';
  document.getElementById('report-cover').style = 'display: none;';
}

function addSelectButton(person_id) {
  var span = document.createElement('span');
  var button  = document.createElement('a');
  button.setAttribute('onmousedown', 'selectClient(' + person_id + ')');
  button.innerHTML = 'Select';
  button.setAttribute('class','btn-primary');
  button.setAttribute('href','#');
  span.appendChild(button);
  return span.innerHTML;
}

function selectClient(patient_id) {
  document.location = '/views/confirm.html?person_id=' + patient_id;
}

function addClassIMGcontainter(person_id) {
  var tr = document.getElementById('row-' + person_id);
  var cells = tr.getElementsByTagName('td');

  for(var i = 0 ; i < cells.length ; i++) {
    cells[i].setAttribute('class', 'left-align');
  }
}

</script>

<body id="mateme">
  <div id="container">
    <div id="content">


      <form>

        <input type="text" name="summary"
          tt_onLoad="__$('keyboard').style.display = 'none'; changeFinishButton(); buildList();" 
          tt_pageStyleClass= "NoControls" helpText="System database backups" optional = "true"/>

      </form>

   </div>
 </div>
</body>

<img src="/apps/ART/assets/images/formloader.gif" id="spinner" />
<div id="report-cover"></div>
