
<link rel="stylesheet" href="/public/touchscreentoolkit/lib/stylesheets/touch-fancy.css" type="text/css">

<link rel="stylesheet" type="text/css" href="/assets/css/datatables/jquery.dataTables.min.css">
<link rel="stylesheet" media="screen" href="/assets/css/extra_buttons.css" />
 <script type="text/javascript" charset="utf8" src="/assets/js/datatables/jquery-3.3.1.js"></script>
 <script type="text/javascript" charset="utf8" src="/assets/js/datatables/jquery.dataTables.min.js"></script>
 <script type="text/javascript" charset="utf8" src="/assets/js/virtual.keyboard.js"></script>






<style>
  .title-table {
    display: table;
    width: 100%;
  }

  .title-row {
    display: table-row;
  }

  .title-cell {
    display: table-cell;
    height: 30px;
    vertical-align: top;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
  }

  #title-cell-left {
    vertical-align: middle;
    width: 100px;
  }

  #title-cell-left img {
    height: 95px;
    width: 95px;
    margin: 5px;
  }

  #title-cell-right {
    margin-left: 5px;
  }

  #data-cell {
    display: table-cell;
    width: 100%;
  }

  #report {
    width: 100%;
  }



  .top-cover-wrapper {
    width: 100%;
    display: inline-flex;
    margin-bottom: 15px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
  }
  .top-cover-wrapper .img {
    height: 100px;
  }
  .top-cover-wrapper .page-title {
    font-size: 20px;
    text-align: left;
    width: 60%;
    padding: 15px;
  }
  .top-cover-wrapper .search-area {
    padding: 15px;
  }
  .top-cover-wrapper .search-area .btn {
    border: 0px;    
    border-radius: 3px;
    color: #fff;
    padding: 0px; 
  }
  .top-cover-wrapper .search-area .form-control {
    padding: 4px;
    margin-top: -5px;
  }
  .table-earliest-start th{
    text-align: left;
  }
  .table-earliest-start tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .button.navButton {
    margin-top: 0px;
    width: 120px;
    border: 0px;
    vertical-align: middle !important;
    padding-bottom: 0px;
    padding-top: 0px;
}
  .table-earliest-start tbody tr td {
    text-align: center;
    padding: 10px;
    position: relative;
  }


  #footer {
    background-color: rgb(51,51,51);
    color: #CADCEA;
    height: 80px;
    width: 99%;
    bottom: 0px;
    position: absolute;
    overflow: hidden;
}

#cover-div{
  position: absolute;
  background-color: black;
  width: 100%;
  height: 102%;
  left: 0%;
  top:0%;
  z-index: 990;
  opacity: 0.3;
}
#loader{
  position: absolute;
  width: 10%;
  top:30%;
  margin-left:45%;
  z-index: 991;
}
</style> 

<div class="top-cover-wrapper">
  <div class="logo-area">
    <img src="/assets/images/login-logos/Malawi-Coat_of_arms_of_arms.png" class="img">
  </div>  
  
  <div class="page-title">
    <center id="identifier-name"></center>
  </div>

  <div class="search-area" style="display:none;">
    <form class="search-form" autocomplete="off">
      <input type="text" id="search-input" class="form-control" placeholder="Search...">
    </form>
  </div>
</div>
  
<div class="title-table">
  <div class='title-row'>
    <div id='data-cell'>
      <table id="earliest_start" class="table table-earliest-start" style="width:100%">
        <thead>  
          <tr>     
          <th>Identifier</th>
          <th>Count</th>
          <th>Action</th>
         </tr>
        </thead>

        <!-- Table rows Data is inserted here-->
        <tbody></tbody>
        
        <!-- Table footer -->
        <tfoot></tfoot>
      </table>
    </div>
  </div>
</div>
</div>
<div id="footer" class="dark">
    <div id="buttons" class="buttons" style="top:0px">
        <button id="logout" class="green left" style="position :relative; float:right;"><span>Finish</span></button>
        <button id="find" class="blue" style="width:200px;" style="right:-0px; float:right;"><span>Back</span></button>
    </div>
</div>
</div>
</div>
<script type="text/javascript"> 
var identifier_type_id;
   jQuery(document).ready(function($) {
            $('#logout').click(function() {
                window.location = '/clinic';
            })
            $('#find').click(function() {
                history.go(-1);// /report/data_cleaning';

            })
        })

  /**
  * Quick search from the returned queries
  */
  var earliestStart = [];

  
  /* Write data to the view
  */
 
  function addRows(){
    dTable.row.add().draw(["1","2","3"]).draw()
  }

  function renderData(data, identifier_type) {
    var table = document.getElementById("earliest_start").getElementsByTagName("tbody")[0];
    var obj = data;
    for (var index = 0; index < obj.length; index++) {

        
        var tr = document.createElement("tr");
        table.appendChild(tr);

        var td = document.createElement("td");
        td.innerHTML = obj[index].identifier;
        tr.appendChild(td);

        var td = document.createElement("td");
        td.innerHTML = obj[index].count;
        tr.appendChild(td); 

        var td = document.createElement("td");
        var btn = document.createElement('button');
        btn.innerHTML = '<span>View</span>';
        btn.setAttribute('class', 'button blue navButton');
        btn.setAttribute('onclick', "redirectToMastercard('"+obj[index].identifier+"')");
        td.appendChild(btn);
        tr.appendChild(td);
    }
    initTable();
  }

  dTable = null;
  jQuery(document).ready(function() {
    //initTable();
    getearliestStart();
  });
 
 function redirectToMastercard(patient_id){

  location.href = "/views/select_duplicates.html?identifier_id="+ patient_id + "&identifier_type_id=" + identifier_type_id;
  //  window.location.href =  '/views/patient/mastercard.html?patient_id='+patient_id;


 }

  function initTable(){

    dTable = jQuery('#earliest_start');
    dTable.dataTable({
                  "lengthChange":true,
                  "pageLength" : 10,
                  "autoWidth": true,
                  "order": [],
                  "pagingType":"full_numbers",
                  "bInfo" : true,
                  "sScrollY": "441px",
                  fixedHeader: {
                   header: true,
                   footer: true
                    },
                  olanguage: {
                    sProcessing: "<img src='/assets/images/loading.gif'>"
                  },
                  "sProcessing":true
                });
            
          lookForTag()
  }  

  function getearliestStart() {
    var apiProtocol = sessionStorage.apiProtocol;
    var apiURL = sessionStorage.apiURL;
    var apiPort = sessionStorage.apiPort;
    var window_url = new URL(window.location);
    identifier_type_id = window_url.searchParams.get("identifier_type");
    var identifier_name = window_url.searchParams.get("name");
    document.getElementById("identifier-name").innerHTML = identifier_name;
    var url = apiProtocol + "://" + apiURL + ":" + apiPort + "/api/v1/search/identifiers/duplicates?type_id=" + identifier_type_id;
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
          var obj = JSON.parse(this.responseText);
          document.getElementById("cover-div").style="display:none;";
          document.getElementById("loader").style="display:none;";
          renderData(obj);
        }
      };

      xhttp.open("GET", url, true);
      xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
      xhttp.setRequestHeader('Content-type', "application/json");
      xhttp.send(); 
  }         
    
 

var targetInput;

function lookForTag() {
  inputs = document.getElementsByTagName('input');
  
  //loop through the inputs to assign virtual-keyboard
  for(var i = 0 ; i < inputs.length; i++){
    var keyup = inputs[i].getAttribute('onkeyup');
    if(keyup == undefined){
      inputs[i].setAttribute('onfocus', 'popupVK(this);');
    }else{
      inputs[i].setAttribute('onfocus', keyup + '; popupVK(this);');
    }
  }
}

function popupVK(e) {
  var vl = document.getElementById('virtual-keyboard');
  var w = document.getElementsByTagName('body')[0];
  if(vl != undefined) {
    w.removeChild(vl);
    return;
  }
  
  var div = document.createElement('div');
  div.setAttribute('id','virtual-keyboard');
  div.setAttribute('class','keyboard');
  var divStyle = "background-color: #F4F4F4;border: 2px solid #E0E0E0;"
  divStyle += "border-radius: 15px;height: 300px;position: absolute;";
  divStyle += "z-index: 991;width: 820px;";

  var l = e.getBoundingClientRect().left;
  //var divPos = ((50 / width)*100);
  var inputPos = e.getBoundingClientRect().top;
  inputPos = parseInt(inputPos);

  divStyle += "left: " + (l - 680) + "px;top: " + (inputPos + 31) + "px;";
  div.style = divStyle;

  keyboardKeys(e, div);


  w.appendChild(div);
}

function keyboardKeys(e, table) {
  var keypress = [
    ["1", "2", "3", "4", "5", "6", "7", "8", "9", "0"],
    ["q","w","e","r","t","y","u","i","o","p"],
    ["a","s","d","f","g","h","j","k","l","Del."],
    ["z","x","c","v","b","n","m", "Hide","Caps"]
  ];

  //var table = document.createElement("div");
  //table.setAttribute("class","keyboard");

  for(var i = 0 ; i < keypress.length ; i++){
    var row = document.createElement("span")
    row.setAttribute("class","buttonLine");
    table.appendChild(row);

    for(var x = 0 ; x < keypress[i].length ; x++){
      var cell = document.createElement("button")
      cell.setAttribute("class","keyboardButton");
      row.appendChild(cell);

      cell.setAttribute("onmousedown","keyPressed(this);");
      cell.innerHTML = "<span>" + keypress[i][x] + "</span>";


    }
  }

  targetInput = e;
}

function keyPressed(e) {
  var inputBox = targetInput;
  var value_string = e.innerHTML.replace('<span>','');
  value_string = value_string.replace('</span>','');

  try{

    if(value_string.match(/Del/i)){
      inputBox.value = inputBox.value.substring(0, inputBox.value.length - 1);
    }else if(e.innerHTML.match(/Caps/i)){
    }else if(e.innerHTML.match(/Hide/i)){
      var vl = document.getElementById('virtual-keyboard');
      var w = document.getElementsByTagName('body')[0];
      w.removeChild(vl);
    }else{
      inputBox.value += value_string;
    }
 
    try {
      $('input[type="search"]').val(inputBox.value).keyup();
    }catch(z) {}
  }catch(x) { }

}


  </script>

<img src="/assets/images/loading.gif" id="loader"/>
<div id ="cover-div"> </div>
