
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<!-- <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script> -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>


<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/client-scan-barcode.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
<script>
tt_cancel_destination = "/views/login.html";
function addBarcode() {
  var iFrame = document.getElementById("inputFrame0");
  var barcodeDiv = document.createElement("div");
  barcodeDiv.setAttribute("class","barcode");
  barcodeDiv.setAttribute("functionName","scannedBarcode");
  iFrame.appendChild(barcodeDiv);

  iFrame.style = "width: 96%;";
  inserBarcodeScan();
}

  function scannedBarcode(barcode) {
    barcode = barcode.slice(0, barcode.length);
    
    var url = sessionStorage.apiProtocol + '://' + apiURL + ':' + apiPort + '/api/v1/locations/' + barcode;
    var req = new XMLHttpRequest();
    req.onreadystatechange = function () {

      if (this.readyState == 4) {
        if (this.status == 200) {
          var results = JSON.parse(this.responseText);
          sessionStorage.setItem("userLocation", results.name);
          document.location = "/";
        } else if (this.status == 404) {
          showMessage("invalid location");
        } else if (this.status == 401) {
          showMessage("authentication has expired, logging out");
          document.location = "login.html";
        }

      }
    };
    try {
      req.open('GET', url, true);
      req.setRequestHeader('Authorization', sessionStorage.getItem('authorization'));
      req.send(null);
    } catch (e) {
    }
  }


</script>

<style>
    #clearButton, #nextButton {
        display: none;
    }
</style>

<body id="mateme">
  <div id="container">
    <div id="content">


      <form onsubmit="submitEncounter();">

        <input type="text" name="location" tt_onLoad="__$('keyboard').style.display = 'none';addBarcode();" 
          tt_pageStyleClass= "NoControls" helpText="Scan work-station location" optional = "true"/>


      </form>

   </div>
 </div>
</body>

