<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />



  <script language="javascript" defer="true">
    tstUsername = "";
    tstUserKeyboardPref = "abc";

    tstCurrentDate = "2019-02-01";

    function addHereButton() {
      var button = document.createElement("button");
      button.id = "addHere";
      button.innerHTML = "<span>Here</span>";
      button.style.cssFloat = "right";

      button.onclick = function () {
        __$("touchscreenInput" + tstCurrentPage).value = "Likuni Hospital"
      }

      if (__$("buttons")) {
        __$("buttons").appendChild(button);
      }
    }

    function removeHereButton() {
      if (__$("addHere")) {
        __$("buttons").removeChild(__$("addHere"));
      }
    }

    function getSelected() {
      var choices = "";

      for (var o = 0; o < __$('choice').options.length; o++) {
        if (__$('choice').options[o].selected == true) {
          choices += __$('choice').options[o].innerHTML + " ";
        }
      }

      return choices;
    }

    //-->
  </script>

    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
    <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>


</head>

<body id="mateme">
  <div id="container">
    <div id="content">
      <div id="description" style="color:#777;position:absolute;margin-top:-70px;">

      </div>


      <style>
        .main-table {
  display: table;
  width: 100%;
}

.main-table-row {
  display: table-row;
}

.main-table-cell {
  display: table-cell;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}

.middle {
  width: 55%;
}

.right {
  text-align: center;
}

.left {
  text-align: middle !important;
  width: 10%;
}

.checkboxes {
  transform: scale(3.5);
  margin-left: 45%;
}

#nextButton { display: none; }

#newBtn {
  float: right;
}

/* .................................... */
#cover{
	display: none;
	position: absolute;
	background-color: black;
	width: 100%;
	height: 102%;
	left: 0%;
	top: 0%;
	z-index: 1000;
	opacity: 0.5;

}
#clearButton {
  /* display: none;  */
}
/*
#popup_box {
	display:none;
	z-index:1001;
	left:489px;
	top:100px;
	text-align:center;
	font-size:28;
	color: #FFFFFF;
	border: 2px solid #9999FF;
	border-radius: 15px 15px 15px 15px;
	height: 154px;
	padding: 5px;
	position: absolute;
	top: 199px;
	width: 421px;
	-moz-user-select:none;
}

#popup_box span{
	font-size:40px;
}
*/
#confirmPage{
	background: tomato;
	border: 1px solid tomato;
	left: 514.5px;
	position: absolute;
	top: 50%;
	left: 45%;
	margin-top: -295px;
	margin-left: -100px;
	opacity: 0.9999899999999999;
	KHTMLOpacity: 0;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	z-index: 1000;
	-moz-user-select:none;
	height: 200px;
	width: 400px;

	text-align:center;
	font-size: 28px;
	color: #FFFFFF;
}

.inputFrameClass {
  width: 96%;
}

</style>

      <script>
        var apiProtocol = sessionStorage.apiProtocol;
var apiURL = sessionStorage.apiURL;
var apiPort = sessionStorage.apiPort;

var programID = sessionStorage.getItem("programID");
var tt_cancel_destination = "/";
var patientID = "";
var url_string  = window.location;
var url_value         = new URL(url_string);
var patient_id  = url_value.searchParams.get("health_id");
patient_id = (patient_id).replace(/-/g, "");
function getClient() {
 
  document.getElementById("helpText0").innerHTML = "Duplicate identifier ("+patient_id + ")";
  
  var url = apiProtocol + "://" + apiURL + ":" + apiPort + "/api/v1/dde/patients/find_by_npid?npid=" + patient_id;
  
  if(sessionStorage.dde_enabled === 'true'){
    url += '&program_id=' + sessionStorage.programID;
  }

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
      var obj = JSON.parse(this.responseText);
      if(obj.remotes.length > 0) {
        loadData(obj.remotes, "remote");
      }
      if(obj.locals.length > 0) {
        loadData(obj.locals, "local");
      }
    }else if(this.status == 204) {
      window.location.href = "/";
    }
  };
  xhttp.open("GET", url, true);
  xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
  xhttp.setRequestHeader('Content-type', "application/json");
  xhttp.send();
}



function loadData(results, type) {
  var t = document.createElement('div');
  t.setAttribute('class','main-table');
  var identifier = "";
 
    for (var index = 0; index < results.length; index++) {
      var url = "";
      var person_id = results[index].patient_id;
      var npid = patient_id;
      var doc_id =  getDocumentID(results[index].patient_identifiers);
      // if (type === "remote"){
      //   url = apiProtocol + '://' + apiURL + ':' + apiPort + '/api/v1/dde/patients/import_by_npid?npid='+patient_id;

      //   checkbox_id = patient_id;
      // }else {
        id = results[index].patient_id;
        url = apiProtocol + '://' + apiURL + ':' + apiPort + '/reassign_npid?dde_person_doc_id='+identifier;
        if(sessionStorage.dde_enabled === 'true'){
          url += '&program_id=' + sessionStorage.programID;
        }
        checkbox_id = results[index].patient_id;;
      // }
      
      reassign_link = url;
      
      var tr = document.createElement('div');
      tr.setAttribute('class','main-table-row');
      t.appendChild(tr);
      var age = results[index].person.birthdate;
      var gender = results[index].person.gender;
      var identifier = "";
      var patient_name = results[index].person.names[0].given_name + " " + results[index].person.names[0].family_name;
      var ancestry_district = "";
      var ancestry_ta = "";
      var ancestry_village = "";

      var current_district = "";
      var current_ta = "";
      var current_village = "";
      var phone_number = "";
        if (results[index]["person"]["addresses"].length > 0) {
          ancestry_district = results[index]["person"]["addresses"][0]["county_district"];
          ancestry_ta = results[index]["person"]["addresses"][0]["county_district"];
          ancestry_village = results[index]["person"]["addresses"][0]["neighborhood_cell"];
          
          current_district = results[index]["person"]["addresses"][0]["state_province"];
          current_ta = results[index]["person"]["addresses"][0]["township_division"];
          current_village = results[index]["person"]["addresses"][0]["city_village"];
        }
      
        var td = document.createElement('div');
        td.setAttribute('class','main-table-cell left');
        var checkbox = document.createElement('input');
        checkbox.setAttribute('type','checkbox');
        checkbox.setAttribute('class','checkboxes');
        checkbox.setAttribute('id', checkbox_id);
        checkbox.setAttribute('person_id', person_id);
        checkbox.setAttribute('doc_id', doc_id);
        checkbox.setAttribute('onclick', "activateMerge();");
        td.appendChild(checkbox);
        tr.appendChild(td);
        /* .................................................. */

        var td = document.createElement('div');
        td.setAttribute('class','main-table-cell middle');
        td.innerHTML = "<b>Name:</b>"+ patient_name + " (" + gender + ") "+  age+"";
        td.innerHTML += "<br /><b>Home district:</b> "+ancestry_district+" <b>Home TA:</b> "+ancestry_ta+" <b>Home village:</b>  "+ancestry_village;
        tr.appendChild(td);

        var td = document.createElement('div');
        td.setAttribute('class','main-table-cell right');
        btn = document.createElement('button');
        btn.setAttribute('onmousedown', "reassignID('" + doc_id + "','"+ person_id+"');");
        btn.innerHTML = "<span>Re-assign ID</span>";
        td.appendChild(btn);

        tr.appendChild(td);
        t.appendChild(tr);
      
    }
  
  /* .................................................. */
  
  inputFrame = document.getElementById('inputFrame' + tstCurrentPage);
  inputFrame.appendChild(t);

}



function reassignID(doc_id, patient_id) {
    var http = new XMLHttpRequest();
    url = apiProtocol + '://' + apiURL + ':' + apiPort + '/api/v1/dde/patients/reassign_npid';

    if(sessionStorage.dde_enabled === 'true'){
      var params = {
        patient_id: (patient_id === "null" ? "" : patient_id),
        doc_id: (doc_id === "null" ? "" : doc_id),
        program_id: sessionStorage.programID
      };
    }else{
      var params = {
        patient_id: (patient_id === "null" ? "" : patient_id),
        doc_id: (doc_id === "null" ? "" : doc_id)
      };
    }
    
    params = JSON.stringify(params);

    http.open('POST', url, true);
    //Send the proper header information along with the request
    http.setRequestHeader('Content-type', 'application/json');
    http.onreadystatechange = function () { //Call a function when the state changes.
      if (http.readyState == 4) {
        if (http.status == 201 || http.status == 200) {
          var v = JSON.parse(http.responseText);
          document.location = "/views/print/reassign.html?person_id=" + v.patient_id;
        } else if (http.status == 409) {
          alert('Username already exists');
        } else {
         alert('error' + http.status);
        }
      }
    }
    http.setRequestHeader('Authorization', sessionStorage.getItem('authorization'));
    http.send(params);

}

function activateMerge() {
  var checkboxes = document.getElementsByClassName('checkboxes');
  var counter = 0;

  for(var i = 0; i < checkboxes.length; i++){
    if(checkboxes[i].checked == true) {
      counter++;
    }
  }

  if(counter > 1){
    displayMergeBtn();
  }else{
    hideMergeBtn();
  }  

}

function displayMergeBtn() {
  if (document.getElementById("newBtn") == null) {
    var footer = document.getElementById('buttons');
    var newbutton = document.createElement('button');
    newbutton.setAttribute('id', 'newBtn');
    newbutton.setAttribute('class', 'green');
    newbutton.setAttribute('onmousedown', 'confirmMerge();');
    newbutton.innerHTML="<span>Merge selected records</span>";
    footer.appendChild(newbutton);
  }
  
}

function hideMergeBtn(){
  try {
    var footer = document.getElementById('buttons');
    footer.removeChild(document.getElementById('newBtn')); 
  }catch(e){
  }
}

function confirmMerge() {

	mergeClients();
}
function setClear() {
  var checkboxes = document.getElementsByClassName('checkboxes');

  for(var i = 0; i < checkboxes.length; i++){
    if(checkboxes[i].checked == true) {
      checkboxes[i].checked = false;
    }
  }
}

function changeClearButton() {
  var clr = document.getElementById("clearButton");
  clr.setAttribute("onmousedown", "setClear()");

}
function mergeClients(){
  var checkboxes = document.getElementsByClassName('checkboxes');
  var client_ids = {};
  var chkdbox_counter = 0;
  client_ids.secondary = [];
    for(var i = 0; i < checkboxes.length; i++){
      if(checkboxes[i].checked == true) {
          if (chkdbox_counter == 0) {
            client_ids.primary = {
            patient_id: (checkboxes[i].getAttribute("person_id") === "null" ? "": checkboxes[i].getAttribute("person_id")),
            doc_id: checkboxes[i].getAttribute("doc_id")
            };
          }else if(chkdbox_counter > 0) {
            client_ids.secondary.push(
              {
                patient_id: (checkboxes[i].getAttribute("person_id") === "null" ? "": checkboxes[i].getAttribute("person_id")),
                doc_id: checkboxes[i].getAttribute("doc_id")
              });
          }
        chkdbox_counter++
      }
   }
          
    client_ids.program_id = sessionStorage.programID;

    var http = new XMLHttpRequest();
    url = apiProtocol + '://' + apiURL + ':' + apiPort + '/api/v1/dde/patients/merge';
    var params = JSON.stringify(client_ids);
    
    http.open('POST', url, true);
    //Send the proper header information along with the request
    http.setRequestHeader('Content-type', 'application/json');
    http.onreadystatechange = function () { //Call a function when the state changes.
      if (http.readyState == 4) {
        if (http.status == 201 || http.status == 200) {
          var v = JSON.parse(http.responseText);
          sessionStorage.patientID = v.patient_id;
          nextEncounter(v.patient_id, sessionStorage.programID);
        } else if (http.status == 409) {
          alert('Username already exists');
        } else {
         alert('error' + http.status);
        }
      }
    }
    http.setRequestHeader('Authorization', sessionStorage.getItem('authorization'));
    http.send(params);

}
function getDocumentID(identifiers) {
  var identifier = "";
  for (var index = 0; index < identifiers.length; index++) {
    if(identifiers[index]["identifier_type"] == 27) {
      identifier =  identifiers[index]["identifier"];
    }else {
      identifier = "";
    }
  }
    return identifier;
}


</script>

      <form action="/dde/dde_duplicate" method="post">

        <input helpText="Duplicate identifier (E6NN36)" id="summary" name="summary" optional="true" tt_onLoad="getClient();changeClearButton();__$('keyboard').style.display = 'none';"
          tt_pageStyleClass="NoControls" type="text" />

      </form>

      <div id="cover"></div>

      <div id="confirmPage" style="display:none">
        <p>Merging clients</p>
        <p>Please wait <span class="blinking">...</span></p>
      </div>

      <style>
        .blinking {
          animation: blinkingText 0.8s infinite;
          font-size: 38px;
        }

        @keyframes blinkingText {
          0% {
            color: white;
          }

          49% {
            color: transparent;
          }

          50% {
            color: transparent;
          }

          99% {
            color: transparent;
          }

          100% {
            color: white;
          }
        }
      </style>

      <div id="footer">
      </div>
    </div>
  </div>
</body>

</html>
