<link rel="stylesheet" href="/public/touchscreentoolkit/lib/stylesheets/touch-fancy.css" type="text/css">

<link rel="stylesheet" type="text/css" href="/assets/css/datatables/jquery.dataTables.min.css">
<link rel="stylesheet" media="screen" href="/assets/css/extra_buttons.css"/>
<script type="text/javascript" charset="utf8" src="/assets/js/datatables/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="/assets/js/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="/assets/js/virtual.keyboard.js"></script>
<script type="text/javascript" charset="utf8" src="/assets/js/moment.js"></script>


<style>
    .title-table {
        display: table;
        width: 100%;
    }

    .title-row {
        display: table-row;
    }

    .title-cell {
        display: table-cell;
        height: 30px;
        vertical-align: top;
        border-style: solid;
        border-width: 0px 0px 1px 0px;
    }

    #title-cell-left {
        vertical-align: middle;
        width: 100px;
    }
    th {

    }

    #title-cell-left img {
        height: 95px;
        width: 95px;
        margin: 5px;
    }

    #title-cell-right {
        margin-left: 5px;
    }

    #data-cell {
        display: table-cell;
        width: 100%;
    }

    #report {
        width: 100%;
    }


    .top-cover-wrapper {
        width: 100%;
        display: inline-flex;
        margin-bottom: 15px;
        border-width: 0px 0px 1px 0px;
        border-style: solid;
    }

    .top-cover-wrapper .img {
        height: 100px;
    }

    .top-cover-wrapper .page-title {
        font-size: 20px;
        text-align: left;
        width: 60%;
        padding: 15px;

    }

    .top-cover-wrapper .search-area {
        padding: 15px;
    }

    .top-cover-wrapper .search-area .btn {
        border: 0px;
        border-radius: 3px;
        color: #fff;
        padding: 0px;
    }

    .top-cover-wrapper .search-area .form-control {
        padding: 4px;
        margin-top: -5px;
    }

    .table-date-enrolled th {
        text-align: left;
    }

    .table-date-enrolled tbody tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .button.navButton1 {
        margin-top: 0px;
        width: 120px;
        border: 0px;
        vertical-align: middle !important;
        padding-bottom: 0px;
        padding-top: 0px;
        height: 57px;
    }

    .table-date-enrolled tbody tr td {
        text-align: center;
        padding: 10px;
        position: relative;
    }


    #footer {
        background-color: rgb(51, 51, 51);
        color: #CADCEA;
        height: 80px;
        width: 99%;
        bottom: 0px;
        position: absolute;
        overflow: hidden;
    }

    #cover-div {
        position: absolute;
        background-color: black;
        width: 100%;
        height: 102%;
        left: 0%;
        top: 0%;
        z-index: 990;
        opacity: 0.3;
    }

    #loader {
        position: absolute;
        width: 10%;
        top: 30%;
        margin-left: 45%;
        z-index: 991;
    }
</style>

<div class="top-cover-wrapper">

    <div class="page-title">
        Identifier Duplicates
    </div>

    <div class="search-area" style="display:none;">
        <form class="search-form" autocomplete="off">
            <input type="text" id="search-input" class="form-control" placeholder="Search...">
        </form>
    </div>
</div>

<div class="title-table">
    <table id="date_enrolled" class="table table-date-enrolled" style="width:100%">
        <thead>
        <tr>
            <th>Given Name</th>
            <th>Family Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Residence</th>
            <th>Action</th>
        </tr>
        </thead>

        <!-- Table rows Data is inserted here-->
        <tbody></tbody>

        <!-- Table footer -->
        <tfoot></tfoot>
    </table>
</div>


<div id="footer" class="dark">
    <div id="buttons" class="buttons" style="top:0px">
        <button id="logout" class="green left" style="position :relative; float:right;"><span>Finish</span></button>
    </div>
</div>
</div>
</div>


<script type="text/javascript">

    jQuery(document).ready(function ($) {
        $('#logout').click(function () {
            window.location = '/';
        })
        $('#find').click(function () {
            history.go(-1);// /report/data_cleaning';

        })

        $('#button').click(function () {
            window.location = '/views/patient/mastercard.html';

        })
    })

    /**
     * Quick search from the returned queries
     */

    function renderData(data) {
        var table = document.getElementById("date_enrolled").getElementsByTagName("tbody")[0];
        var object = data;
        for (var i = 0; i < object.length; i++) {
            var obj = object[i]["person"];
            var dob = moment(obj["birthdate"]).format("DD/MMM/YYYY");

            var gender = obj["gender"];

            var ancestry_district = obj["addresses"][0]["address2"];
            var ancestry_ta = obj["addresses"][0]["county_district"];
            var ancestry_village = obj["addresses"][0]["neighborhood_cell"];

            var current_district = obj["addresses"][0]["state_province"];
            var current_ta = obj["addresses"][0]["township_division"];
            var current_village = obj["addresses"][0]["city_village"];
            var roundedAge = Math.round(moment().diff(obj["birthdate"], 'years', true));
            var patientDOB = moment(obj["birthdate"]).format("DD/MMM/YYYY");

            var tr = document.createElement("tr");
            table.appendChild(tr);

            var td = document.createElement("td");
            td.style.textAlign = 'left'
            td.innerHTML = object[i].person.names[0].given_name;
            tr.appendChild(td);


            var td = document.createElement("td");
            td.style.textAlign = 'left'
            td.innerHTML = object[i].person.names[0].family_name;
            tr.appendChild(td);


            var td = document.createElement("td");
            td.style.textAlign = 'left'
            td.innerHTML = gender;
            tr.appendChild(td);


            var td = document.createElement("td");
            td.style.textAlign = 'left'
            td.innerHTML = dob + "(" +roundedAge+")";
            tr.appendChild(td);

            var td = document.createElement("td");
            td.style.textAlign = 'left'
            td.innerHTML = current_district;
            tr.appendChild(td);

            var td = document.createElement("td");
            td.style.textAlign = 'left'
            var btn = document.createElement('button');
            btn.innerHTML = '<span>Select</span>';
            btn.setAttribute('class', 'button blue navButton1');
            btn.setAttribute('onclick', "redirectToDashBoard('" + obj.person_id + "')");
            td.appendChild(btn);
            tr.appendChild(td);

        }
        initTable();
    }

    dTable = null;
    jQuery(document).ready(function () {
        //initTable();
        getClient();
        // getDateEnrolled();
    });

    function redirectToDashBoard(patient_id) {
        window.location.href = '/views/patient_dashboard.html?patient_id=' + patient_id;


    }

    function initTable() {

        dTable = jQuery('#date_enrolled');
        dTable.dataTable({
            "lengthChange": true,
            "pageLength": 10,
            "autoWidth": true,
            "order": [],
            "bInfo": true,
            "pagingType": "full_numbers",
            "sScrollY": "441px",
            olanguage: {
                sProcessing: "<img src='/assets/images/loading.gif'>"
            },
            "sProcessing": true
        });

        lookForTag()
    }


    function getDateEnrolled() {
        var apiProtocol = sessionStorage.apiProtocol;
        var apiURL = sessionStorage.apiURL;
        var apiPort = sessionStorage.apiPort;

        var url = apiProtocol + "://" + apiURL + ":" + apiPort + "/api/v1/start_date";
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                var table = document.getElementById("date_enrolled").getElementsByTagName("tbody")[0];
                var obj = JSON.parse(this.responseText);
                document.getElementById("cover-div").style = "display:none;";
                document.getElementById("loader").style = "display:none;";
                /**
                 * Keeping the returned queries
                 */

                /**
                 * Displaying the returned results
                 */
                renderData(obj);
                //addRows(obj);
            }
        };

        xhttp.open("GET", url, true);
        xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
        xhttp.setRequestHeader('Content-type', "application/json");
        xhttp.send();
    }

    var req = null;

    function search_func(value) {
        if (req != null) req.abort();

        req = $.ajax({
            type: "GET",
            url: "virtual.keyboard",
            data: {'search_keyword': value},
            dataType: "text",
            success: function (virtualkeyboard) {
                //Receiving the result of search here
            }
        });
    }


    var targetInput;

    function lookForTag() {
        inputs = document.getElementsByTagName('input');

        //loop through the inputs to assign virtual-keyboard
        for (var i = 0; i < inputs.length; i++) {
            var keyup = inputs[i].getAttribute('onkeyup');
            if (keyup == undefined) {
                inputs[i].setAttribute('onfocus', 'popupVK(this);');
            } else {
                inputs[i].setAttribute('onfocus', keyup + '; popupVK(this);');
            }
        }
    }

    function popupVK(e) {
        var vl = document.getElementById('virtual-keyboard');
        var w = document.getElementsByTagName('body')[0];
        if (vl != undefined) {
            w.removeChild(vl);
            return;
        }

        var div = document.createElement('div');
        div.setAttribute('id', 'virtual-keyboard');
        div.setAttribute('class', 'keyboard');
        var divStyle = "background-color: #F4F4F4;border: 2px solid #E0E0E0;"
        divStyle += "border-radius: 15px;height: 300px;position: absolute;";
        divStyle += "z-index: 991;width: 820px;";

        var l = e.getBoundingClientRect().left;
        //var divPos = ((50 / width)*100);
        var inputPos = e.getBoundingClientRect().top;
        inputPos = parseInt(inputPos);

        divStyle += "left: " + (l - 680) + "px;top: " + (inputPos + 31) + "px;";
        div.style = divStyle;

        keyboardKeys(e, div);


        w.appendChild(div);
    }

    function keyboardKeys(e, table) {
        var keypress = [
            ["1", "2", "3", "4", "5", "6", "7", "8", "9", "0"],
            ["q", "w", "e", "r", "t", "y", "u", "i", "o", "p"],
            ["a", "s", "d", "f", "g", "h", "j", "k", "l", "Del."],
            ["z", "x", "c", "v", "b", "n", "m","space", "Hide", "Caps"]
        ];

        //var table = document.createElement("div");
        //table.setAttribute("class","keyboard");

        for (var i = 0; i < keypress.length; i++) {
            var row = document.createElement("span")
            row.setAttribute("class", "buttonLine");
            table.appendChild(row);

            for (var x = 0; x < keypress[i].length; x++) {
                var cell = document.createElement("button")
                cell.setAttribute("class", "keyboardButton");
                row.appendChild(cell);

                cell.setAttribute("onmousedown", "keyPressed(this);");
                cell.innerHTML = "<span>" + keypress[i][x] + "</span>";


            }
        }

        targetInput = e;
    }

    function keyPressed(e) {
        var inputBox = targetInput;
        var value_string = e.innerHTML.replace('<span>', '');
        value_string = value_string.replace('</span>', '');

        try {

            if (value_string.match(/Del/i)) {
                inputBox.value = inputBox.value.substring(0, inputBox.value.length - 1);
            } else if (e.innerHTML.match(/Caps/i)) {
            } else if (e.innerHTML.match(/Hide/i)) {
                var vl = document.getElementById('virtual-keyboard');
                var w = document.getElementsByTagName('body')[0];
                w.removeChild(vl);
            } else if (e.innerHTML.match(/space/i)) {
                inputBox.value += " ";
            } else {
                inputBox.value += value_string;
            }

            try {
                $('input[type="search"]').val(inputBox.value).keyup();
            } catch (z) {
            }
        } catch (x) {
        }

    }

    function buildDuplicates(object) {
        var frame = document.getElementById("inputFrame" + tstCurrentPage);
        frame.style = "width: 96%; height: 100%; overflow: scroll;";
        var orderTable = document.createElement("div");
        orderTable.setAttribute("class", "order-table");
        frame.appendChild(orderTable);
        var orderTableRow = document.createElement("div");
        orderTableRow.setAttribute("class", "order-table-row");
        orderTable.appendChild(orderTableRow);

        var cells = ["left", "right", "bottom-left", "bottom-right"];
        for (var i = 0; i < object.length; i++) {
            obj = object[i]["person"];
            var dob = moment(obj["birthdate"]).format("DD/MMM/YYYY");

            var gender = obj["gender"];

            var ancestry_district = obj["addresses"][0]["address2"];
            var ancestry_ta = obj["addresses"][0]["county_district"];
            var ancestry_village = obj["addresses"][0]["neighborhood_cell"];

            var current_district = obj["addresses"][0]["state_province"];
            var current_ta = obj["addresses"][0]["township_division"];
            var current_village = obj["addresses"][0]["city_village"];
            var roundedAge = Math.round(moment().diff(obj["birthdate"], 'years', true));
            var patientDOB = moment(obj["birthdate"]).format("DD/MMM/YYYY");

            var orderTableCell = document.createElement("div");
            var name = document.createElement("div");
            orderTableCell.setAttribute("onmousedown", "selectRecord(this);")
            var table = document.createElement("table");
            table.setAttribute("class", "info-tables");

            var identifiersHash = {};
            var tr = document.createElement("tr");
            tr.style.width = "100%";
            tr.style.fontSize = "20px";
            var td = document.createElement("td");
            td.innerHTML = "Name: " + object[i].person.names[0].given_name + " " + object[i].person.names[0].family_name;
            td.innerHTML += " (" + gender + ") <br/>Age / DOB: " + patientDOB + " " + roundedAge;
            tr.appendChild(td);
            table.appendChild(tr);

            var tr = document.createElement("tr");
            var td = document.createElement("td");
            tr.style.width = "100%";
            tr.style.fontSize = "20px";
            td.innerHTML = current_village;
            var td = document.createElement("td");
            td.innerHTML = "Residence: " + current_village;
            tr.appendChild(td);
            table.appendChild(tr);
            orderTableCell.appendChild(table);
            orderTableCell.setAttribute("class", "order-table-cell");
            orderTableCell.setAttribute("id", object[i].patient_id);
            orderTable.appendChild(orderTableCell);
        }

    }

    var apiProtocol = sessionStorage.apiProtocol;
    var apiURL = sessionStorage.apiURL;
    var apiPort = sessionStorage.apiPort;

    var programID = sessionStorage.getItem("programID");
    var tt_cancel_destination = "/";
    var patientID = null;

    function getClient() {
        var url_string = window.location;
        var url = new URL(url_string);
        var identfier_id = url.searchParams.get("identifier_id");
        var identifier_type = url.searchParams.get("identifier_type_id");
        var url = apiProtocol + "://" + apiURL + ":" + apiPort + "/api/v1/search/patients/by_identifier?type_id=" + identifier_type + "&identifier="  + identfier_id;

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                var obj = JSON.parse(this.responseText);
                document.getElementById("cover-div").style = "display:none;";
                document.getElementById("loader").style = "display:none;";
                renderData(obj);
            } else if (this.status == 204) {
                window.location.href = "/";
            }
        };
        xhttp.open("GET", url, true);
        xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
        xhttp.setRequestHeader('Content-type', "application/json");
        xhttp.send();
    }

    function changeNextButton() {
        var nextButton = document.getElementById('nextButton');
        nextButton.setAttribute("onmousedown", "")
    }

</script>

<img src="/assets/images/loading.gif" id="loader"/>
<div id="cover-div"></div>