{
  "encounters": {
   "vitals": {
      "available": true,
      "url": "/views/patient/vitals.html"
    },
    "hiv reception": {
      "available": true,
      "url": "/apps/ART/views/hiv_reception.html"
    },
    "treatment": {
      "available": true,
      "url": "/views/patient/prescription.html"
    },
    "dispensing": {
      "available": true,
      "url": "/views/patient/dispensing.html"
    }
  }
}
