<style>
    * {
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    }
  
    .print-table {
      display: table;
      width: 99%;
      height: 99%;
    }
  
    .print-table-row {
      display: table-row;
    }
  
    .print-table-cell {
      display: table-cell;
      text-align: center;
    }
  
    .barcode {
      top: 12%;
    }
  
    .print-table-cell p {
      font-size: 50px;
    }
  </style>
  
  
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/core.js"></script>
  <script src="/assets/js/Lab.js"></script>
  <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
  
  <div class="print-table">
    <div class="print-table-row">
  
      <div class="print-table-cell">
        <img src="/assets/images/zebra-label-printer.jpeg" class="barcode" />
        <p>Printing barcode label.</p>
        <p>Please wait <blink>....</blink>
          <p>
      </div>
  
  
    </div>
  </div>
  
  <script>
    var apiURL = sessionStorage.getItem("apiURL");
    var apiPort = sessionStorage.getItem("apiPort");
    var apiProtocol = sessionStorage.getItem("apiProtocol");

    function print(){
      let item = new URL(location.href);
      let url = `${apiProtocol}://${apiURL}:${apiPort}/api/v1/patients/${sessionStorage.patientID}/labels/print_tb_lab_order_summary?
                patient_id=${sessionStorage.patientID}&session_date=${item.searchParams.get("session_date")}&test_type=${item.searchParams.get("test_type")}
                &specimen_type=${item.searchParams.get("specimen_type")}&recommended_examination=${item.searchParams.get("recommended_examination")}
                &target_lab=${item.searchParams.get("target_lab")}&reason_for_examination=${item.searchParams.get("reason_for_examination")}
                &previous_tb_patient=${item.searchParams.get("previous_tb_patient")}`
      document.location = url;
    }

    // Print 2 copies of summary
    print()

    function red() {
      print()
      nextEncounter(sessionStorage.patientID, sessionStorage.programID, true)
    }
      
    setTimeout('red()', 3000);
  </script>
  
  