<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js"
        defer="true"></script>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<script>
    var apiProtocol = sessionStorage.apiProtocol;
    var apiURL = sessionStorage.apiURL;
    var apiPort = sessionStorage.apiPort;
    var patientID = sessionStorage.patientID;

    var patient_has_arv_number = false;

    var tt_cancel_destination = "/views/patient/mastercard.html";

    function postARVNumber() {
        if (patient_has_arv_number){
            console.log("Patient has ARV number");
            var get_patient_url = apiProtocol + "://" + apiURL + ":" + apiPort + "/api/v1/patients/" + sessionStorage.patientID;

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                    var personObj = JSON.parse(this.responseText);
                    var patient_identifiers = personObj["patient_identifiers"];
                    var patient_identifier_id = "";

                    var value = __$('touchscreenInput' + tstCurrentPage).value;
                    var selected_arv_number = site_prefix + "-ARV-" + value;

                    for (var key in patient_identifiers) {
                        var type = patient_identifiers[key]["type"];
                        if (type.name.match(/ARV Number/i)) {
                            patient_identifier_id = patient_identifiers[key]["patient_identifier_id"];
                            break;
                        }
                    }

                    var update_identifier_url = apiProtocol + "://" + apiURL + ":" + apiPort + "/api/v1/patient_identifiers/" + patient_identifier_id;
                    var identifier_data = {
                        identifier: selected_arv_number,
                    };

                    var xhttp1 = new XMLHttpRequest();

                    xhttp1.onreadystatechange = function () {
                        if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                            gotoMastercard();
                        }
                    }

                    xhttp1.open("PUT", update_identifier_url, true);
                    xhttp1.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                    xhttp1.setRequestHeader('Content-type', "application/json");
                    xhttp1.send(JSON.stringify(identifier_data));


                    var url = "/patients/" + sessionStorage.getItem("patientID") + "/patient_identifiers";
                    submitParameters(identifier_data, url, "gotoMastercard");
                }
            };
            xhttp.open("GET", get_patient_url, true);
            xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
            xhttp.setRequestHeader('Content-type', "application/json");
            xhttp.send();
        } else{
            var identifier_type = 4;
            var value = __$('touchscreenInput' + tstCurrentPage).value;
            var selected_arv_number = site_prefix + "-ARV-" + value;

            var identifier_data = {
                identifier: selected_arv_number,
                identifier_type: identifier_type,
                patient_id: patientID
            };
            var url = "/patient_identifiers/";
            submitParameters(identifier_data, url, "gotoMastercard")
            return
        }
    }

    function gotoMastercard() {
        window.location = tt_cancel_destination;
    }

    var arv_number = "";
    var site_prefix = "";

    function initializeVariables() {
        jQuery(".loader").show();
        jQuery('#keyboard').hide();
        jQuery("#buttons").hide();
        jQuery("#inputFrame" + tstCurrentPage).hide();

        var property_name = "site_prefix";
        var url = apiProtocol + "://" + apiURL + ":" + apiPort + "/api/v1/global_properties?property=" + property_name;
        var xhttp1 = new XMLHttpRequest();
        xhttp1.onreadystatechange = function () {
            if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                try {
                    site_prefix = JSON.parse(this.responseText)["site_prefix"];
                } catch (e) {

                }
                /*********************************************/
                var regimen_url = apiProtocol + "://" + apiURL + ":" + apiPort + "/api/v1/";
                regimen_url += "programs/1/patients/" + sessionStorage.patientID;

                var xhttp2 = new XMLHttpRequest();
                xhttp2.onreadystatechange = function () {
                    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                        var data = JSON.parse(this.responseText);
                        if (data) {
                            arv_number = data["arv_number"];
                            var arv_number_check = arv_number.replace( /^\D+/g, '');
                            if (arv_number_check.length > 0) {
                                patient_has_arv_number = true;
                                arv_number = arv_number.replace(/^\D+/g, '');
                                gotoNextPage();
                            }
                        }

                        if (arv_number_check.length == 0){
                            var suggested_arv_number_url = apiProtocol + "://" + apiURL + ":" + apiPort + "/api/v1/programs/1/next_available_arv_number";
                            var xhttp3 = new XMLHttpRequest();
                            xhttp3.onreadystatechange = function() {
                                if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                                    var suggested_arv_number = JSON.parse(this.responseText)["arv_number"];
                                    var suggested_arv_number = suggested_arv_number.replace( /^\D+/g, '');
                                    arv_number = suggested_arv_number;
                                    gotoNextPage();
                                }
                            };

                            xhttp3.open("GET", suggested_arv_number_url, true);
                            xhttp3.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                            xhttp3.setRequestHeader('Content-type', "application/json");
                            xhttp3.send();
                        }
                    }
                };

                xhttp2.open("GET", regimen_url, true);
                xhttp2.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                xhttp2.setRequestHeader('Content-type', "application/json");
                xhttp2.send();
                /********************************************/
            }
        };

        xhttp1.open("GET", url, true);
        xhttp1.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
        xhttp1.setRequestHeader('Content-type', "application/json");
        xhttp1.send();
    }

    function changeSubmitButton() {
        __$('nextButton').onmousedown = function () {
            var value = __$('touchscreenInput' + tstCurrentPage).value;
            var selected_arv_number = site_prefix + "-ARV-" + value;
            var url = apiProtocol + "://" + apiURL + ":" + apiPort + "/api/v1/programs/1/lookup_arv_number/" + selected_arv_number;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                    var exists = JSON.parse(this.responseText)["exists"];
                    if (exists) {
                        showMessage("ARV number already exists")
                    } else {
                        postARVNumber();
                    }
                }
            };

            xhttp.open("GET", url, true);
            xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
            xhttp.setRequestHeader('Content-type', "application/json");
            xhttp.send();
        }
    }

    function loadARVNumber() {
        var inputElement = $('tt_page_art_number').getElementsByTagName("input")[0];
        var prefix = document.createElement("span");

        var style = document.createAttribute("style");
        style.value = "position: absolute; z-index: 100; left: 47px; font-size: 44px;";

        prefix.setAttributeNode(style);
        inputElement.setAttribute("style", "text-align:right;");
        prefix.innerHTML = site_prefix;
        inputElement.parentNode.insertBefore(prefix, inputElement);
        style.value += 'left:35px;';
        prefix.setAttributeNode(style);

        inputElement.value = arv_number
    }

    function resetPage() {
        jQuery('#keyboard').show();
        jQuery("#buttons").show();
        jQuery("#innerPop").show()
        jQuery("#inputFrame" + tstCurrentPage).show();
        jQuery(".loader").hide();
    }

</script>

<body id="mateme">
<div id="container">
    <div id="content">

        <form>
            <input type="text" name="variables"
                   tt_onLoad="initializeVariables();"
                   tt_onUnLoad="resetPage();"
                   tt_pageStyleClass="NoControls" optional="true"/>

            <input allowFreeText="true" field_type="alpha" helpText="ART number" id="art_number" name="arv_number"
                   tt_onLoad="press('num'); loadARVNumber(); changeSubmitButton();"
                   tt_pageStyleClass="Numeric NumbersOnly" type="text"/>
        </form>

        <div class="loader"></div>
    </div>
</div>
</body>

<style>
    .loader {
        position: absolute;
        display: none;
        top: 30%;
        left: 40%;
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        z-index: 9999999999999;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>