<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js"
            defer="true"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>

    <script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
    <link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
    <script type="text/javascript" src="/assets/js/post_parameters.js"></script>
    <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
    <script type="text/javascript" src="/assets/js/moment.js"></script>
    <script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
    <script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>

    <link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

    <script type="text/javascript">
        var tt_cancel_destination = "/views/patient/mastercard.html";


        function changeSubmitButton() {
            __$('nextButton').onmousedown = function () {
                var landmark = __$('touchscreenInput' + tstCurrentPage).value;
                if (landmark.length == 0) {
                    showMessage("Enter value to continue");
                    return;
                }
                var person_attributes_data = {
                    "landmark": landmark
                };
                var person_address_edit_url = apiProtocol + "://" + apiURL + ":" + apiPort + "/api/v1/people/" + sessionStorage.patientID;
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                        //gotoMastercard();
                    }
                };
                xhttp.open("PUT", person_address_edit_url, true);
                xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                xhttp.setRequestHeader('Content-type', "application/json");
                xhttp.send(JSON.stringify(person_attributes_data));
            }
        }

        function gotoMastercard() {
            window.location = tt_cancel_destination;
        }

    </script>


</head>
<body id="mateme">
<div id="container">
    <div id="content">
        <form>
            <input allowFreeText="true" field_type="alpha" helpText="Landmark Or Plot Number"
                   tt_onLoad="changeSubmitButton();" id="address1"
                   name="landmark" type="text"/>
        </form>
    </div>
</div>
</body>
</html>
