<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js"
            defer="true"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>

    <script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
    <link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
    <script type="text/javascript" src="/assets/js/post_parameters.js"></script>
    <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
    <script type="text/javascript" src="/assets/js/moment.js"></script>
    <script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
    <script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>

    <link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

    <script type="text/javascript">
        tt_cancel_destination = "/views/patient/mastercard.html";
    </script>

</head>
<body id="mateme">
<div id="container">
    <div id="content">
        <form>
            <input allowFreeText="true" field_type="alpha" helpText="Landmark Or Plot Number" id="address1"
                   name="landmark" type="text"/>
        </form>
    </div>
</div>
</body>
</html>
