<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>

    <script language="javascript" defer="true">
        tstUsername = "";
        tstUserKeyboardPref = "qwerty";

        var d = new Date();
        d.toDateString();

        function getInput() {
            key = $('touchscreenInput' + tstCurrentPage).getAttribute("key");
            value = $('touchscreenInput' + tstCurrentPage).value;
            sessionStorage.setItem(key, value);
            var d = new Date();
            sessionStorage.setItem("date_created", d.toDateString())
        }

        function addInput(field_name) {
            var value = ""
            console.log(sessionStorage.getItem(field_name));

            if (sessionStorage.getItem(field_name) !== "null"){
                value = sessionStorage.getItem(field_name);
            }

            __$("touchscreenInput" + tstCurrentPage).value = value;
        }

        function validateName() {
            __$("nextButton").removeAttribute("onmousedown");
            __$("nextButton").onmousedown = function () {

                validRegEx = /^(?=.{2,100}$)[a-z\!\A-Z]+(?:['_.\-\!\][a-z]+[a-z\!\A-Z])*$/
                value = $('touchscreenInput' + tstCurrentPage).value;
                if (value.match(validRegEx) == null) {
                    showMessage("Invalid name input");
                } else if (value.match(validRegEx) != null) {
                    gotoNextPage();
                }
            }
        }
    </script>

    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js"
            defer="true"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/data.js"></script>
    <script type="text/javascript" src="/assets/js/core.js"></script>
    <script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
    <script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>

</head>

<body id="mateme">
<div id="container">
    <div id="content">
        <form method='PUT'>
            <input helpText="First Name" value="" allowFreeText="true" type="text" key="given_name" name="given_name"
                   id="given_name"
                   tt_onLoad="validateName();addInput('given_name');" tt_onUnload="getInput();"
                   ajaxURL="/search/given_name?search_string="/>

            <input helpText="Last Name" key="family_name" value=""
                   tt_onLoad="validateName();editName();addInput('family_name');"
                   field_type="alpha" allowFreeText="true" type="text" name="family_name" id="family_name"
                   tt_onUnload="getInput();"
                   ajaxURL="/search/family_name?search_string="/>
        </form>
        <div id="footer">
        </div>
    </div>
</div>
</body>
</html>

<script type="text/javascript">
    var tt_cancel_destination = "/views/patient/edit_demographics.html?patient_id=" + sessionStorage.patientID;

    if (window.location.search.indexOf("source=mastercard") != -1) {
        tt_cancel_destination = "/views/patient/mastercard.html";
    }

    var url = new URL(url);
    var apiURL = sessionStorage.getItem("apiURL");
    var apiPort = sessionStorage.getItem("apiPort");
    var apiProtocol = sessionStorage.getItem("apiProtocol");
    var patient_id = sessionStorage.patientID;
    getName(id, sessionStorage.getItem("apiURL"), sessionStorage.getItem("apiPort"), sessionStorage.getItem("apiProtocol"));

    function editName() {
        __$("nextButton").removeAttribute("onmousedown");
        document.getElementById('touchscreenInput1').removeEventListener('keyup', checkKey, false);
        document.getElementById('touchscreenInput1').addEventListener('keyup', function (event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                postEdit();
            }
        });
        __$("nextButton").onmousedown = function () {
            postEdit();
        }

    }

    function postEdit() {
        getInput();
        given_name = sessionStorage.getItem("given_name")
        family_name = sessionStorage.getItem("family_name");
        var http = new XMLHttpRequest();
        var url = apiProtocol + '://' + apiURL + ':' + apiPort + '/api/v1/people/' + sessionStorage.patientID;
        if(sessionStorage.dde_enabled === 'true') {
          var params = JSON.stringify({
              given_name: sessionStorage.getItem("given_name"),
              family_name: sessionStorage.getItem("family_name"),
              program_id: sessionStorage.programID
          });
        }else{
          var params = JSON.stringify({
              given_name: sessionStorage.getItem("given_name"),
              family_name: sessionStorage.getItem("family_name")
          });
        }
        http.open('PUT', url, true);
        //Send the proper header information along with the request
        http.setRequestHeader('Content-type', 'application/json');
        http.onreadystatechange = function () { //Call a function when the state changes.
            if (http.readyState == 4) {

                if (http.status == 200) {
                    if (window.location.search.indexOf("source=mastercard") != -1) {
                        document.location = "/views/patient/mastercard.html";
                    }
                    else {
                        document.location = '/views/patient/edit_demographics.html?patient_id=' + sessionStorage.patientID;
                    }

                } else if (http.status == 400) {
                    showMessage("Bad Request");
                } else {
                    showMessage("error" + http.status);
                }
            }
        }
        http.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
        http.send(params);

    }
</script>
