#nextButton, #clearButton {
  display: none;
}

.main-table {
  display: table;
  width: 100%;
}

.main-table-row {
  display: table-row;
}

.main-table-cell {
  display: table-cell;
}

#main-table-cell-left {
  width: 132px;
  text-align: center;
}

#main-table-cell-right {
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  height: 598px;
  vertical-align: top;
}

.nav-buttons {
  padding: 15% 0px 0px 0px;
  /*float: left;*/
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
  /*margin: 5px 5px 0px 10px;*/
  border: 1px solid #5ca6c4;
  cursor: pointer;
  box-shadow: inset 2px -4px 2px 0px;
  background-color: white;
  border-radius: 7px;
  border: solid black 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #5ca6c4;
  box-shadow: inset 0 0 10px #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  width: 100px;
  height: 100px;
  background-color: #5ca6c4;
  color: white;
}

#nav-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 15px;
}

#nav-table td {
  text-align: center;
}

.icons {
  width: 30px;
  height: 30px;
}

/* .............................................. */
.results-divs-table {
  display: table;
  width: 99%;
  margin: 10px;
  height: 570px;  
}

.results-divs-table-row {
  display: table-row;
}

.results-divs-table-cell {
  display: table-cell;
  border-style: solid;
  border-width: 1px;
  height: 285px;
  overflow: auto;
  border-radius: 9px;
}

#results-divs-table-cell-left {
  float: left;
  width: 55%;
}

#results-divs-table-cell-right {
  float: right;
  width: 43%;
  margin-right: 10px;
}

#results-ul {
  padding-left: 0px;
}
/* .............................................. */

.keyboard-buttons {
/*  
  padding: 20% 0px 0px 0px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin: 5px;
  border: 1px solid #5ca6c4;
  cursor: pointer;
  box-shadow: inset 2px -4px 2px 0px;
  background-color: white;
  border-radius: 7px;
  border: solid black 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #5ca6c4;
  box-shadow: inset 0 0 10px #000000;
  text-decoration: none;
  font-weight: bold;
  width: 70px;
  height: 70px;
  background-color: #5ca6c4;
  color: white;
*/
  padding: 20% 0px 0px 0px;
  float: left;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin: 5px;
  border: 1px solid #5ca6c4;
  cursor: pointer;
  /*box-shadow: inset 2px -4px 2px 0px;*/
  background-color: white;
  border-radius: 7px;
  border: solid black 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #7eb9d0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15pt;
  font-family: arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #FFFFFF;
  background-color: #a7cfdf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
  background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -o-linear-gradient(top, #a7cfdf, #23538a);
  background-image: linear-gradient(to bottom, #a7cfdf, #23538a);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a7cfdf, endColorstr=#23538a);
  width: 70px;
  height: 65px;
  text-align: center;
    
}

#keyboard-divs-table-cell {
  border-style: solid;
  border-width: 1px;
  border-radius: 9px;
  position: absolute;
  bottom: 30px;
}

.search-results-keyboard-row {
  display: table-row;
}

.search-results-keyboard-cell {
  display: table-cell;
}

.results-list {
  font-size: 28px;
  color: black;
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Nimbus Sans L","Arial Narrow",sans-serif;
}


/* .................................................. */

.dosage-table {
  display: table;
}

.dosage-table-row {
  display: table-row;
}

.dosage-table-cell {
  display: table-cell;
}

#dosage-table-cell-right {
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  width: 400px;
  padding-right: 5px;
  height: 598px;
}

#dosage-table-cell-left {
  width: 55%;
}

#dosage-keypad-table {
  width: 100%;
  margin-left: 2%;
}

/* ...................................................... */
.prescription-keypad {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  padding-left: 10%;
}

.keypad-buttons {
*/padding: 20% 0px 0px 0px;
  float: left;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin: 5px;
  border: 1px solid #5ca6c4;
  cursor: pointer;
  box-shadow: inset 2px -4px 2px 0px;
  background-color: white;
  border-radius: 7px;
  border: solid black 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #5ca6c4;
  box-shadow: inset 0 0 10px #000000;
  text-decoration: none;

  font-weight: bold;
  width: 90px;
  height: 60px;
  background-color: #5ca6c4;
  color: white;
*/
  padding: 20% 0px 0px 0px;
  float: left;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin: 5px;
  border: 1px solid #5ca6c4;
  cursor: pointer;
  /*box-shadow: inset 2px -4px 2px 0px;*/
  background-color: white;
  border-radius: 7px;
  border: solid black 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #7eb9d0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 23px;
  font-family: arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #FFFFFF;
  background-color: #a7cfdf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
  background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -o-linear-gradient(top, #a7cfdf, #23538a);
  background-image: linear-gradient(to bottom, #a7cfdf, #23538a);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a7cfdf, endColorstr=#23538a);
  text-align: center;
    

  width: 75px;
  height: 65px;
}

.input-boxes {
  width: 100px;
  height: 85px;
  font-size: 2.2em;
  text-align: center;
}


/* ........................ duration ............... */
/*#duration-text {
  height: 85px;
  margin-left: 25%;
  font-size: 2.2em;
  width: 395px;
  text-align: center;
}

#duration-table .prescription-keypad {
  margin-left: 25%;
}

#duration-label {
  margin-left: 50%;
}
*/
/* ...................... summary .................. */
#summary-table {
  width: 99%;
  margin: 5px 10px 5px 5px;
  border-collapse: collapse;
}

#summary-table th {
  border-style: solid;
  border-width: 1px;
  text-align: left;
  padding-left: 5px;
}

#summary-table td {
  border-style: solid;
  border-width: 1px;
  text-align: left;
  padding-left: 5px;
}

#key-input {
  position: absolute;
  top: 50px;
  width: 81%;
  height: 55px;
  border-style: solid;
  border-width: 1px;
  border-radius: 9px 9px 0px 0px;
  margin-left: 9px;
  font-size: 2.5em;
  padding-left: 10px;
}

#results-divs-table-row-one {
  padding-top: 50px;
  position: absolute;
  width: 82%;
}


