/* The Modal (background) */
.provider-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 95%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .provider-modal-content {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 90%;
    height: 90%; /* can use left: 0; right: 0; as well */
    background: #ccc;
    margin: 5%;
    background-color: #fefefe;
    border: 1px solid rgb(12, 12, 12);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s 
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .provider-modal-header {
    width: 100%; 
  height: 3em;
  margin-top: 0%;
    background-color: #000000;
    /* width: 100%; 
    height: 3em;
    background-color: #666;
    position: absolute; */
    /* padding: 2px 6px;
    background-color: #69b7e7;
    color: white;
    height: 55px;
    width: 98.7%;
    top: 0; */
  }
  .provider-modal-body {
      position: absolute;
  top: 3em;
  bottom: 3em;
  width: 100%; /* can use left: 0; right: 0; as well */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; 
    /* position: absolute;
    top: 55px;
    bottom: 55px;
    width: 100%;
    padding: 2px 16px;
    overflow: scroll; */
}
  
  .provider-modal-footer {

    position: absolute;
  bottom: 0;
  width: 100%; /* can use left: 0; right: 0; as well */
  height: 4em;
    background-color: #000000;
    color: white;
  }

.provider-list {
  list-style-type: none;
  padding: 0;
  margin: 1px;
}

.providers {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
}
.active {
        background-color: rgb(189, 189, 236);
}

.select-button {
  /* background-color: #4CAF50; */
  /* border: none; */
  /* color: white; */
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px;
  margin: 4px 2px; */
  cursor: pointer;
  position: relative;
  right: 7px;
  top: 4px;
  transition: none 0s ease 0s;
  cursor: move;
  float: right;
  border: 1px solid #34740e;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 28px;
    font-family: arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4ba614;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00));
    background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
    background-image: -moz-linear-gradient(top, #4ba614, #008c00);
    background-image: -ms-linear-gradient(top, #4ba614, #008c00);
    background-image: -o-linear-gradient(top, #4ba614, #008c00);
    background-image: linear-gradient(to bottom, #4ba614, #008c00);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#4ba614, endColorstr=#008c00);
}

.disabled-btn {
  background-color: #bdbdbdc4;
  color: #000;
}

.activated-btn {
  color: white;
  background-color: #4CAF50;
}
