
.vitals-keypad {
  width: 300px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  margin-left: auto;
  margin-right: auto;
}

.keypad-buttons {
  border: 1px solid #7eb9d0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 28px;
  font-family: arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #FFFFFF;
  background-color: #a7cfdf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
  background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -o-linear-gradient(top, #a7cfdf, #23538a);
  background-image: linear-gradient(to bottom, #a7cfdf, #23538a);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a7cfdf, endColorstr=#23538a);
  width: 75px;
  height: 55px;
  text-align: center
}

#vitals-input {
  width: 95%;
  padding: 5px;
  margin: 5px;
  display: inline;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: silver;

  font-family: "Nimbus Sans L","Arial Narrow",sans-serif;
  font-size: 2.2em;
}

.summary-table {
  width: 99%;
  border-collapse: collapse;
}

.summary-table td, th {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  text-align: left;
  padding: 10px;
}

.summary-table td {
  text-align: right;
  margin-right: 5px;
}


