{
  "encounters": {
   "vitals": {
      "available": true,
      "url": "/views/patient/vitals.html"
    },
    "hiv reception": {
      "available": true,
      "url": "/apps/ART/views/hiv_reception.html"
    },
    "treatment": {
      "available": true,
      "url": "/views/patient/prescription.html"
    },
    "hiv staging": {
      "available": true,
      "url": "/apps/ART/views/patient/hiv_staging.html"
    },
    "hiv clinic consultation": {
      "available": true,
      "url": "/apps/ART/views/patient/hiv_clinic_consultation.html"
    },
    "hiv clinic registration": {
      "available": true,
      "url": "/apps/ART/views/patient/hiv_clinic_registration.html"
    },
    "art adherence": {
      "available": true,
      "url": "/apps/ART/views/patient/art_adherence.html"
    },
    "appointment": {
      "available": true,
      "url": "/views/patient/appointment.html"
    },
    "dispensing": {
      "available": true,
      "url": "/views/patient/dispensing.html"
    }
  },
  "activities": {
    "url": "/apps/ART/views/activities.html",
    "tasks": [
      ["Manage ART adherence","art adherence"],
      ["Manage HIV clinic consultations","hiv clinic consultation"],
      ["Manage HIV first visits","hiv clinic registration"],
      ["Manage HIV reception visits","hiv reception"],
      ["Manage HIV staging visits","hiv staging"],
      ["Manage Appointments","appointment"],
      ["Manage Drug Dispensations","dispensing"],
      ["Manage Prescriptions","treatment"],
      ["Manage Vitals","vitals"]
    ]
  },
    
  "activities": [
    {
      "activitiesName": "National ID(Print)",
      "available": false,
      "activitiesIcon": "/assets/images/aids.png",
      "activitiesDescription": "Print Patient National ID",
      "comment": "these are examples, add another application with this template at the end of these curly braces by adding a comma and copying this template"
    },
    {
      "activitiesName": "Visit Summary",
      "available": false,
      "activitiesIcon": "/assets/images/aids.png",
      "activitiesDescription": "Print Patient Visit Summary",
      "comment": "these are examples, add another application with this template at the end of these curly braces by adding a comma and copying this template"
    },
    {
      "activitiesName": "Demographics(Print)",
      "available": false,
      "activitiesIcon": "/assets/images/aids.png",
      "activitiesDescription": "Print Patient Demographics",
      "comment": "these are examples, add another application with this template at the end of these curly braces by adding a comma and copying this template"
    },
    {
      "activitiesName": "Demographics(Edit)",
      "available": false,
      "activitiesIcon": "/assets/images/aids.png",
      "url": "/views/patient/edit_demographics.html",
      "activitiesDescription": "Print Patient Demographics",
      "comment": "these are examples, add another application with this template at the end of these curly braces by adding a comma and copying this template"
    }
  ]
}
