{

	"apiURL": "127.0.0.1",
	"apiPort": "3001",
	"apiProtocol": "http",
	"apps": [
		{
			"applicationName": "ART",
	      	"programID": "1",
			"applicationFolder": "ART/",
			"url": "apps/ART/views/activities.html",
			"applicationIcon": "/assets/images/aids.png",
			"applicationDescription": "HIV Program",
			"comment": "these are examples, add another application with this template at the end of these curly braces by adding a comma and copying this template"
		},
		{
			"applicationName": "ANC",
	      	"programID": "12",
			"applicationFolder": "ANC/",
			"url": "apps/ANC/views/activities.html",
			"applicationIcon": "/assets/images/anc.png",
			"applicationDescription": "Antenatal Program",
			"comment": "these are examples, add another application with this template at the end of these curly braces by adding a comma and copying this template"
		},
		{
			"applicationName": "TB",
	      	"programID": "2",
			"applicationFolder": "TB/",
			"url": "apps/TB/views/activities.html",
			"applicationIcon": "/assets/images/tb.png",
			"applicationDescription": "Tuberculosis Program",
			"comment": "these are examples, add another application with this template at the end of these curly braces by adding a comma and copying this template"
		},
				{
			"applicationName": "OPD",
	      	"programID": "14",
			"applicationFolder": "OPD/",
			"url": "",
			"applicationIcon": "/assets/images/opd.png",
			"applicationDescription": "Outpatient Program",
			"comment": "these are examples, add another application with this template at the end of these curly braces by adding a comma and copying this template"
		}
		
	]
}
