
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<!-- <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script> -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<link rel="stylesheet" href="/assets/css/dispensing.css" type="text/css">
<script type="text/javascript" src="/assets/js/dispensing.js"></script>

<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/client-scan-barcode.js"></script>

<!--link rel="stylesheet" href="/apps/core/assets/css/datatables/jquery.dataTables.min.css" type="text/css"-->
<link rel="stylesheet" href="/assets/css/datatables/uikit.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/datatables/dataTables.uikit.min.css" type="text/css">

<link rel="stylesheet" href="/assets/css/datatables/fixedHeader.dataTables.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/datatables/scroller.dataTables.min.css" type="text/css">

<script type="text/javascript" src="/assets/js/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/datatables/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<link rel="stylesheet" href="/assets/css/provider.css" type="text/css">
<script type="text/javascript" src="/assets/js/provider.js  "></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<style>

.uk-table th, .uk-table td {
  color: black;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  vertical-align: middle;
}

.alertify-notifier{
    color: black;
}
#cancelButton {
  display: none;
}
</style>

<script>
  var setDataTable = null;

  function initDataTable() {
    setDataTable = jQuery('#med-list').DataTable( {
      fixedHeader: true,
      searching: false,
      paging: false,
      scrollY: 330,
      scroller: {
        loadingIndicator: true
      }
    } );
  }

function changeNextButton() {
  var bnt = document.getElementById("nextButton")
  bnt.setAttribute("onmousedown", "doneDispensation();")
}

function doneDispensation() {
  window.location = "/views/patient_dashboard.html?patient_id=" + sessionStorage.patientID
  //nextEncounter(sessionStorage.patientID, 1);
}
var patient_id = sessionStorage.patientID;
var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patient_id;
</script>


<body id="mateme">
  <div id="container">
    <div id="content">


      <form>

        <input type="text" name="summary"
          tt_onLoad="checkIfInBDMode();__$('keyboard').style.display = 'none';dispensingPage();initDataTable();getPrescriptions();changeNextButton();"
          tt_pageStyleClass= "NoControls" helpText="Dispensing" optional = "true"/>


      </form>

   </div>
 </div>
</body>


