<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>

    <script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
    <link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
    <script type="text/javascript" src="/assets/js/post_parameters.js"></script>
    <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
    <script type="text/javascript" src="/apps/ART/assets/js/arv_number.js"></script>
    <script type="text/javascript" src="/assets/js/moment.js"></script>
    <script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
    <script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>

    <link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
    <script type="text/javascript">
        var tt_cancel_destination = "/";

        function changeFinishButtonToGoToSelectedOption(){
            __$('nextButton').onmousedown = function () {
                var value = __$('touchscreenInput' + tstCurrentPage).value;
                if (!value){
                    showMessage("You must enter a value to continue");
                    return;
                }

                if (value.match(/ARV Number/i)){
                    window.location.href = '/views/patient/find_by_arv_number.html';
                }
            }
        }

    </script>
</head>

<body id="mateme">
<div id="container">
    <div id="content">
        <form>
            <select helpText="Find By" id="find_by" name="find_by" tt_pageStyleClass="NoKeyboard" tt_onLoad="changeFinishButtonToGoToSelectedOption();">
                <option value="ARV Number">ARV Number</option>
            </select>
        </form>
    </div>
</div>
</body>
</html>
