
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<!-- <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script> -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
        
<!-- ........... VL files ....................... -->
<link rel="stylesheet" href="/apps/ART/assets/css/vl.reminder.css" type="text/css">
<script type="text/javascript" src="/apps/ART/assets/js/vl.reminder.js"></script> 
<!-- ........... VL files end ....................... -->


<script type="text/javascript" src="/assets/js/httpUtils.js"></script>
<script type="text/javascript" src="/assets/js/GlobalProperty.js"></script>
<link rel="stylesheet" href="/assets/css/lab.min.css" type="text/css">
<script type="text/javascript" src="/assets/js/lab.min.js"></script>
        
        
        
<script type="text/javascript" src="/assets/js/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/datatables/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="/apps/ART/assets/js/generic-keyboard.js"></script>
<style>
#nextButton { display: none; }
</style>

<script type="text/javascript">
  var patient_id = sessionStorage.patientID;
  var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patient_id;
</script>

<body id="mateme">
  <div id="container">
    <div id="content">


      <form>

        <input type="text" name="summary"
          tt_onLoad="__$('keyboard').style.display = 'none';buildLabOrderDisplay();" 
          tt_pageStyleClass= "NoControls" helpText="Lab orders" optional = "true"/>

      

      </form>

   </div>
 </div>
</body>

