
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<!-- <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script> -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/order_entry.js"></script>


<body id="mateme">
  <div id="container">
    <div id="content">


      <form>

        <input type="text" name="summary"
          tt_onLoad="__$('keyboard').style.display = 'none'; buildOrderEntry();" 
          tt_pageStyleClass= "NoControls" helpText="Lab orders" optional = "true"/>

      

      </form>

   </div>
 </div>
</body>

