<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js"
        defer="true"></script>
<!-- <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script> -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<script type="text/javascript" src="/assets/js/httpUtils.js"></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<script src="/assets/js/moment.js"></script>
<link rel="stylesheet" href="/assets/css/lab.min.css" type="text/css">

<style>
    #nextButton {
        display: none;
    }

    #past-filing-numbers{
        width: 100%;
    }

    #past-filing-numbers th {
        background-color: teal;
        color: white;
        text-align: center;
        line-height: 2em;
    }

    #past-filing-numbers tbody {
        text-align: center;
        line-height: 2em;
        letter-spacing: 1;
    }

    .actionbtn {
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
    }
    .activate {
        background-color: green;
    }
    .deactivate {
        background-color: red;
    }
</style>

<script type="text/javascript">
    var patient_id = sessionStorage.patientID;
    var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patient_id;

    function showPastFillingNumbers() {
        html = "<table>";
        html += "</html>";
        jQuery("#keyboard").hide();
        jQuery("#clearButton").hide();
        jQuery("#cancelButton").hide();

        jQuery(".inputFrameClass").css("width", "96%");
        jQuery(".inputFrameClass").css("height", "80%");

        finishButtonHtml = '<button class="button navButton green"  onmousedown="gotoPatientDashboard();"><span>Finish</span></button>'
        jQuery("#buttons").append(finishButtonHtml);

        function ajaxRequest() {
            var url = 'http://' + apiURL + ':' + apiPort + '/api/v1/patients/' + sessionStorage.patientID;
            var req = new XMLHttpRequest();
            req.onreadystatechange = function () {

                if (this.readyState == 4) {
                    if (this.status == 200) {
                        var results = JSON.parse(this.responseText);
                        var file_number = getIdentifier(results["patient_identifiers"], 17);
                        getPastFilingNumbers(file_number);
                    }
                }
            };
            try {
                req.open('GET', url, true);
                req.setRequestHeader('Authorization', sessionStorage.getItem('authorization'));
                req.send(null);
            } catch (e) {
            }
        }




        function getIdentifier(identifiers, identifier_type) {
            var identifier = [];
            // console.log(identifiers.length);
            for (var index = 0; index < identifiers.length; index++) {
                console.log(identifiers[index]);
                if(identifiers[index]["identifier_type"] == identifier_type) {
                   return identifier =  identifiers[index];
                }else {
                    identifier = [];
                }
            }
            return identifier;
        }




        function getPastFilingNumbers(current_file_number) {
            var past_filling_numbers_url = apiProtocol + "://" + apiURL + ":" + apiPort;
            past_filling_numbers_url += "/api/v1/patients/" + sessionStorage.patientID + "/past_filing_numbers";
            var xhttp1 = new XMLHttpRequest();
            xhttp1.onreadystatechange = function () {
                if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                    var old_filling_numbers = JSON.parse(this.responseText);
                    var past_filling_numbers = [];
                    if(Object.keys(current_file_number).length > 0) {
                        past_filling_numbers.push(current_file_number);

                    }
                    if(old_filling_numbers.length > 0) {

                        for (var i = 0; i < old_filling_numbers.length; i++) {

                            past_filling_numbers.push(old_filling_numbers[i]);

                        }
                    }
                    var html = "<table id='past-filing-numbers'>";
                    html += "<thead>";
                    html += "<th>Status</th>";
                    html += "<th>Filing #</th>";
                    html += "<th>Date created</th>";
                    html += "<th>Date voided</th>";
                    html += "<th>Action</th>";
                    html += "</thead>";
                    html += "<tbody>";
                    var count = 1;
                    for (var key in past_filling_numbers) {
                        var identifier = past_filling_numbers[key]["identifier"];
                        var date_created = past_filling_numbers[key]["date_created"];
                        date_created = moment(date_created).format('DD/MMM/YYYY');
                        var date_voided = past_filling_numbers[key]["date_voided"];
                        date_voided = moment(date_voided).format('DD/MMM/YYYY');

                        html += "<tr>";
                        html += "<td>" + ((past_filling_numbers[key].voided == 1) ? "voided" : "active") + "</td>";
                        html += "<td>" + identifier + "</td>";
                        html += "<td>" + date_created + "</td>";
                        html += "<td>" + date_voided + "</td>"
                        html += "<td><span id="+past_filling_numbers[key].patient_identifier_id+" class='actionbtn " + ((past_filling_numbers[key].voided == 1) ? "activate' onclick='getActiveFileNumber();'>Activate" : "deactivate' onclick='archiveFileNumber(this);'>Archive") + "</span></td>";
                        html += "</tr>";
                        count = count + 1;
                    }

                    html += "</tbody>";
                    html += "<table>";
                    jQuery(".inputFrameClass").append(html)
                }
            };

            xhttp1.open("GET", past_filling_numbers_url, true);
            xhttp1.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
            xhttp1.setRequestHeader('Content-type', "application/json");
            xhttp1.send();
        }

        ajaxRequest();
    }


    function gotoPatientDashboard() {
        window.location = "/views/patient_dashboard.html?patient_id=" + sessionStorage.patientID;
    }

    function archiveFileNumber(identifier) {
        console.log(identifier.getAttribute("id"));
      var patientId = sessionStorage.patientID; 
      var apiUrl = apiProtocol + "://" + apiURL + ":" + apiPort + '/api/v1/patient_identifiers/' + identifier.id;
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && (this.status == 201 || this.status == 204)) {
                        //gotoMastercard();
                        alert("voided")
                    }
                };
                xhttp.open("DELETE", apiUrl, true);
                xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                xhttp.setRequestHeader('Content-type', "application/json");
                xhttp.send();
    }

    function getActiveFileNumber() {
        var url = '/apps/ART/views/file_numbers.html?patient_id=' + sessionStorage.patientID;
        document.location = url;
    }
</script>

<body id="mateme">
<div id="container">
    <div id="content">
        <form>

            <input type="text" name="summary"
                   tt_onLoad="showPastFillingNumbers();"
                   tt_pageStyleClass="NoControls" helpText="Possible filling numbers" optional="true"/>


        </form>

    </div>
</div>
</body>

