<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
      <script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
      <script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>

      <link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
    
    <script language="javascript" defer="true">
           
      tstUsername = "";
      tstUserKeyboardPref = "qwerty";
      
      tstCurrentDate = "2018-09-20";
            
        function addHereButton(){
            var button = document.createElement("button");
            button.id = "addHere";
            button.innerHTML = "<span>Here</span>";
            button.style.cssFloat = "right";
            
            button.onclick = function(){
            __$("touchscreenInput" + tstCurrentPage).value = "Likuni Hospital"
            }
            
            if(__$("buttons")){
            __$("buttons").appendChild(button);
            }
        }
    
        function removeHereButton(){
            if(__$("addHere")){
            __$("buttons").removeChild(__$("addHere"));
            }
        }
    
        function getSelected(){
            var choices = "";

            for(var o = 0; o < __$('choice').options.length; o++){
            if(__$('choice').options[o].selected == true){
                choices += __$('choice').options[o].innerHTML + " ";
            }
            }

            return choices;
        }



        function resetFinishBtn() {
            var finishButton =  __$("nextButton");
            finishButton.setAttribute('onmousedown',"updateProgramState();");
            finishButton.setAttribute('onclick',"");
       }

    </script>

    <script language="javascript" type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
    <script src="/javascripts/dateselector.js?1531829709" type="text/javascript"></script>

  </head>
  <body id="mateme">  
    <div id="container">
      <div id="content">
          
        
        <link href="/stylesheets/set_date.css?1531829709" media="screen" rel="stylesheet" type="text/css" />
    <script>

        function updateProgramState(){

            console.log('Program id ' + __$('program_name').value);
            console.log('State ' + __$('program_states').value);
            console.log('date ' + __$('set_date').value);
        }

        function getInput(){
        }

        function validateDate() {
            year = parseFloat(document.getElementsByName('set_year')[0].value)
            month = parseFloat(document.getElementsByName('set_month')[0].value)
            day = parseFloat(document.getElementsByName('set_day')[0].value)
            return dateDiff(year,month,day);
        }

        function set_program_for_workflows() {
            var program_id = encodeURIComponent($('program_id').value); 
            $('touchscreenInput'+tstCurrentPage).setAttribute('ajaxURL', "/programs/" + program_id + "/workflows");
            listSuggestions(tstCurrentPage); 
        }

        function dateDiff(year,month,day){
            today = new Date();
            dateStr = today.getDate();
            monthStr = today.getMonth() + 1;
            yearStr = today.getFullYear();
            today = new Date(parseFloat(yearStr),parseFloat(monthStr),parseFloat(dateStr));
            set_date = new Date(parseFloat(year),parseFloat(month),parseFloat(day));
            return (today > set_date)
        }

        function set_ajaxURL_for_suggestions(url) {
            $('touchscreenInput'+tstCurrentPage).setAttribute('ajaxURL', url);
            listSuggestions(tstCurrentPage);
        }

        function validProgram(){

          if(enrolled_program_names == ''){
            return true;
          }

          selected_location = ($('tt_page_location').getElementsByTagName("input")[0].value);
            alert("");
           for (var i = 0 ; i < enrolled_program_names.length ; i++ ){
            if(enrolled_program_names[i][0] == selected_program && enrolled_program_names[i][1] == selected_location){
                return false;
            }
          }
            return true;
        }

    var tt_cancel_destination = "/clinic"
    </script>
       <form action = "" method = "post">

        <input  type="text" name="program_name"
            id="program_name"
            objectType="program"
            field_type="alpha"
            helpText="Program name"
            key="program_name"
            tt_onUnLoad="getInput();"
            ajaxURL="/programs?page_size=10&name="
            tt_pageStyleClass= "NoKeyboard" 
         />
        <select ajaxURL="/locations" 
                allowFreeText="false"
                objectType="locations"
                field_type="alpha"
                helpText="Location"
                id="location_id"
                name="location_id"
                validationJS="validProgram()" 
                validationMessage="Patient already enrolled in program"
                tt_pageStyleClass= "NoKeyboard"  
        />

        <input type="text" name="program_workflow_id"
                id="program_workflow_id"
                field_type="alpha" 
                helpText="Program workflow"
                key="program_workflow_id"
                tt_onUnload="getInput();"
                ajaxURL="/programs/" + document.getElementById('program_name').value + "/workflows"
                tt_onLoad="set_ajaxURL_for_suggestions('/programs/' + document.getElementById('program_name').value + '/workflows');"
                tt_pageStyleClass= "NoKeyboard" 
                objectType="workflow" 
        />

        <input type="text" name="program_states"
                id="program_states"
                field_type="alpha" 
                helpText="Program states"
                key="program_states"
                tt_onUnload=""
                ajaxURL="/programs/" + document.getElementById('program_name').value + "/workflows"
                tt_onLoad="set_ajaxURL_for_suggestions('/programs/' + document.getElementById('program_name').value + '/workflows');"
                tt_pageStyleClass= "NoKeyboard" 
                objectType="states" 
        />



        <input field_type="date"
            helpText="Initial state Date" 
            id="set_date" name="set_date" 
            type="text"
            tt_onUnLoad="updateProgramState();"

        />

        <input name="commit" type="submit" value="Set visit date" />

        </form>
  
        <div id="footer">
        </div>    
      </div>  
    </div>
  </body>
</html>
