
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<link rel="stylesheet" href="/assets/css/prescription.css" type="text/css">
<script type="text/javascript" src="/assets/js/prescription.js"></script>

<script type="text/javascript" src="/assets/js/post_parameters.js"></script>


<body id="mateme">
  <div id="container">
    <div id="content">


      <form onsubmit="submitEncounter();">

        <input type="text" name="summary"
          tt_onLoad="__$('keyboard').style.display = 'none';buildPrescriptionPage();" 
          tt_pageStyleClass= "NoControls" helpText="Prescription" optional = "true"/>

        <!--input type="text" name="summary"
          tt_onLoad="__$('keyboard').style.display = 'none';changeNextBtnToSubmit();buildVitalSummary();" 
          tt_pageStyleClass= "NoControls" helpText="Summary" optional = "true"
          tt_onUnLoad="resetNextButton();" /-->

      

      </form>

   </div>
 </div>
</body>

