<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/demographics.js"></script>
<script>
  var useFilingNumbers = false;
  var API_PATH = 'http://' + sessionStorage.getItem('apiURL') + ':' + sessionStorage.getItem('apiPort') + '/api/v1';
  var FILING_NUMBERS_ROUTE = '/apps/ART/views/file_numbers.html';
  var PRE_ART_STATE_NAME = 'Pre-ART (Continue)';
  var PERSON_ID = fetchArgumentFromUrlString('person_id');
  var GUARDIAN_ID = fetchArgumentFromUrlString('guardian_id');
  var PROGRAM_ID = sessionStorage.getItem('programID');
  var PATIENT_FILE_LABEL = 'personData.lbl';
  var GUARDIAN_FILE_LABEL = 'guardianLabel.lbl';

  function init() {
    filingNumberIsActivated({
      authToken: sessionStorage.getItem('authorization')
    });
  }

  function setPatientDemographics(personId) {
    getDemographics(personId);
  }

  function fetchPersonNationalId() {
    var options = arguments.length > 0 && arguments[0] !== undefined ? arguments[0] : {};

    var url = API_PATH + '/patients/' + options.personId + '/labels/national_health_id';
    var token = options.authToken;

    var req = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('MicrosoftXMLHTTP');
    req.onload = function () {
      if (req.status === 200) {
        options.success(req.responseText);
      } else if (req.status >= 400) {
        options.error(error);
      }
    };

    req.open('GET', url, options.async);
    req.setRequestHeader('Authorization', options.authToken);
    req.send();
  }

  function printPersonInformation() {
    var options = arguments.length > 0 && arguments[0] !== undefined ? arguments[0] : {};

    setPatientDemographics(options.personId);

    fetchPersonNationalId({
      personId: options.personId,
      authToken: sessionStorage.getItem('authorization'),
      async: true,
      success: function success(data) {
        print({
          filename: options.filename,
          data: data
        });
      },
      error: function (_error) {
        function error(_x3) {
          return _error.apply(this, arguments);
        }

        error.toString = function () {
          return _error.toString();
        };

        return error;
      }(function (error) {
        options.error(error);
      })
    });
  }

  function print() {
    var options = arguments.length > 0 && arguments[0] !== undefined ? arguments[0] : {};

    var el = document.createElement('a');
    el.setAttribute('href', 'data:application/label;charset=utf-8,' + encodeURIComponent(options.data));
    el.setAttribute('download', options.filename);
    el.style.display = 'none';
    document.body.appendChild(el);
    el.click();
    document.body.removeChild(el);
  }

  function redirectPage() {
    sessionStorage.showPregnantQuestion = 'true';
    sessionStorage.showWeightChart = 'true';

    if (useFilingNumbers && parseInt(sessionStorage.programID) === 1) {
      document.location = FILING_NUMBERS_ROUTE + '?patient_id=' + PERSON_ID;
    } else {
      nextEncounter(sessionStorage.patientID, 1, true);
    }
  }

  function filingNumberIsActivated() {
    var options = arguments.length > 0 && arguments[0] !== undefined ? arguments[0] : {};

    GET({
      url: API_PATH + '/global_properties?property=use.filing.numbers',
      async: true,
      headers: {
        'Authorization': options.authToken
      }
    }, {}, function (data) {
      useFilingNumbers = data['use.filing.numbers'] === 'true' ? true : false;
      createPatientState({
        patientId: PERSON_ID,
        programId: PROGRAM_ID,
        authToken: sessionStorage.getItem('authorization'),
        stateName: PRE_ART_STATE_NAME,
        success: function success(data) {
          printPersonInformation({
            personId: PERSON_ID,
            filename: PATIENT_FILE_LABEL
          });
          if (GUARDIAN_ID) {
            printPersonInformation({
              personId: GUARDIAN_ID,
              filename: GUARDIAN_FILE_LABEL
            });
          }
          setTimeout(redirectPage, 5000);
        },
        error: function (_error2) {
          function error(_x6) {
            return _error2.apply(this, arguments);
          }

          error.toString = function () {
            return _error2.toString();
          };

          return error;
        }(function (error) {
          console.error(error);
        })
      });
    }, function (error) {
      console.error(error);
    });
  }

  init();
</script>

<style>
  * {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  }

  .print-table {
    display: table;
    width: 99%;
    height: 99%;
  }

  .print-table-row {
    display: table-row;
  }

  .print-table-cell {
    display: table-cell;
    text-align: center;
  }

  .barcode {
    margin-top: 5%;
  }

  .print-table-cell p {
    font-size: 50px;
  }
</style>


<div class="print-table">
  <div class="print-table-row">

    <div class="print-table-cell">
      <img src="/assets/images/zebra-label-printer.jpeg" class="barcode" />
      <p>Printing barcode label.</p>
      <p>Please wait <blink>....</blink>
        <p>
    </div>


  </div>
</div>