<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/demographics.js"></script>
<script type="text/javascript" src="/assets/js/httpUtils.js"></script>
<script>
  var useFilingNumbers = false;
  var API_PATH = sessionStorage.apiProtocol + '://' + sessionStorage.getItem('apiURL') + ':' + sessionStorage.getItem('apiPort') + '/api/v1';
  var FILING_NUMBERS_ROUTE = '/apps/ART/views/filing_number/filing_number_management.html';
  var PERSON_ID = fetchArgumentFromUrlString('person_id');
  var PROGRAM_ID = sessionStorage.getItem('programID');
  const HIV_PROGRAM_ID = 1
  var apiURL = sessionStorage.getItem("apiURL");
  var apiPort = sessionStorage.getItem("apiPort");
  var apiProtocol = sessionStorage.getItem("apiProtocol");

  function init() {
    fetchPersonNationalId();
    filingNumberIsActivated({
      authToken: sessionStorage.getItem('authorization')
    });
  }

  function fetchPersonNationalId() {
    var options = arguments.length > 0 && arguments[0] !== undefined ? arguments[0] : {};
    var url = "/patients/" + PERSON_ID + "/labels/national_health_id"
    url = sessionStorage.apiProtocol + "://" + sessionStorage.apiURL + ":" + sessionStorage.apiPort + "/api/v1" + url;
    document.location = url;
  }

  function redirectPage() {
    sessionStorage.showPregnantQuestion = 'true';
    sessionStorage.showWeightChart = 'true';

    if (useFilingNumbers && (Number(PROGRAM_ID) === HIV_PROGRAM_ID)) {
      checkTypeOfPatient(PERSON_ID);
    } else {
      nextEncounter(PERSON_ID, PROGRAM_ID, true);
    }
  }

  function checkTypeOfPatient(patient_id) {
    var url = apiProtocol + "://" + apiURL + ":" + apiPort + "/api/v1";
    url += '/observations?person_id=' + patient_id;
    url += '&concept_id=3289';

    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 ) {
        if (this.status == 200) {
          var obj = JSON.parse(this.responseText);
          var type_of_pat = 'New patient';
          for(var i = 0 ; i < obj.length; i++){
            type_of_pat = (parseInt(obj[i].value_coded) == 9684 ? 'External consultation' : 'New patient');
          }
          
          if(type_of_pat == 'New patient'){
            document.location = FILING_NUMBERS_ROUTE + '?patient_id=' + patient_id;
          }else{
            nextEncounter(PERSON_ID, PROGRAM_ID, true);
          }

        }
      }
    };
    xhttp.open("GET", url, true);
    xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
    xhttp.setRequestHeader('Content-type', "application/json");
    xhttp.send();
  }

  function filingNumberIsActivated() {
    var options = arguments.length > 0 && arguments[0] !== undefined ? arguments[0] : {};

    GET({
      url: API_PATH + '/global_properties?property=use.filing.numbers',
      async: true,
      headers: {
        'Authorization': options.authToken
      }
    }, {}, function (data) {
      useFilingNumbers = data['use.filing.numbers'] === 'true' ? true : false;
      setTimeout(redirectPage, 5000);
    }, function (error, status) {
      console.error(error)
      setTimeout(redirectPage, 5000)
    });
  }

  window.onload = init;
</script>

<style>
  * {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  }

  .print-table {
    display: table;
    width: 99%;
    height: 99%;
  }

  .print-table-row {
    display: table-row;
  }

  .print-table-cell {
    display: table-cell;
    text-align: center;
  }

  .barcode {
    margin-top: 5%;
  }

  .print-table-cell p {
    font-size: 50px;
  }
</style>


<div class="print-table">
  <div class="print-table-row">

    <div class="print-table-cell">
      <img src="/assets/images/zebra-label-printer.jpeg" class="barcode" />
      <p>Printing barcode label.</p>
      <p>Please wait <blink>....</blink>
        <p>
    </div>


  </div>
</div>
