
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<!-- <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script> -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/apps/ART/assets/js/arv_number.js"></script>

<script type="text/javascript" src="/assets/js/State.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/programs.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<script>
  var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + sessionStorage.patientID;

  function enroll () {
    document.location = '/views/patient/enroll_patient_into_program.html'
  }
</script>

<style>
#clearButton { display: none; }

.main-table {
  display: table;
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.left-cell {
  width: 30%;
  float: left;
}

.program-tables {
  width: 100%;
  border-collapse: separate;
  margin: 5px;
  border-spacing: 20px;
  color: black;
}

.program-names {
  border-style: solid;
  border-width: 1px;
  text-align: center;
  line-height: 20px;
  height: 50px;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

#cell-right {
  width: 68%;
  float: right;
  vertical-align: top;
  height: 575px;
  border-style: solid;
  border-width: 0px 0px 0px 1px;

}

.states {
  border: solid 1px;
  width: 98%;
  border-radius: 9px;
  box-shadow: 5px 10px #888888;
}

.states th {
  text-align: left;
}


#cell-left {
  width: 30%;
  float: left;
}

#inputFrame0 {
  overflow: auto;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 36%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

ul li {
  border: 1px solid #ddd; /* Add a thin border to each list item */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Add a grey background color */
  padding: 12px; /* Add some padding */
}

.modal-footer{
  margin-top: 10px; 
}
.active-reason {
        background-color: rgb(189, 189, 236);
    }
</style>


<body id="mateme">
  <div id="container">
    <div id="content">

      <form>
      
        <input type="text" name="summary"
          tt_onLoad="__$('keyboard').style.display = 'none';setUpProgramPage();"
          tt_pageStyleClass= "NoControls" helpText="Programs" optional = "true"/>

      </form>
      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content"> 
          <!-- <div class="modal-content" style="margin-left: 28%; margin-right:10%; width: 70%; height: 20%;"> -->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Are you sure you want to void this state?</h4>
                <h5 class="modal-title">Please specify reason for voiding</h5>
            </div>
            <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item reason" onclick="selectReason(this)">Mistake / Wrong Entry</li>
                        <li class="list-group-item reason" onclick="selectReason(this)">System Error</li>
                        <li class="list-group-item reason" onclick="selectReason(this)">Duplicate Entry</li>
                    </ul>
            </div>
            <div class="modal-footer">
                <button type="button" style="float:left" class="btn btn-default btn-lg" id="modal-btn-si" disabled>yes</button>
                <button type="button" style="float:right" onclick="closeModal();" class="btn btn-primary btn-lg" id="modal-btn-no">No</button>
            </div>
        <!-- </div> -->
        </div>
      
      </div>
      <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="top:25%; "
      aria-hidden="true" id="mi-modal">
     <div class="modal-dialog modal-lg">
         
     </div>
 </div>
   </div>
 </div>
</body>

