<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/httpUtils.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<style>
  #Unknown {
  display: inline !important;
}

.tt_controls_outcome_month #keyboard {
  display: none !important;
}

#tt_page_outcome_month #viewport {
  height: 95%;
}

#tt_page_outcome_month .inputFrameClass {
  height: 88%;
  width: 96%;
}

</style>

<script>
  tt_cancel_destination = "/views/patient/programs.html?patient_id=" + sessionStorage.patientID;


function setAbsoluteMaxOutcomeYear(){
  var element = document.getElementById('touchscreenInput' + tstCurrentPage);
  element.setAttribute("absoluteMax", (new Date().getFullYear()));
  element.setAttribute("min", (new Date().getFullYear() - 100)); 
  element.setAttribute("absoluteMin", (new Date().getFullYear() - 120)); 
}

function setUpPageForDateValidation() {
  var nextBtn =  __$("nextButton");
  nextBtn.setAttribute('onmousedown',"validateOutcomeDate();");
  nextBtn.setAttribute('onclick',"");

  if(transferring_out == false)
    nextBtn.innerHTML = '<span>Finish</span>';

}

var set_dob;

function validateOutcomeDate() {
  setOutcomeDate();
  var valid_date = validateEnteredDate(set_dob);

  if(!valid_date){
    showMessage("Invalid Date");
    return;
  }

  currDate  = new Date();
  currDate  = new Date(currDate.getFullYear() + "-" + (currDate.getMonth() + 1) + "-" + (currDate.getDate() + 1));
  setDate   = new Date(set_dob);
  
  if(setDate > currDate){
    alert(currDate);
    alert(setDate);
    alert(setDate > currDate);
    showMessage("Outcome date can not be greater than the current date");
    return;
  }
 
  if(transferring_out == true){ 
    gotoNextPage();
  }else{
    submitOutcome();
  }
}

function setOutcomeDate() {
  try {
    dob_year = document.getElementById('outcome_year').value; //getElementsByTagName("input")[0].value
  }catch(e){ dob_year = dob_year }
  try {
    dob_month = document.getElementById('outcome_month').value; //getElementsByTagName("input")[0].getAttribute('tstvalue')
    if (dob_month.length == 1)
      dob_month = 0 + dob_month
  }catch(e){ dob_month = dob_month }
  try {
    dob_day = document.getElementById('outcome_day').value; //getElementsByTagName("input")[0].value
    if(dob_day.length < 1)
      dob_day = document.getElementById('touchscreenInput' + tstCurrentPage).value; //getElementsByTagName("input")[0].value

    if (dob_day.length == 1)
      dob_day = 0 + dob_day
  }catch(e){ dob_day = dob_day }

  set_dob = (dob_year + '-' + dob_month + '-' + dob_day)
}
  
function validateMonth() {
  var nextBtn =  __$("nextButton");
  nextBtn.setAttribute('onmousedown',"validateOutcomeYearMonth();");
  nextBtn.setAttribute('onclick',"");
}

function validateOutcomeYearMonth() {
  setYear = parseInt(document.getElementById('outcome_year').value);
  if(setYear == (new Date().getFullYear())){
    var element = document.getElementById('touchscreenInput' + tstCurrentPage);
    var selectedMonth = parseInt(element.getAttribute('tstValue'));
    var currMonth     = parseInt(new Date().getMonth() + 1);
    if(selectedMonth > currMonth){
      showMessage("Selected month is greater than current month");
      return;
    }
  }

  gotoNextPage();
}

function validateEnteredDate(inputText){
  // Match the date format through regular expression
  if(inputText.match(/-/i)) {

    //Test which seperator is used '/' or '-'
    var pdate = inputText.split('-');

    var dd = parseInt(pdate[2]);
    var mm  = parseInt(pdate[1]);
    var yy = parseInt(pdate[0]);

    if(dd == 0){
      return false;
    }

    // Create list of days of a month [assume there is no leap year by default]
    var ListofDays = [31,28,31,30,31,30,31,31,30,31,30,31];
    if (mm==1 || mm>2){
      if (dd>ListofDays[mm-1]) {
        //alert('Invalid date format!');
        return false;
      }
    }
  
    if (mm==2) {
      var lyear = false;
      if ( (!(yy % 4) && yy % 100) || !(yy % 400)){
        lyear = true;
      }
  
      if ((lyear==false) && (dd>=29)) {
        //alert('Invalid date format!');
        return false;
      }
  
      if ((lyear==true) && (dd>29)){
        //alert('Invalid date format!');
        return false;
      }
    }
  }else{
    //alert("Invalid date format!");
    //document.form1.text1.focus();
    return false;
  }

  return true;
}

var transferring_out = false;

function transferringOut() {
  var i = document.getElementById('states');
  transferring_out = false;

  if(parseInt(i.value) == 1744) {
    transferring_out = true;
  }
}

function validateLocation() {
  var nextBtn = document.getElementById('nextButton');
  nextBtn.setAttribute('onmousedown','submitOutcome();');
}

function submitOutcome() { 

  if(transferring_out == true) {
   var location_id = document.getElementById('to_location').value;
    if(location_id.length < 1) {
      showMessage('Please enter TO location');
      return;
    } 
  }

  var outcome_date = getOutcomeDate();

  if(transferring_out == true) {
    state = {
      location_id: document.getElementById('to_location').value,
      state: document.getElementById('states').value,
      date: outcome_date
    }
  }else{
    state = {
      state: document.getElementById('states').value,
      date: outcome_date
    }
  }

  postState(state);
}

function getOutcomeDate() {
  if(estimated_outcome_date != null || estimated_outcome_date != undefined){
    return moment(estimated_outcome_date).format('YYYY-MM-DD');
  }else{
    return moment(set_dob).format('YYYY-MM-DD');
  }
}

function setProgramStates() {
  var programID = fetchStatesUrl();
  console.log(programID)
  // var elem = document.getElementById("touchscreenInput" + tstCurrentPage);
  $('touchscreenInput' + tstCurrentPage).setAttribute('ajaxURL', programID);
  listSuggestions(tstCurrentPage); 
}

function postState(state) {
  var programId = fetchArgumentFromUrlString('program_id')
  var patientId = sessionStorage.getItem('patientID')
  var apiPath = apiProtocol + '://' + apiURL + ':' + apiPort + '/api/v1/programs/' + programId + '/patients/' + patientId + '/states';

  POST (
    {
      url: apiPath,
      async: true,
      headers: {
        'Authorization': sessionStorage.getItem('authorization'),
        'Content-Type': 'application/x-www-form-urlencoded'
      }
    },
    state,
    function (data) {
      showMessage('The patient\'s state was updated successfully.')
      setTimeout(function() {
       document.location = '/views/patient/programs.html'
      }, 3000)
    },
    function (error) {
      console.error(error)
      showMessage('Outcome date cannot be less than date enrolled')
      setTimeout(function() {
        // document.location = '/views/patient/programs.html'
        // document.location = '/views/patient/programs.html?patient_id=' + sessionStorage.patientID;
      }, 3000)
    }
  )
}

var estimated_outcome_date;

function calculatePeriod() {
  var nextBtn = document.getElementById('nextButton');
  nextBtn.setAttribute('onmousedown','estimateOutcomeDate();');
  estimated_outcome_date = null;

  if(transferring_out == false)
    nextBtn.innerHTML = '<span>Finish</span>';

}

// function estimateOutcomeDate() {
//   var outcome_period_estimated = $('outcome_period_estimated').value;
//   if(outcome_period_estimated.length < 1){
//     showMessage('Please estimate the outcome date');
//     return;
//   }  

//   var curr_date = sessionStorage.sessionDate;
//   curr_date = new Date(curr_date);
//   curr_date.setDate(curr_date.getDate() - outcome_period_estimated);
//   estimated_outcome_date = curr_date;

//   if(transferring_out == true){
//     gotoNextPage();
//   }else{
//       submitOutcome();
//   }
// }


  //the date estimate comes in the form of a number and characters eg "2 years ago"
  //so we split it to get the integer part and time units and use that to subtract with the session date
function estimateOutcomeDate() {
  var splitted = $('touchscreenInput3').value.split(' ')

  var integerPart = Number(splitted[0])
  var stringPart = splitted[1].toLowerCase()
  var sessionDate = sessionStorage.sessionDate

  estimated_outcome_date = moment(sessionDate, 'YYYY-MM-DD').subtract(integerPart, stringPart).format('YYYY-MM-DD')

  if (transferring_out === true) {
    gotoNextPage()
  } else {
    submitOutcome()
  }
}

function fetchStatesUrl () {
  return '/programs/' + fetchArgumentFromUrlString('program_id') + '/workflows'
}


</script>

<body id="mateme">

  <script type="text/javascript">
    tt_cancel_destination = "/views/patient/programs.html?patient_id=" + sessionStorage.patientID;
  </script>
  <div id="container">
    <div id="content">

      <form>
        <input type="text" name="states" id="states" 
          field_type="alpha" helpText="State" 
          setvalue="" tt_pageStyleClass="NoKeyboard"
          ajaxURL="/programs/1/workflows" 
          tt_onLoad="setProgramStates();" objectType="states" />

        <select objectType="location" ajaxURL="/locations?name=" 
          allowFreeText="true" 
          condition="$('touchscreenInput0').value == 'Patient transferred out'" 
          field_type="alpha" 
          helpText="Please select facility name" 
          id="facility_name" 
          tt_onUnload="transferring_out = true"
          tt_onLoad="setCurrentLocation();"
          name="facility_name"></select>

        <input type="text" name="state_year" id="outcome_year" helpText="Outcome year" field_type="number" absoluteMin="1900"
          min="1900" tt_onLoad="setAbsoluteMaxOutcomeYear();transferringOut();" tt_pageStyleClass="Numeric NumbersOnly" />

        <select name="outcome_period_estimated" id="outcome_period_estimated" helpText="Outcome estimated period"
          condition="$('outcome_year').value.toLowerCase() == 'unknown'" tt_onLoad="calculatePeriod();__$(keyboard).style.display = none;">
          <option value=""></option>
          <option value="168">6 months ago</option>
          <option value="336">12 months ago</option>
          <option value="504">18 months ago</option>
          <option value="672">24 months ago</option>
          <option value="1344">2 years ago or more</option>
        </select>

        <select name="outcome_month" id="outcome_month" helpText="Outcome month" condition="$('outcome_year').value.toLowerCase() != 'unknown'"
          validationMessage="Please enter a valid date" tt_onUnLoad="" tt_onLoad="validateMonth();__$(keyboard).style.display = none;">
          <option value=""></option>
          <option value="1">Jan</option>
          <option value="2">Feb</option>
          <option value="3">Mar</option>
          <option value="4">Apr</option>
          <option value="5">May</option>
          <option value="6">Jun</option>
          <option value="7">Jul</option>
          <option value="8">Aug</option>
          <option value="9">Sep</option>
          <option value="10">Oct</option>
          <option value="11">Nov</option>
          <option value="12">Dec</option>
          <!-- option value="Unknown">Unknown</option -->
        </select>

        <input type="text" name="outcome_day" id="outcome_day" field_type="number" helpText="Outcome Day" condition="($('outcome_year').value != 'Unknown') && ($('outcome_month').value != 'Unknown')"
          tt_onLoad="getDayOfMonthPicker($('outcome_year').value, $('outcome_month').value);setUpPageForDateValidation();"
          tt_onUnLoad="" />

      </form>

    </div>
  </div>
</body>
