<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <script language="javascript" defer="true">
      tstUsername = "";
      tstUserKeyboardPref = "qwerty";

      var d = new Date();
      d.toDateString();


      function getInput(){
         key = $('touchscreenInput' + tstCurrentPage).getAttribute("key");
         value = $('touchscreenInput' + tstCurrentPage).value;
         sessionStorage.setItem(key, value);
         var d = new Date();           
         sessionStorage.setItem("date_created", d.toDateString())
      }

      // var user_username = document.getElementById("user_username").value;
      //   if (user_username !== "" || user_username !== null){
      //       window.location.href = "/index.html";
      //   }
      //   else{

      //   }


    </script>

    <script type="text/javascript" src="/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
    <script type="text/javascript" src="/apps/core/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/apps/core/assets/js/data.js"></script>
    <script type="text/javascript" src="/apps/core/assets/js/core.js"></script>

  </head>
  <body id="mateme">
    <div id="container">
      <div id="content">
          <!-- <p id="flash_notice" style="color: green">User was successfully Updated.</p> -->
        <form action='/apps/core/views/users/show.html' method= 'POST'>
          <input helpText="First Name" value="" allowFreeText="true" type="text" key="first_name" name="given_name" id="given_name" tt_onUnload="getInput();" ajaxURL="/search/given_name?search_string=" />

          <input helpText="Last Name" key="family_name" value="" field_type="alpha" allowFreeText="true" type="text" name="family_name" id="family_name" tt_onUnload="getInput();" ajaxURL="/search/family_name?search_string=" />

          <input textCase="lower" helpText="Username" value="" key="username" validationRule="\w{6}\w*" validationMessage="Username must have at least SIX characters" tt_onUnLoad="getInput();" type="text" name="user[username]" id="user_username" />

        </form>
        <div id="footer">
        </div>
      </div>
    </div>
  </body>
</html>

<script type="text/javascript">
  var tt_cancel_destination = "/";
  
</script>