<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />


  <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
  <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/data.js"></script>
  <script type="text/javascript" src="/assets/js/core.js"></script>

</head>
<script language="javascript" defer="true">
  var tt_cancel_destination = "/";
      var url = new URL(url);
      var apiURL = sessionStorage.getItem("apiURL");
      var apiPort = sessionStorage.getItem("apiPort");
      var apiProtocol = sessionStorage.getItem("apiProtocol");
      var id = url.searchParams.get("user_id");
      console.log(id);
      tstUsername = "";
      tstUserKeyboardPref = "qwerty";

      var d = new Date();
      d.toDateString();

      function getInput(){
         key = $('touchscreenInput' + tstCurrentPage).getAttribute("key");
         value = $('touchscreenInput' + tstCurrentPage).value;
         sessionStorage.setItem(key, value);
         var d = new Date();           
         sessionStorage.setItem("date_created", d.toDateString())
      }

      function changeNextButton(){
         __$("nextButton").removeAttribute("onmousedown")
         __$("nextButton").onmousedown = function(){
            confirm_password = $('touchscreenInput' + tstCurrentPage).value;
            if (sessionStorage.getItem("password") === confirm_password){
              confirm_password = $('touchscreenInput' + tstCurrentPage).value;
                if (sessionStorage.getItem("password") === confirm_password) {
                  postEdit(id);
                } 
                 }
               else{
                 showMessage("Password Mismatch");
               }
         }
      }
      

    function postEdit(id) {
    getInput();
    var http = new XMLHttpRequest();
    var urlfinal = apiProtocol + '://' + apiURL + ':' + apiPort + '/api/v1/users/' + id;
    var params = JSON.stringify({
      password: confirm_password,
    });
    http.open('PUT', urlfinal, true);
    //Send the proper header information along with the request
    http.setRequestHeader('Content-type', 'application/json');
    http.onreadystatechange = function () { //Call a function when the state changes.
      if (http.readyState == 4) {

        if (http.status == 200) {
          document.location = '/views/users/show.html?user_id=' + id;
        } else if (http.status == 400) {
          alert("Bad Request");
        } else {
          alert("error" + http.status);
        }
      }
    }
    http.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
    http.send(params);

  }
    

    </script>

<body id="mateme">
  <div id="container">
    <div id="content">
      <form action='' method='POST'>

        <input helpText="New Password" key="password" minlength="4" textCase="lower" validationRule="\w{4}\w*"
          validationMessage="Password less than FOUR characters" type="password" name="user[new_password]" id="user_new_password"
          tt_onUnLoad="getInput();" />

        <input helpText="Confirm New Password" textCase="lower" tt_onload="changeNextButton();" key="confirm_password"
          validationRule="\w{4}\w*" validationMessage="Password less than FOUR characters." type="password" name="user[confirm_password]"
          id="user_confirm_password" />

      </form>

      <div id="footer">
      </div>
    </div>
  </div>
</body>

</html>

<script type="text/javascript">
  var tt_cancel_destination = "/";
</script>