<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <script language="javascript" defer="true">
    var apiURL = sessionStorage.getItem("apiURL");
    var apiPort = sessionStorage.getItem("apiPort");
    var apiProtocol = sessionStorage.getItem("apiProtocol");
    tstUsername = "";
    tstUserKeyboardPref = "qwerty";
    var d = new Date();
    d.toDateString();

    function getInput() {
      key = $('touchscreenInput' + tstCurrentPage).getAttribute("key");
      value = $('touchscreenInput' + tstCurrentPage).value;
      sessionStorage.setItem(key, value);
      var d = new Date();
      sessionStorage.setItem("date_created", d.toDateString())
    }

    function changeNextButton() {
      __$("nextButton").removeAttribute("onmousedown")
      __$("nextButton").onmousedown = function () {
        confirm_password = $('touchscreenInput' + tstCurrentPage).value;
        if (sessionStorage.getItem("password") === confirm_password) {
          var http = new XMLHttpRequest();
          var url = apiProtocol + '://' + apiURL + ':' + apiPort + '/api/v1/users';
          var params = JSON.stringify({
            username: sessionStorage.getItem("user_username"),
            password: confirm_password,
            given_name: sessionStorage.getItem("user_given_name"),
            family_name: sessionStorage.getItem("user_family_name"),
            roles: [sessionStorage.getItem("role")]
          });
          http.open('POST', url, true);
          //Send the proper header information along with the request
          http.setRequestHeader('Content-type', 'application/json');

          http.onreadystatechange = function () { //Call a function when the state changes.
            if (http.readyState == 4) {
              if (http.status == 201) {
                var v = JSON.parse(http.responseText);
                window.location.href = "show.html?user_id="+v.user.user_id;
              } else if (http.status == 409) {
                showMessage("Username already exists");
              } else {
                showMessage("error" + http.status);
              }
            }
          }
          http.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
          http.send(params);
        } else {
          showMessage('Password Mismatch', null, 10000000000);
        }
      }
    }
    pos
    function saveSelection() {
        var j = document.getElementById("touchscreenInput2");
        f = j.getAttribute("tstvalue")
        sessionStorage.setItem("selected_role", f);
    }
    
  </script>

  <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
  <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/data.js"></script>

</head>

<body id="">
  <div id="">
    <div id="content">
      <style>
      .tt_controls_first_name #date, #star, #slash, #minus, #plus, #percent, #decimal, #comma { display: none; }

      .tt_controls_last_name #date, #star, #slash, #minus, #plus, #percent, #decimal, #comma { display: none; }

      .tt_controls_username #date, #star, #slash, #minus, #plus, #percent, #decimal, #comma { display: none; }

      .tt_controls_password #date, #star, #slash, #minus, #plus, #percent, #decimal, #comma { display: none; }

      .tt_controls_confirm_password #date, #star, #slash, #minus, #plus, #percent, #decimal, #comma { display: none; }

      </style>
      <form method="POST">
        <input type="text" name="given_name" id="given_name" field_type="alpha" tt_onUnload="getInput();" helpText="First name"
          key="user_given_name" allowFreeText="true" tt_onUnLoad="getInput();" ajaxURL="/search/given_name?search_string=" />

        <input type="text" name="family_name" id="family_name" field_type="alpha" key="user_family_name" tt_onUnLoad="getInput();"
          ajaxURL="/search/family_name?search_string=" helpText="Last name" allowFreeText="true" />

        <select allowFreeText="false" helpText=" Role" id="userRole" name="user_role" tt_onLoad="setRoles('/roles?page_size=100'); $(keyboard).style.display = none;"
          key="role" tt_onUnLoad="saveSelection();getInput();"></select>


        <input helpText="Username" key="user_username" textCase="lower" tt_onload="$(touchscreenInput5).value = ($(user_first_name).value.substring(0,3)+$(user_last_name).value.substring(0,3)).toLowerCase()"
          validationRule="\w{6}\w*" validationMessage="Username must have at least SIX letters" type="text" tt_onUnLoad="getInput();"
          name="user[username]" id="user_username" />

        <input helpText="Password" key="password" minlength="4" textCase="lower" validationRule="\w{4}\w*"
          validationMessage="Password less than FOUR characters" tt_onUnLoad="getInput();" type="password" name="user[plain_password]"
          id="user_plain_password" />

        <input helpText="Confirm Password" tt_onload="changeNextButton();" key="confirm_password" textCase="lower"
          validationRule="\w{4}\w*" validationMessage="Password less than FOUR characters." type="password" name="user_confirm[password]"
          id="user_confirm_password" />

      </form>
      <div id="footer">
      </div>
    </div>
  </div>
</body>

</html>