<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <script language="javascript" defer="true">
      tstUsername = "";
      tstUserKeyboardPref = "qwerty";

      var d = new Date();
      d.toDateString();

      function getInput(){
         key = $('touchscreenInput' + tstCurrentPage).getAttribute("key");
         value = $('touchscreenInput' + tstCurrentPage).value;
         sessionStorage.setItem(key, value);
         var d = new Date();           
         sessionStorage.setItem("date_created", d.toDateString())
      }
      function addInput() {
        __$("touchscreenInput" + tstCurrentPage).value = sessionStorage.getItem("username");
    }

    function showUser() {
                __$("nextButton").removeAttribute("onmousedown");
                document.getElementById('touchscreenInput0').removeEventListener('keyup', checkKey, false);
                document.getElementById('touchscreenInput0').addEventListener('keyup', function(event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                  goToShow(sessionStorage.getItem("user_id"));
                }
                });
                __$("nextButton").onmousedown = function(){
                  goToShow(sessionStorage.getItem("user_id"));
                }
    }

    function goToShow(user_id) {
      window.location.href = 'show.html?user_id='+user_id;
    }

    </script>

    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/data.js"></script>

  </head>
  <body id="mateme">
    <div id="container">
      <div id="content">
        <form action="/views/users/show.html" method="POST">
          <select textCase="lower" helpText="Select username" type="text" name="user[username]" key="username"  tt_onLoad="loadUsernames('/users?page_size=100'); showUser();$(keyboard).style.display = none;" tt_onUnLoad="getInput();" id="user_username" /></select>
            <input type="submit" name="commit" value="Find user" />
        </form>
        <div id="footer">
        </div>
      </div>
    </div>
  </body>
</html>

<script type="text/javascript">
  var tt_cancel_destination = "/";
  
</script>