<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Baobab Health Trust</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/apps/core/assets/css/bootstrap/bootstrap.min.css">
      <link rel="stylesheet" href="/apps/core/assets/css/maindashboard/header.css">
      <link rel="stylesheet" href="/apps/core/assets/css/maindashboard/footer.css">
      <link rel="stylesheet" href="/apps/core/assets/css/custom.css">
      <script src="/apps/core/assets/js/jquery.min.js"></script>
      <script src="/apps/core/assets/js/bootstrap/bootstrap.min.js"></script>
   </head>
   <body>

<style type="text/css">
  .headTab {
    border: 1px solid #004586;
  }
  .headTab {
    height: 120px;
  }
  .headTab {
    overflow: hidden;
  }
  .headTab {
    box-shadow: 5px 2px 5px 0 rgba(0, 0, 0, 0.75);
  }
  .headTab {
    width: 100%;
  }

  .active-link{
    background-color: #345db5;
    border-bottom: 1px solid #ccc;
    color: #fff;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 15px 10px;
    text-align: center;
  }

  #session-date{
    padding-right: 20px;
  }

</style>

<div id="content">
  <table style="font: 14px;-moz-user-select: none; border-collapse: collapse;" width="100%" border="0">
    <tr>
      <td style="width: 25%; padding: 5px 5px 5px 15px;">
        <div class="headTab" id="tableDiv1">
          <table width="100%" cellpadding="1">
            <tr>
              <th style="font-size: 24px; text-align: left; width: 100%; overflow: hidden; font-weight: normal; padding: 5px;" id="patient_name" class="blueText">John Doe</th>
            </tr>
            <tr>
              <th style="text-align: left; font-size: 14px; padding-left: 5px; border-bottom: 1px solid rgb(0, 69, 134);" class="blueText">Identifiers</th>
            </tr>
            <tr></tr>
            <td>
              <table style="font-size: 12px;" width="100%">
                <tr>
                  <td style="text-align: right; font-weight: bold;" class="blueText" id="primary_id_label">National id</td>
                  <td style="text-align: center; width: 3px;">:</td>
                  <td id="primary_id">P1700-0000-0013</td>
                </tr>
              </table>
            </td>
          </table>
        </div></td>
      <td style="width: 36%; padding: 5px;">
        <div class="headTab">
          <table style="font-size: 14px;" width="100%">
            <tr>
              <td style="text-align: right; font-weight: bold; width: 100px;" class="blueText">Gender</td>
              <td style="text-align: center; width: 3px;">:</td>
              <td id="gender">Male</td>
            </tr>
            <tr>
              <td style="text-align: right; font-weight: bold;" class="blueText">Age</td>
              <td style="text-align: center; width: 3px;">:</td>
              <td id="age">25</td>
            </tr>
            <tr>
              <td style="text-align: right; font-weight: bold; vertical-align: top;" class="blueText">Address</td>
              <td style="text-align: center; width: 3px; vertical-align: top;">:</td>
              <td id="addressl1">Amos Kakhosi,</td>
            </tr>
            <tr>
              <td style="text-align: right; font-weight: bold;" class="blueText">&nbsp;</td>
              <td style="text-align: center; width: 3px;">&nbsp;</td>
              <td id="addressl2">Chauma</td>
            </tr>
            <tr>
              <td style="text-align: right; font-weight: bold;" class="blueText">Phone</td>
              <td style="text-align: center; width: 3px;">:</td>
              <td id="phone_number">Unknown</td>
            </tr>
          </table>
        </div></td>
      <td style="width: 25%; padding: 5px;">
        <div class="headTab">
          <table style="font-size: 14px;" width="100%">
            <tr>
              <td style="text-align: right; font-weight: bold; width: 100px;" class="blueText">BP</td>
              <td style="text-align: center; width: 3px;">:</td>
              <td id="bp">?/?</td>
            </tr>
            <tr>
              <td style="text-align: right; font-weight: bold;" class="blueText">Temperature</td><td style="text-align: center; width: 3px;">:</td><td id="temperature">? <sup>o</sup>C</td>
            </tr>
            <tr>
              <td style="text-align: right; font-weight: bold;" class="blueText">Weight (kg)</td><td style="text-align: center; width: 3px;">:</td><td id="weight">?</td>
            </tr>
          </table>
        </div></td><td style="width: 25%; padding: 5px 15px 5px 5px;">
        <div class="headTab" id="modApp" style="text-align: center; cursor: pointer;">
          <table style="margin: auto; border-collapse: collapse;" cellpadding="5" border="0">
            <tr>
              <td style="width: 40px; text-align: right;">
                <img src= "/apps/core/assets/images/diabetes.png"/></td>
            </tr>
          </table>
        </div></td>
    </tr>
    </table>
    </div>



      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
         <div class="modal-dialog" name="div2">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Select module</h4>
               </div>
               <!-- <button class="carousel-control-next" style="left:0; top:0%;; height:100%;position:absolute;"> < </button> -->
               <!-- <span class="arrow"></span> -->
               <button class="previous round">
               <</button>
               <button class="next round">></button>
               <div class="modal-body">
                  <div class="container">
                     <div class="row" id="modal-div">
                        <template id="card_template">
                           <!-- <div class="" > -->
                           <div class="card col-3 col-sm-2 col-lg-3" id="cardDiv" style="margin: 1%;">
                              <a href="#" class="card-block clearfix" id="moduleButton">
                                 <img alt="Avatar" style="width:200px; height: 200px;" id="cardImage">
                                 <div class="middle">
                                    <div class="text">
                                       <p id="apptext"></p>
                                    </div>
                                 </div>
                                 <div class="card-container">
                                    <h4>
                                       <b id="appName"></b>
                                    </h4>
                                    <p id="appDescription"></p>
                                 </div>
                              </a>
                           </div>
                           <!-- </div> -->
                        </template>
                     </div>
                  </div>
               </div>
               <div class="modal-footer">
                  <button class="closeModal" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
      <!-- Modal -->
      <footer class="footer">
         <div class="container-footer">
            <button style="margin: 5px 0px 0px; float: right;" onclick="finish();" class="green right" id="btnNext">
              <span>Finish</span>
            </button>
            <button class="btn btn-success buttons" style="margin-right: 5px;" data-toggle="modal" data-target="#myModal">
            <span>&nbsp; &nbsp; &nbsp; Modules &nbsp; &nbsp; &nbsp;<img src="/public/assets/images/launcher.png"></span></button>
         </div>
         </div>
      </footer>
   </body>
   <script src="apps/core/assets/js/core.js "></script>
   <script>
      (document.getElementsByClassName("overview-btns ")[0]);
      changeModule();

      function finish(){
         window.location = "/";
      }
   </script>
</html>