<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Baobab Health Trust</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/apps/core/assets/css/bootstrap/bootstrap.min.css">
      <link rel="stylesheet" href="/apps/core/assets/css/maindashboard/header.css">
      <link rel="stylesheet" href="/apps/core/assets/css/maindashboard/footer.css">
      <link rel="stylesheet" href="/apps/core/assets/css/custom.css">
      <script src="/apps/core/assets/js/jquery.min.js"></script>
      <script src="/apps/core/assets/js/bootstrap/bootstrap.min.js"></script>
      <script type="text/javascript">
         $(document).ready(function(){
              console.log('call the getFunction to retrieve the saved client data');
         });
      </script>
   </head>
   <body>
   <style type="text/css">
         .headTab {
         border: 1px solid #004586;
         }
         .headTab {
         height: 120px;
         }
         .headTab {
         overflow: hidden;
         }
         .headTab {
         box-shadow: 5px 2px 5px 0 rgba(0, 0, 0, 0.75);
         }
         .headTab {
         width: 100%;
         }
         .active-link{
         background-color: #345db5;
         border-bottom: 1px solid #ccc;
         color: #fff;
         cursor: pointer;
         margin-bottom: 5px;
         padding: 15px 10px;
         text-align: center;
         }
         #session-date{
         padding-right: 20px;
         }
      </style>
      <script>
         function changeIcon(gender){
           var img = document.getElementById('icon_id');
           if(gender === "Male" ){
             img.setAttribute("src", "/apps/core/assets/images/Person_Undefined_Male_Dark.png");
           }
           else{
             img.setAttribute("src", "/apps/core/assets/images/Person_Undefined_Female_Dark.png");
           }
         }
         
         
      </script>
      <div id="content">
         <table style="font: 14px;-moz-user-select: none; border-collapse: collapse;" width="100%" border="0">
            <tr>
               <td style="width: 10%; padding: 5px;">
                  <div class="cells">
                     <table style="font-size: 14px;" width="100%">
                        <tr style="width: 5%; vertical-align: middle; text-align: left;">
                           <img id="icon_id" alt="icon">
                        </tr>
                     </table>
                  </div>
               </td>
               <td style="width: 35%; padding: 5px 5px 5px 15px;">
                  <div class="headTab" id="tableDiv1">
                     <table width="100%" cellpadding="1">
                        <tr>
                           <th style="font-size: 24px; text-align: left; width: 100%; overflow: hidden; font-weight: normal; padding: 5px;" id="patient_name" class="blueText">John Doe</th>
                        </tr>
                        <tr>
                           <th style="text-align: left; font-size: 14px; padding-left: 5px; border-bottom: 1px solid rgb(0, 69, 134);" class="blueText">Identifiers</th>
                        </tr>
                        <tr></tr>
                        <td>
                           <table style="font-size: 12px;" width="100%">
                              <tr>
                                 <td style="text-align: left; font-weight: bold;" class="blueText" id="primary_id_label">National id</td>
                                 <td style="text-align: left;">:</td>
                                 <td id="primary_id">P1700-0000-0013</td>
                              </tr>
                           </table>
                        </td>
                     </table>
                  </div>
               </td>
               <td style="width: 35%; padding: 5px;">
                  <div class="headTab">
                     <table style="font-size: 14px;" width="100%">
                        <tr>
                           <td style="text-align: right; font-weight: bold; width: 100px;" class="blueText">Gender</td>
                           <td style="text-align: center; width: 3px;">:</td>
                           <td id="gender">Male</td>
                        </tr>
                        <tr>
                           <td style="text-align: right; font-weight: bold;" class="blueText">Age</td>
                           <td style="text-align: center; width: 3px;">:</td>
                           <td id="age">25</td>
                        </tr>
                        <tr>
                           <td style="text-align: right; font-weight: bold; vertical-align: top;" class="blueText">Address</td>
                           <td style="text-align: center; width: 3px; vertical-align: top;">:</td>
                           <td id="addressl1">Amos Kakhosi,</td>
                        </tr>
                        <tr>
                           <td style="text-align: right; font-weight: bold;" class="blueText">&nbsp;</td>
                           <td style="text-align: center; width: 3px;">&nbsp;</td>
                           <td id="addressl2">Chauma</td>
                        </tr>
                        <tr>
                           <td style="text-align: right; font-weight: bold;" class="blueText">Phone</td>
                           <td style="text-align: center; width: 3px;">:</td>
                           <td id="phone_number">Unknown</td>
                        </tr>
                     </table>
                  </div>
               </td>
               <td style="width: 25%; padding: 5px 15px 5px 5px;">
                  <div class="headTab" id="modApp" style="text-align: center; cursor: pointer;">
                     <table style="margin: auto; border-collapse: collapse;" cellpadding="5" border="0">
                        <tr>
                           <td style="width: 40px; text-align: right;">
                              <img id="appIcon"/>
                           </td>
                        </tr>
                     </table>
                  </div>
               </td>
            </tr>
         </table>
      </div>
      <tr>
         <td style="width: 100%; padding: 5px 15px;" colspan="2">
            <div id="main" style="width: 100%; box-shadow: 5px 2px 5px 0px rgba(0, 0, 0, 0.75); overflow: hidden; height: 534px; border: 1px solid rgb(52, 93, 181);">
               <table style="border-collapse: collapse; border: 1px solid rgb(52, 93, 181);" width="100%" cellspacing="0" cellpadding="5" border="1">
                  <tr style="background-color: rgb(52, 93, 181);">
                     <td style="width: 200px; border-right: 1px solid rgb(255, 255, 255); color: rgb(255, 255, 255); text-align: left; font-weight: bold; padding-left: 10px;">Visit History
                     </td>
                     <td style="border-right: 1px solid rgb(255, 255, 255); color: rgb(255, 255, 255); text-align: center; font-weight: bold;" id="header">Date:
                        <span id="session-date">13 Sept 2018</span>
                        <span id="session-date" style="color: red; "></span>
                        Next Task: <span id="next-task">&nbsp;HIV REGISTRATION</span>
                     </td>
                  <tr>
                     <td>
                        <div id="visits" style="width: 100%; overflow: auto; height: 502px; border: 1px solid rgb(255, 255, 255);">
                           <ul id="ulVisits" style="list-style: outside none none; width: 100%; padding: 0px; margin: 0px;">
                           </ul>
                        </div>
                     </td>
                  </tr>
                  </tr>
               </table>
            </div>
         </td>
      </tr>
      <!-- Modal -->
      <div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false" role="dialog">
         <div class="modal-dialog" name="div2">
            <div class="modal-content" style="margin-left:0px;">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Select module</h4>
               </div>
               <!-- <button class="previous round">
                  <</button>
                  <button class="next round">></button> -->
               <div class="modal-body">
                  <div class="container">
                     <div class="row" id="modal-div">
                        <template id="card_template">
                           <!-- <div class="" > -->
                           <div class="app-btn" id="cardDiv" style="margin: 10px;">
                              <a href="#" class="card-block clearfix" id="moduleButton">
                                 <img alt="Avatar" style="width:70px; height: 60px; margin-top: 10%;" id="cardImage">
                                 <div class="middle">
                                    <div class="text">
                                       <p id="apptext"></p>
                                    </div>
                                 </div>
                                 <div class="card-container">
                                    <h4>
                                       <b id="appName"></b>
                                    </h4>
                                    <p id="appDescription"></p>
                                 </div>
                              </a>
                           </div>
                           <!-- </div> -->
                        </template>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Modal -->
      <footer class="footer">
         <div class="container-footer">
            <button onclick="finish();" class="button green navButton" style="margin-right: 5px; padding: 0px;" id="finishbutton"><span>&nbsp; &nbsp; &nbsp;Finish &nbsp; &nbsp; &nbsp;</span></button>
            <button class="btn btn-success buttons blue" style="margin-right: 5px;" data-toggle="modal" data-target="#myModal">
            <span>&nbsp;&nbsp;Applications&nbsp;&nbsp;<img src="/public/assets/images/launcher.png"></span></button>
            <button class="btn btn-success buttons blue" style="margin-right: 5px;" data-toggle="modal" data-target="#myModal">
            <span>&nbsp; &nbsp; &nbsp; Activities &nbsp; &nbsp; &nbsp;</span></button>
            <button class="btn btn-success buttons blue" style="margin-right: 5px;" data-toggle="modal" data-target="#myModal">
            <span>&nbsp; &nbsp; &nbsp; Tasks &nbsp; &nbsp; &nbsp;</span></button>
         </div>
         </div>
      </footer>
   </body>
   <script src="/apps/core/assets/js/core.js "></script>
   <script>
      (document.getElementsByClassName("overview-btns ")[0]);
      changeModule();
       
      function finish(){
         window.location = "/";
      }
      
      changeIcon("Male");
      document.getElementById('appIcon').setAttribute("src", sessionStorage.getItem('applicationImage'));
   </script>
</html>

